// ---------------------------------------------------------------
// Gift card detail section
// ---------------------------------------------------------------

.gift-card-detail{
    display: flex;
    width: 44em;
    margin: 3em auto 2em auto;
}

.gift-card-img-carousel{
    width: 65%;
    margin: 0 1.5em;

    img{
        width: 100%;
    }
}

.gift-card-description{
    width: 55%;

    .sect-subtitle{
        text-align: left;
    }
}

.gift-card-description-title{
    margin: 0 0 1em 0;
}

.gift-card-tc{
    margin-top: 1em;
}

.snipcart-add-item{
    border: none;
}