---

layout: 'base.njk'
title: 'LIMITLESS ABUNDANCE in career and business with Mhairi Todd - The Roadblock Coach'
metaDescription: 'We get laser focused to deliver you career/business clarity like you’ve never experienced.'

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container la-workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="right-hero-text">
            <h1 class="sect-title">LIMITLESS ABUNDANCE</h1>
            <h2 class="sect-subtitle">In career and business</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <h2 class="sect-title">
            The details
        </h2>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                    A 1hr 15min lecture style workshop. We get laser focused to deliver you career/business clarity like you’ve never experienced. Tap into your heart's desires and get crystal clear on your unique journey to limitless abundance 
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Wednesday 30th June at 8pm GMT
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via unique weblink
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Tickets
                </h4>
                <p class="normal-text">
                    £15 pp
                </p>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <!-- what is it section -->
    <section class="simple-section bg-gray">
        <div class="simple-section-text">
            <p class="normal-text">
                When you hear the word abundance in relation to your career or business, what does it conjure for you?
            </p>
            <p class="normal-text">
                Maybe it’s lovely images of the ultimate time freedom or wealth.  Perhaps though it triggers a more negative narrative; self doubt and a ‘that’s not for people like me’ monologue.
            </p>
            <p class="normal-text">
                Wherever you are at, I’ve got you covered.  The first step towards abundance in your career or business is to get crystal clear on 5 non-negotiable’s:
            </p>
            <div class="intro-list">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">What you truly desire for yourself in your career or business.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">What abundance in this area looks, feels and flows like.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">What YOUR model of true success is.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">The personal roadblocks standing in your way.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Your crucial next, right step to take
                        .</span>
                    </li>
                </ul>
            </div>
            <p class="normal-text">
                Sound good?<span class="fw-b"> It will be!</span> 
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS3"
                data-item-price="15"
                data-item-url="/business-workshops/limitless-abundance"
                data-item-description="Limitless Abundance in Career and Business Workshop"
                data-item-image=""
                data-item-name="Limitless Abundance in Career and Business Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: what is it section -->

    <div class="circle-img">
        <img src="/../static/img/Mhairi_pics/coat-pull-comp.jpg" alt="Mhairi-on-phone">
    </div>

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            THIS IS FOR YOU IF 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">You are not completely satisfied in your current career or business</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">You are not sure what abundance looks like for you in this part of your life or how to achieve it</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Your vision of success isn’t clear</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Time, money or self belief are standing in your way </span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">You want to identify the next, right step to take towards limitless abundance in your career or business</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

        <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR THE LIMITLESS ABUNDANCE WORKSHOP 
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text law replay-avail">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS3"
                data-item-price="15"
                data-item-url="/business-workshops/limitless-abundance"
                data-item-description="Limitless Abundance in Career and Business Workshop"
                data-item-image=""
                data-item-name="Limitless Abundance in Career and Business Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content cc-workshop-includes">
            <div class="home-about-img">
                <img src="/../static/img/Mhairi_pics/mhairi_on_phone.jpg" alt="mhairi-life-coach-on-phone">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    Upon leaving this workshop you will have gained the following: 
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text"><span class="fw-b">OPEN TO MORE.</span> Through a powerful guided mediation, we will tap into what you truly desire for yourself in your career or business.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text"><span class="fw-b">AWARE & EMPOWERED.</span> I’ll help you uncover your unique model for success so you can start to create or work towards genuine gratification.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text"><span class="fw-b">NAVIGATING LIMITS.</span> We will look at where you are currently imposing limits on abundance and how to start navigating through these.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text"><span class="fw-b">IN FLOW WITH YOUR NEXT STEP.</span> Finally, through a powerful NLP technique, we will work from your seat of intuition to uncover the next right step towards all that you desire.</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#WS3"
                    data-item-price="15"
                    data-item-url="/business-workshops/limitless-abundance"
                    data-item-description="Limitless Abundance in Career and Business Workshop"
                    data-item-image=""
                    data-item-name="Limitless Abundance in Career and Business Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="/../static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS3"
                data-item-price="15"
                data-item-url="/business-workshops/limitless-abundance"
                data-item-description="Limitless Abundance in Career and Business Workshop"
                data-item-image=""
                data-item-name="Limitless Abundance in Career and Business Workshop">
                JOIN ME FOR THE LIMITLESS ABUNDANCE WORKSHOP
            </button>
        </div>
    </section>
