---

layout: 'base.njk'

---

<hr class="half-width-hr">
<section>
    {# <h2 class="sect-title">
        Give the gift of a limitless life
    </h2> #}
    <div class="gift-card-detail">
        <div id="primary-slider" class="gift-card-img-carousel splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide"><img class="gift-card-splide-img" src="/static/img/Mhairi_pics/limitless-voucher-front.jpg"></li>
                    <li class="splide__slide"><img class="gift-card-splide-img" src="/static/img/Mhairi_pics/limitless-voucher-back.jpg"></li>
                    <li class="splide__slide"><img class="gift-card-splide-img" src="/static/img/Mhairi_pics/flow-fancy-clear-quartz.jpg"></li>
                </ul>
            </div>
        </div>
        <div class="gift-card-description">
            <div class="gift-card-description-title">
                <div class="sect-subtitle">
                    Give the gift of a limitless life
                </div>
                <div class="sect-subtitle pink-text">
                    I am limitless - £100
                </div>
            </div>
            <hr class="half-width-hr d-md-none">
            <div class="gift-card-contains">
                <div class="normal-text">
                    <p class="fw-b mb-0">
                        Contains:
                    </p>
                    <ul>
                        <li>£100 Coaching Gift Voucher and Envelope</li>
                        <li>Flow & Fancy Clear Quartz on Silver Necklace in Gift Box</li>
                    </ul>
                </div>
            </div>
            <div class="gift-card-details">
                <div class="gift-card-info normal-text">
                    Clear your roadblocks and your energy. <br><br>

                    'I am limitless’ allows the recipient to break through their barriers with £100 gift voucher redeemable against a coaching package of their choice.  
                    <br><br>
                    In addition, this superior clear quartz crystal on a beautiful silver chain will align the chakras, clear the mind and amplify intention.
                    Wear it and repeat, ‘I am limitless’
                </div>
                <div class="gift-card-tc normal-text">
                    <p class="fw-b mb-0">
                        The details:
                    </p>
                    <ul class="gift-card-tc-list">
                        <li>Gift Voucher valid until December 2021, for a one time redemption only.</li>
                        <li>Silver 18" necklace comes in gift box, wrapped in hand tie dyed fabric</li>
                        <li>To redeem voucher book free call through The Roadblock Coach website and quote voucher number</li>
                    </ul>
                </div>
            </div>
            <div class="about-cta-btn gift-card-buy-btn">
                <button class="btn-pink normal-text snipcart-add-item"
                    data-item-id="#38"
                    data-item-price="1"
                    data-item-url="/gift-cards/i-am-limitless"
                    data-item-description="£100 Coaching Gift Voucher and Envelop. Flow & Fancy Clear Quartz on Silver Necklace in Gift Box"
                    data-item-image="/static/img/Mhairi_pics/limitless-voucher-front.jpg"
                    data-item-name="Give the gift of a limitless life - I Am Limitless">
                    Add to cart
                </button>
            </div>
        </div>
    </div>
</section>
<hr class="half-width-hr">


