$nav-background: $light-pink;
$nav-width: 20rem;
$nav-z-index: 1;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-width: 3.6rem;
$nav-toggle-z-index: 2;

.nav {
  -webkit-transition: right .8s ease;
  -moz-transition: right .8s ease;
  -ms-transition: right .8s ease;
  -o-transition: right .8s ease;
  transition: right .8s ease;
  background: $light-pink;
  color: green($color: #000000);
  cursor: pointer;
  right: -23rem;
  padding: 1em 2em 1em 2em;
  position: fixed;
  top: 15px;
  height: 29em;
  width: 20em;
  z-index: 99;
  
  @media #{$breakpoint-sm} {
    height: 26em;
    width: 19em;
    padding: 1em 1em 1em 2em;
  }
  @media #{$breakpoint-min-md} {
    padding: 1em 1.5em 1em 1.5em;
  }
  @media #{$breakpoint-md} {
    height: 24em;
    width: 16.5em;
  }
  @media #{$breakpoint-lg} {
    padding: 1em 2em .6em 1.5em;
    height: 21.5em;
    width: 15em;
  }
  @media #{$breakpoint-xl} {
    padding: 1em 1em .8em 1.3em;
    height: 19.5em;
    width: 14em;
  }
  @media #{$breakpoint-xxl} {
    padding: 1em 1em .5em 1em;
    height: 17.5em;
    width: 12em;
  }
}

.nav.expanded { 
  right: 0; 
  @media #{$breakpoint-min-md} {
    top: 15px;
    right: 15px; 
  }

}

.nav ul {
  position: relative;
  text-align: start;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.nav-item{
  margin: .7em 0;
  font-size: .9em;
  font-family: $font-biko;
  @media #{$breakpoint-sm} {
    font-size: .95em;
  }
  @media #{$breakpoint-md} {
    font-size: 1em;
  }
  @media #{$breakpoint-lg} {
    font-size: 1em;
  }
  @media #{$breakpoint-xl} {
    font-size: 1em;
  }
  @media #{$breakpoint-xxl} {
    font-size: 1.1em;
  }
  
}

.dropdown-toggle{
  text-decoration: none;

  &:hover{
    color: $base-text-color;
  }
}

.dropdown-menu{
  width: 25em;
  @media #{$breakpoint-md} {
    width: 34em;
    position: absolute;
    left: -89px;
  }

  @media #{$breakpoint-lg} {
    width: 34em;
    position: absolute;
    left: -89px;
  }
  @media #{$breakpoint-xl} {
    width: 34em;
    position: absolute;
    left: -89px;
  }

  .dropdown-item{

    @media #{$breakpoint-xl}, #{$breakpoint-xxl}{
      padding: .25rem 1rem;
    }
  }
}

.nav-close{
  text-align: right;
  margin: 0;

  svg{
    width: auto;
    height: 36px;
  }
}

.nav-item a{
  color: $base-text-color;
  line-height: 1.9;
  
}

.nav-item a:hover{
  text-decoration: none;
  font-variant: small-caps;
}

.toggle-header{
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: $gray;
  top: 0;
  bottom: 0;
  z-index: 99;
  text-align: initial;
  @media #{$breakpoint-min-md}{
    background-color: transparent;
  }
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: absolute;
  top: 0.5rem;
  width: 2.4rem;
  z-index: 2;
  @media #{$breakpoint-sm}{
    top: .3rem;
  }
  @media #{$breakpoint-md}, #{$breakpoint-lg}{
    top: 1.5rem;
  }
  @media #{$breakpoint-xl}{
    top: 1rem;
    width: 2rem;
  }
  @media #{$breakpoint-xxl}{
    top: 1rem;
    width: 1.8rem;
  }
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  right: 0.3%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: black;
  content: '';
  height: 0.1rem;
  width: 100%;
  @media #{$breakpoint-lg}{
    height: 0.1rem;
  }
  @media #{$breakpoint-xl}{
    height: 0.06rem;
  }
}

.nav-toggle .nav-toggle-bar { margin-top: 0; }

.nav-toggle .nav-toggle-bar::after { 
  margin-top: 0.5rem; 
  @media #{$breakpoint-md}, #{$breakpoint-lg}{
    margin-top: 0.4rem;
  }
  @media #{$breakpoint-xl}{
    margin-top: 0.3rem;
  }

}

.nav-toggle .nav-toggle-bar::before { 
  margin-top: -0.5rem; 
  @media #{$breakpoint-md}, #{$breakpoint-lg}{
    margin-top: -0.4rem;
  }
  @media #{$breakpoint-xl}{
    margin-top: -0.3rem;
  }
}

.nav-toggle.expanded .nav-toggle-bar { 
  // background: transparent; 
  -ms-transform:  translateX(-4500px);
  -webkit-transform:  translateX(-4500px);
  transform:  translateX(-4500px);

}

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: black;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform:  translateX(-4500px);
  -webkit-transform:  translateX(-4500px);
  transform:  translateX(-4500px);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform:  translateX(-4500px);
  -webkit-transform:  translateX(-4500px);
  transform:  translateX(-4500px);
}

.nav-toggle-text{
  font-size: .7em;
  position: absolute;
  letter-spacing: .3em;
  left: 0px;
  top: 25px;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: transform 1.5s ease;
  @media #{$breakpoint-sm} {
    margin-top: .4em;
  }
  @media #{$breakpoint-min-md} {
    transform: rotate(90deg);
    font-size: .6em;
    position: absolute;
    letter-spacing: .1em;
    left: -30px;
    top: 15px;
  }
  @media #{$breakpoint-xl} {
    font-size: .5em;
    left: -30px;
    top: 18px;
  }
  @media #{$breakpoint-xxl} {
    font-size: .4em;
    left: -30px;
    top: 22px;
  } 
}

.nav-toggle.expanded .nav-toggle-text{
  -ms-transform:  translateX(-4500px);
  -webkit-transform:  translateX(-4500px);
  transform:  translateX(-4500px);
}

.social-nav-item{
  margin: .5em;
  font-size: 1.3em;
  @media #{$breakpoint-lg} {
    font-size: 1.35em;
  }
  @media #{$breakpoint-xl} {
    margin: .4em;
    font-size: 1.5em;
  }
  @media #{$breakpoint-xxl} {
    font-size: 1.3em;
  }
}
 .social-nav{
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 5px;
 }


