
html { height: 100%; overflow:auto; }
body { height: 100%; }
.quiz-full-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $aqua-bg;
    padding: 2em 0;
}

.quiz-intro-fs{
    text-align: center;
    position: absolute;
    height: 7em;
    top: 0;
    margin: auto;
    bottom: 0;
}

.quiz-section{
    height: 30em;
    position: relative;
    @media #{$breakpoint-md} {
        height: 16em;
    }
    @media #{$breakpoint-lg} {
        height: 16em;
    }
    @media #{$breakpoint-xl} {
        height: 15em;
    }
    @media #{$breakpoint-xxl} {
        height: 14em;
    }
}


.quiz-carousel-item{
    position: absolute;
    height: 6em;
    margin: auto;
    top: 0;
    bottom: 0;
}

.carousel-item{
    height: 14em;
}

.quiz-font-fs{
    font-size: 4em;
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
}

.quiz-content-title-fs{
    font-size: .8em;
}

.quiz-content{
    height: 23em;
    width: 29em;
}

.quiz-content-main-fs{
    font-size: .65em;
}

.quiz-main-fs{
    width: 28em;
    margin: auto;
}

.quiz-title-fs{
    margin-bottom: 1em;
    
}

.quiz-item{
    height: 18.5em;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    display: grid;
    grid-template-rows: auto auto;
    @media #{$breakpoint-sm} {
        height: 16em;
    }
    @media #{$breakpoint-md} {
        height: 11.5em;
    }
    @media #{$breakpoint-lg} {
        height: 11em;
    }
    @media #{$breakpoint-xl} {
        height: 10em;
    }
    @media #{$breakpoint-xxl} {
        height: 9em;
    }
 
}

.quiz-checkboxes{
    display: inline-block;
}

.quiz-label{
    display: inline-block;
    margin-top: 1em ;
}

input[type='checkbox'] {
    margin: .3em;
    transform: scale(1.2);
}

.quiz-controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
}

.options{
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1em;
}

.option-btn{
    background-color: white;
    display: inline-block;
    border: none;
    font-size: 1.1em;
    padding: .6em 1.8em;
    margin: .5em 1em;
    text-transform: uppercase;
    @media #{$breakpoint-md} {
        font-size: .8em;
    }
    @media #{$breakpoint-lg} {
        font-size: .8em;
    }
    @media #{$breakpoint-xl} {
        font-size: .6em;
    }

    
}

.highlight-btn{
    background-color: $light-pink;
    color: $base-text-color;
}

.quiz-hr{
    margin: 0 auto;
    width: 20em;
}

.quiz-submit{
    padding: .6em .9em;
    border: none;
    margin: 2em auto;
}

.result-highlight{
    font-size: .9em;
    border-radius: 5px;
    box-shadow: 0px 0px 11px 8px white;
}

.quiz-fs-text{
    width: 70%;
    margin: auto;
}

#question{
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;

    @media #{$breakpoint-md} {
        width: 70%;
        margin: 1em auto;
    }
    @media #{$breakpoint-lg} {
        width: 70%;
        margin: 1em auto;
    }
    @media #{$breakpoint-xl} {
        width: 42%;
        margin: 1em auto;
    }
    @media #{$breakpoint-xxl} {
        width: 40%;
        margin: 1em auto;
    }
    
}

#resultDiv{
    display: none;
}

#quiz{
    display: none;
}

.quiz-cta-content{
    width: 80%;
}



#quizMore{
    display: none;
}

#quizIntro{
    display: none;
    height: 25em;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media #{$breakpoint-sm} {
        height: 17em;
    }
    @media #{$breakpoint-md} {
        height: 11em;
    }
    @media #{$breakpoint-lg} {
        height: 11em;
    }
    @media #{$breakpoint-xl} {
        height: 9em;
    }
    @media #{$breakpoint-xxl} {
        height: 8em;
    }
}

.quiz-result{
    height: 24em!important;
    @media #{$breakpoint-sm} {
        height: 19em!important;
    }
    @media #{$breakpoint-md} {
        height: 13em!important;
    }
    @media #{$breakpoint-lg} {
        height: 13em!important;
    }
    @media #{$breakpoint-xl} {
        height: 11em!important;
    }
    @media #{$breakpoint-xxl} {
        height: 11em!important;
    }
}

// .quiz-intro{
//     opacity: 0;
//     transition: all 2s linear;
// }


.fade-in{
    animation: fadeIn 2s;
}

.slide-out-in{
    animation: slideOutIn 2s
}



@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideOutIn{
    0% {
        left: 0;
    }

    50% {
        left: 500px;
    }

    100% {
        left: 0;
    }
}

#quizCta{
    height: 19em;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @media #{$breakpoint-md} {
        height: 13em;
    }
    @media #{$breakpoint-lg} {
        height: 13em;
    }
    @media #{$breakpoint-xl} {
        height: 12em;
    }
    @media #{$breakpoint-xxl} {
        height: 11em;
    }
}

// ---------------------------------------------------------------
// Quiz section
// ---------------------------------------------------------------

.quiz-section{
    text-align: center;
    padding: 2em 0;
    background-color: $aqua-bg;
    z-index: 5;
    @media #{$breakpoint-md}{
        padding: 1em 0;
    }
    @media #{$breakpoint-xl}{
        padding: 1em 0;
    }
}

.quiz-cta-content{
    width: 80%;
    margin: 2em auto 2em auto;
    @media #{$breakpoint-sm}{
        margin: 3em auto 2em auto;
    }
    @media #{$breakpoint-md}{
        width: 60%;
        margin: 3em auto 0 auto;
    }
    @media #{$breakpoint-lg}{
        width: 45%;
        margin: 2em auto 0 auto;
    }
    @media #{$breakpoint-xl}{
        width: 40%;
        margin: 2em auto 0 auto;
    }
}

.quiz-content-title{
    font-weight: 400;
    font-size: 1.1em;
    @media #{$breakpoint-md}{
        font-size: .8em;
    }
    @media #{$breakpoint-lg}{
        font-size: .75em;
    }
    @media #{$breakpoint-xl}{
        font-size: .6em;
    }
}

.quiz-font{
    font-size: 7em;
    letter-spacing: .1em;
    line-height: .6em;
    @media #{$breakpoint-sm}{
        font-size: 6em;
    }
    @media #{$breakpoint-md}{
        font-size: 4em;
    }
    @media #{$breakpoint-lg}{
        font-size: 4em;
    }
    @media #{$breakpoint-xl}{
        font-size: 3.5em;
    }
}

.quiz-content-main{
    margin: 1.5em auto;
}

.quiz-cta-btn{
    font-size: 1.2em;
    padding: .6em 2em;
    font-weight: 500;
    @media #{$breakpoint-md}{
        font-size: .9em;
        padding: .4em 1.8em;
    }
    @media #{$breakpoint-lg}{
        font-size: .9em;
        padding: .4em 1.8em;
    }
    @media #{$breakpoint-xl}{
        font-size: .7em;
        padding: .5em 1.8em;
    }
    
}

.quiz-cta{
    margin: 2em auto;
    @media #{$breakpoint-sm}{
        margin: 2em auto;
    }
    @media #{$breakpoint-md}{
        margin: 1em auto;
    }
    @media #{$breakpoint-lg}{
        margin: 2em auto;
    }
    @media #{$breakpoint-xl}{
        margin: 1em auto;
    }
}
