.quiz-banner{
    // background-color: rgba(179,222,217,1);
    background-color: #f58c7c;
    padding: 1em .8em;
    text-align: center;
    width: 100%;
    
    @media #{$breakpoint-min-md}{
        height: 1.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        z-index: 999;
    }
    @media #{$breakpoint-xl}{
        justify-content: center;
        height: 1.3em;
    }
      
    .normal-text{
        color: white;
        font-size: 1.1em;
        @media #{$breakpoint-min-md}{
            font-size: .8em;
            margin: 0;
        }
        @media #{$breakpoint-lg}{
            font-size: .7em;
        }
        @media #{$breakpoint-xl}{
            font-size: .65em;
            margin: 0 3em;
        }
    }
    .sect-subtitle{
        color: white;
        @media #{$breakpoint-min-md}{
            font-size: .7em;
            margin: 0;
        }
        @media #{$breakpoint-xl}{
            font-size: .6em;
        }
    }
}

.quiz-banner-btn{
    width: auto;
    padding: .1em 1.3em;
    background-color: black;
    color: white;
    @media #{$breakpoint-min-md}{
        font-size: .65em;
        margin: 0;
        height: 70%;
    }
    @media #{$breakpoint-lg}{
        font-size: .6em;
        padding: .2em 1.3em;
    }
    @media #{$breakpoint-xl}{
        font-size: .5em;
        padding: .2em 1.3em;
        height: 70%;
    }
    
    
}

.toggle-header-relative{
    position: relative;
    height: 50px;
    width: 100vw;
    background-color: $gray;
    top: 0;
    z-index: 7;
    text-align: initial;
    @media #{$breakpoint-min-md}{
        background-color: transparent;
        position: absolute;
        top: 2em;
    }
    @media #{$breakpoint-xl}{
        top: 2em;
    }
    .nav-toggle{
        @media #{$breakpoint-min-md}{
            top: 1.3em;
        }
        @media #{$breakpoint-xl}{
            top: 1.1em;
            right: 2em;
        }
    }
}

.toggle-wrapper{
    height: 50px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @media #{$breakpoint-min-md}{
        top: 0;
    }
    .nav-toggle{
        @media #{$breakpoint-xl}{
            top: 1.1em;
        }
    }
}

.placeholder{
    height: 50px;
    display: none;
    @media #{$breakpoint-min-md}{
        display: none;
       
    }
}

.header-name-quiz{
    font-family: $font-roboto;
    position: relative;
    height: 100%;
    padding: .5em;
    // top: .6em;
    // left: .5em;
    color: rgba(59,64,63,1);
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.2em;
    font-size: 1.6em;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    @media #{$breakpoint-sm}{
        margin: 0; 
    }
    @media #{$breakpoint-min-md}{
        display: none; 
    }

}