// ---------------------------------------------------------------
// About hero section
// ---------------------------------------------------------------

.about-hero{
    @media #{$breakpoint-md} {
        display: grid;
        grid-template-columns: auto repeat(2, 14em) 17em auto;
        margin-top: 1em;
        margin-bottom: 3em;
    }
    @media #{$breakpoint-lg} {
        display: grid;
        grid-template-columns: auto repeat(2, 13em) 2em 17em auto;
        margin-top: 1em;
        margin-bottom: 3em;
    }
    @media #{$breakpoint-xl} {
        display: grid;
        grid-template-columns: auto repeat(2, 14em) 3em 16em auto;
        margin-top: 1em;
        margin-bottom: 3em;
    }
    @media #{$breakpoint-xxl} {
        display: grid;
        grid-template-columns: auto repeat(2, 12em) 3em 14em auto;
        margin-top: 1em;
        margin-bottom: 3em;
    }
}

.about-hero-img{
    text-align: center;
    height: 28em;
    width: 90vw;
    margin: auto;

    @media #{$breakpoint-md} {
        grid-column: 2/4;
        width: 100%;
        height: 21em;
    }
    @media #{$breakpoint-lg} {
        grid-column: 2/4;
        width: 100%;
        height: 23em;
    }
    @media #{$breakpoint-xl} {
        grid-column: 2/4;
        width: 100%;
        height: 21em;
    }
    @media #{$breakpoint-xxl}{
        grid-column: 2/4;
        height: 18em;
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media #{$breakpoint-sm} {
            object-position: 50% 20%;
        }
        @media #{$breakpoint-md} {
            width: 90%;
            object-position: 50% 20%;
        }
        @media #{$breakpoint-lg} {
            width: 100%;
            object-position: 50% 20%;
        }
        @media #{$breakpoint-xl} {
            width: 100%;
            object-fit: cover;
            object-position: 50% 15%;
        }
    }
}

.about-hero-text{
    text-align: center;
    margin: 3.5em 1.5em;
    @media #{$breakpoint-md} {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-column: 4;
        margin: 0;
    }
    @media #{$breakpoint-lg} {
        grid-column: 5/6;
        margin: 0em;
        display: grid;
        align-items: center;
        justify-items: center;
    }
    @media #{$breakpoint-xl} {
        grid-column: 5/6;
        margin: 0em;
        display: grid;
        align-items: center;
        justify-items: center;
    }
}

.about-hero-content{
    width: 25em;
    margin: auto;
    @media #{$breakpoint-sm} {
        width: 22em;
        margin: auto;
    }
    @media #{$breakpoint-md} {
        width: 15em;
        margin: auto;
    }
    @media #{$breakpoint-lg} {
        width: 17em;
        margin: auto;
    }
    @media #{$breakpoint-xl} {
        width: 19em;
        margin: auto;
    }
    @media #{$breakpoint-xxl} {
        width: 13em;
        margin: auto;
    }
}


.about-text{
    letter-spacing: 0.2em;
    margin: 1.4em 0 0 0;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
    @media #{$breakpoint-md} {
        font-size: .93em;
        letter-spacing: 0.2em;
    }
    @media #{$breakpoint-lg} {
        font-size: .95em;
        margin: 0;
        letter-spacing: 0.2em;
    }
    @media #{$breakpoint-xl} {
        font-size: .9em;
        margin: 0;
        letter-spacing: 0.2em;
    }
    @media #{$breakpoint-xxl} {
        font-size: .7em;
        margin: 0;
        letter-spacing: 0.2em;
    }
}

.about-title{
    color: $light-gray;
    font-size: 2.5em;
    font-family: $font-roboto;
    text-transform: uppercase;
    @media #{$breakpoint-md} {
        font-size: 2em;
        margin: 0;
    }
    @media #{$breakpoint-lg} {
        font-size: 2em;
        margin: 0;
    }
    @media #{$breakpoint-xl} {
        font-size: 2em;
        margin: 0;
    }
    @media #{$breakpoint-xxl} {
        font-size: 1.8em;
        margin: 0;
    }
}

// ---------------------------------------------------------------
// About detail section
// ---------------------------------------------------------------

.about-detail{
    display: grid;
    justify-items: center;
    width: 100%;
    background-color: $gray;
    text-align: center;
    padding-top: 1em;
}

.about-detail-title{
    width: 18em;
    font-weight: 400;
    @media #{$breakpoint-sm}{
        width: 20em;
    }
    @media #{$breakpoint-md}{
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-lg}{
        font-size: 1.1em;
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-xl}{
        font-size: 1em;
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-xxl}{
        font-size: .9em;
        width: 36em;
        // margin-top: 0;
    }
}

.about-detail-subtitle{
    margin: 1.2em;
    @media #{$breakpoint-sm} {
        width: 24em;
        font-size: 1.1em;
    }
    @media #{$breakpoint-md} {
        width: 31em;
    }
    @media #{$breakpoint-lg} {
        width: 27em;
        font-size: .95em;
    }
    @media #{$breakpoint-xl} {
        width: 27em;
        font-size: .8em;
    }
    @media #{$breakpoint-xxl} {
        width: 25em;
        font-size: .7em;
    }
}

.about-detail-content{
    text-align: start;
    @media #{$breakpoint-xs} {
        width: 21em;
    }
    @media #{$breakpoint-sm} {
        width: 27em;
        .normal-text{
            font-size: .9em;
        }
    }
    @media #{$breakpoint-md} {
        display: grid;
        grid-template-columns: auto 14em 4em 14em auto;
        .normal-text:nth-child(1){
            grid-column: 2/3;
        }
        .normal-text:nth-child(2){
            grid-column: 4/5;
        }
    }
    @media #{$breakpoint-lg} {
        display: grid;
        grid-template-columns: auto 13em 4em 13em auto;
        .normal-text:nth-child(1){
            grid-column: 2/3;
        }
        .normal-text:nth-child(2){
            grid-column: 4/5;
        }
    }
    @media #{$breakpoint-xl} {
        display: grid;
        grid-template-columns: auto 17em 4em 17em auto;
        .normal-text{
            font-size: .65em;
        }
        .normal-text:nth-child(1){
            grid-column: 2/3;
        }
        .normal-text:nth-child(2){
            grid-column: 4/5;
        }
    }
    @media #{$breakpoint-xxl} {
        display: grid;
        grid-template-columns: auto 13em 4em 13em auto;
        .normal-text{
            font-size: .55em;
        }
        .normal-text:nth-child(1){
            grid-column: 2/3;
        }
        .normal-text:nth-child(2){
            grid-column: 4/5;
        }
    }
}

.first-col{
    @media #{$breakpoint-min-md} {
        grid-column: 2/3;
    }
}

.second-col{
    @media #{$breakpoint-min-md} {
        grid-column: 4/5;
    }
}

.about-detail-quote{
    margin: 3em 0;
    width: 23em; 
    @media #{$breakpoint-sm} {
        width: 27em; 
    }
    @media #{$breakpoint-md} {
        width: 34em; 
    }
    @media #{$breakpoint-lg} {
        width: 60vw; 
 
    }
    @media #{$breakpoint-xl} {
        width: 55vw; 
  
    }
    @media #{$breakpoint-xxl} {
        margin: 2em 0;
        width: 40vw; 
  
    }
    .logo-3{
        font-size: 3.6em;
        margin: 0 0 .8em 0;
        @media #{$breakpoint-md}{
            font-size: 3.1em;
        } 
        @media #{$breakpoint-lg}{
            font-size: 3em;
            margin: 0 0 .5em 0;
        } 
        @media #{$breakpoint-xl}{
            font-size: 2.8em;
        } 
        @media #{$breakpoint-xxl}{
            font-size: 2.7em;
        }
     
    }
}

// ---------------------------------------------------------------
// What I'm known for section
// ---------------------------------------------------------------

.known-for{
    width: 85%;
    margin: 3em auto;
    @media #{$breakpoint-sm} {
        width: 70%
    }
    @media #{$breakpoint-md} {
        width: 85%;
        margin: 2em auto;
    }
    @media #{$breakpoint-lg} {
        width: 75%;
        margin: 2em auto;
    }
    @media #{$breakpoint-xl} {
        width: 70%;
        margin: 2em auto 1em auto;
    }
    @media #{$breakpoint-xxl} {
        width: 60%;
        margin: 2em auto 0 auto;
    }

    
}

.known-for-content{
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl} {
        display: grid;
        grid-template-columns: repeat(4, 1fr) ;

    }
}

.known-for-title{
    text-align: center;
    
}

.known-for-item{
    text-align: center;
    display: grid;
    grid-template-columns: 7em 1fr;
    margin: 4em 0;

    .fas,
    .fab{
        font-size: 3.4em;
        margin: auto 0;
        @media #{$breakpoint-sm} {
            font-size: 3.3em;
        }
        @media #{$breakpoint-md} {
            font-size: 2.4em;
        }
        @media #{$breakpoint-lg} {
            font-size: 2.3em;
        }
        @media #{$breakpoint-xl} {
            font-size: 2em;
        }
        @media #{$breakpoint-xxl} {
            font-size: 1.8em;
        }
    }

    @media #{$breakpoint-md}, #{$breakpoint-lg} {
        grid-template-columns: auto;
        grid-template-rows: auto 6em;
        margin: 2em 0.3em;
        
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl} {
        grid-template-columns: auto;
        grid-template-rows: auto 6em;
        margin: 2em .5em 0 0.5em;
        
    }
}

.fa-glass-cheers{
    color: rgba(245,140,124,1);
}

.fa-graduation-cap{
    color: grey;
}

.fa-microphone-alt{
    color:  rgba(250,220,210,1);
}

.fa-praying-hands{
    color: rgba(247,217,137,1);
}

.known-for-text{
    text-align: initial;
    margin: auto 0;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl} {
        text-align: center;
        margin: 1.9em 0 0 0;
        
    }
}

// ---------------------------------------------------------------
// Numbers section
// ---------------------------------------------------------------

#new-numbers.numbers-sect{
    background-color: $dark-pink;
    height: 46em;
    position: relative;
    opacity: .9;
    @media #{$breakpoint-sm}{
        height: 36em;
        
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        height: 10em;
        
    }
    @media #{$breakpoint-xl} {
        height: 8em;
    }

    .numbers-content{
        font-family: $font-cabin;
        text-transform: uppercase;
        background: transparent;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 33em;
        width: 90vw;
        right: 0;
        @media #{$breakpoint-sm}{
            height: 26em;
            
        }
        @media #{$breakpoint-md},#{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
            height: 100%;
            width: 90vw;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        @media #{$breakpoint-lg}, #{$breakpoint-xl}{
            height: 100%;
            width: 80vw;
            display: grid;
        }
        @media #{$breakpoint-xl}{
            height: 100%;
            width: 75vw;
            display: grid;
        }
        @media #{$breakpoint-xxl}{
            height: 100%;
            width: 60vw;
            display: grid;
        }
    
        
    }
    
    .numbers-item{
        text-align: center;
        height: 13em;
        @media #{$breakpoint-sm}{
            height: 10em;
        }
        @media #{$breakpoint-md}{
            height: 6em;
            margin: auto .8em;
        }
        @media #{$breakpoint-lg}{
            height: 7em;
            margin: auto .8em;
        }
        @media #{$breakpoint-xl}{
            height: 6em;
            margin: auto .8em;
        }
        @media #{$breakpoint-xxl}{
            height: 6em;
            margin: auto .8em;
        }
    }
    
    .numbers-text{
        font-size: 1.3em;
        @media #{$breakpoint-sm}{
            font-size: 1.2em;
            margin-bottom: 1em;
        }
        @media #{$breakpoint-md}{
            font-size: .8em;
            margin-bottom: 0;
            height: 7em;
        }
        @media #{$breakpoint-lg}{
            font-size: .8em;
            margin-bottom: 0.3em;
            height: 7.5em;
        }
        @media #{$breakpoint-xl}{
            font-size: .75em;
            margin-bottom: 0.3em;
            height: 7em;
        }
        @media #{$breakpoint-xxl}{
            font-size: .7em;
            margin-bottom: 0.3em;
        }
    }
    
    .number-desc{
        font-size: 1em;
        font-style: italic;
        text-transform: capitalize;
        letter-spacing: .2em;
        width: 50%;
        margin: auto;
        @media #{$breakpoint-sm}{
            font-size: .9em;
        }
        @media #{$breakpoint-md}{
            font-size: .6em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-lg}{
            font-size: .6em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-xl}{
            font-size: .6em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-xxl}{
            font-size: .5em;
            text-align: center;
            width: 60%;
        }
    }
    
}

#old-numbers.numbers-sect{
    background-color: $dark-pink;
    height: 50em;
    position: relative;
    opacity: .9;
    @media #{$breakpoint-sm}{
        height: 47em;
        
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        height: 10em;
        
    }
    @media #{$breakpoint-xl} {
        height: 8em;
    }

    .numbers-content{
        font-family: $font-cabin;
        text-transform: uppercase;
        background: transparent;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 43em;
        right: 0;
        @media #{$breakpoint-sm}{
            height: 39em;
            
        }
        @media #{$breakpoint-md},#{$breakpoint-lg}{
            height: 100%;
            width: 90vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        @media #{$breakpoint-lg}, #{$breakpoint-xl}{
            height: 100%;
            width: 80vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        @media #{$breakpoint-xl}{
            height: 100%;
            width: 75vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        @media #{$breakpoint-xxl}{
            height: 100%;
            width: 60vw;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    
        
    }
    
    .numbers-item{
        text-align: center;
        height: 11em;
        @media #{$breakpoint-sm}{
            height: 10em;
        }
        @media #{$breakpoint-md}{
            height: 6em;
            margin: auto;
        }
        @media #{$breakpoint-lg}{
            height: 5em;
            margin: auto;
        }
        @media #{$breakpoint-xl}{
            height: 5em;
            margin: auto;
        }
        @media #{$breakpoint-xxl}{
            height: 4.5em;
            margin: auto;
        }
    }
    
    .numbers-text{
        font-size: 3.8em;
        @media #{$breakpoint-sm}{
            font-size: 3.4em;
            margin-bottom: 0;
        }
        @media #{$breakpoint-md}{
            font-size: 2.2em;
            margin-bottom: 0;
        }
        @media #{$breakpoint-lg}{
            font-size: 2.2em;
            margin-bottom: 0.3em;
        }
        @media #{$breakpoint-xl}{
            font-size: 1.7em;
            margin-bottom: 0.3em;
        }
        @media #{$breakpoint-xxl}{
            font-size: 1.6em;
            margin-bottom: 0.3em;
        }
    }
    
    .number-desc{
        font-size: 1em;
        letter-spacing: .2em;
        width: 50%;
        margin: auto;
        @media #{$breakpoint-sm}{
            font-size: .9em;
        }
        @media #{$breakpoint-md}{
            font-size: .7em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-lg}{
            font-size: .65em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-xl}{
            font-size: .6em;
            text-align: center;
            width: 80%;
        }
        @media #{$breakpoint-xxl}{
            font-size: .5em;
            text-align: center;
            width: 60%;
        }
    }
    
}




// ---------------------------------------------------------------
// Crazy about section
// ---------------------------------------------------------------

.crazy-about-sect{
    margin-top: 1em;
    // height: 102em;
    height: auto;
    padding-bottom: 4em;
    background: white;
    z-index: 5;
    position: relative;
    // @media #{$breakpoint-sm}{
    //    height: 140em;
    // }
    @media #{$breakpoint-min-md}{
        margin: 1em 0 0 0;
        padding-bottom: 4em;
    }
    
}

.crazy-about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    @media #{$breakpoint-min-md}{
        grid-template-columns: repeat(5, 1fr);
        max-width: 1200px;
    }
    @media #{$breakpoint-xl}{
        grid-template-columns: repeat(5, 1fr);
        max-width: 1100px;
    }

}

.crazy-about-img{
    height: 100%;
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media #{$breakpoint-min-md}{
        &:nth-of-type(1){
            grid-column: 1;
            grid-row: 2;
        }
        &:nth-of-type(2){
            grid-column: 2;
            grid-row: 1;
        }  
        &:nth-of-type(5){
            grid-column: 4;
            grid-row: 1;
        }  
        &:nth-of-type(8){
            grid-column: 5;
            grid-row: 2;
        } 
        
    }
}

.crazy-about-title{
    height: 7em;
    margin: 0 4.5em;
    @media #{$breakpoint-sm} {
        height: 5em; 
    }
    @media #{$breakpoint-min-md} {
        height: 4em; 
    }
    .sect-title{
        line-height: 2;
        height: auto;
        margin: auto;
        @media #{$breakpoint-xxl}{
            line-height: 4.2;
        }
    }
}

.crazy-about-text{
    margin: auto;
    width: 80%;
    @media #{$breakpoint-min-md} {
        &:nth-of-type(3){
            grid-column: 2;
            grid-row: 2;
        }  
    }
    @media #{$breakpoint-md}{
        width: 60%;
    }
    @media #{$breakpoint-lg}{
        width: 50%;
    }
    @media #{$breakpoint-xl}{
        width: 60%;
    }

    .fw-b{
        font-size: 1.2em;
        @media #{$breakpoint-md}{
            font-size: .75em;
        }
        @media #{$breakpoint-lg}{
            font-size: .7em;
        }
        @media #{$breakpoint-xl}{
            font-size: .66em;
        }
    }
    
}

.favourite-text{
    color: $base-text-color;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 1.1em;
    @media #{$breakpoint-md}{
        font-size: .65em;
    }
    @media #{$breakpoint-lg}{
        font-size: .6em;
    }
    @media #{$breakpoint-xl}{
        font-size: .56em;
        margin-bottom: .6em;
    }
    
}

// ---------------------------------------------------------------
// Things about me slider section
// ---------------------------------------------------------------

.things-about-me{
    text-align: center;
    position: relative;
    height: 50em;
    margin: 4em 0;
    @media #{$breakpoint-md}{
        height: 21em;
        
    }
    @media #{$breakpoint-lg}{
        height: 21em;
        
    }
    @media #{$breakpoint-xl}{
        height: 21em;
        
    }
    @media #{$breakpoint-xxl}{
        height: 21em;
        
    }
}
.things-slider{
    width: 22em;
    position: relative;
    height: 22em;
    margin: auto;
    @media #{$breakpoint-md}{
        width: 41em;
        
    }
    @media #{$breakpoint-lg}{
        width: 47em;
        
    }
    @media #{$breakpoint-xl}{
        width: 47em;
        
    }
    @media #{$breakpoint-xxl}{
        width: 42em;
        
    }
}

.slider-item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1; 

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1.5s;

    @media #{$breakpoint-md}{
        display: grid;
        grid-template-columns: 1fr 2em 1fr;    
    }
    @media #{$breakpoint-lg}{
        display: grid;
        grid-template-columns: 1fr 3em 1fr 2em;    
    }
    @media #{$breakpoint-xl}{
        display: grid;
        grid-template-columns: 1fr 3em 1fr 2em;    
    }
    @media #{$breakpoint-xxl}{
        display: grid;
        grid-template-columns: 1fr 1em 1fr 2em;    
    }

    img{
        width: 100%;
        @media #{$breakpoint-min-md} {
            grid-column: 3;
            order: 2;
        }

    }
    
}

.showing {
    opacity: 1;
    z-index: 2;
}

.things-title{
    margin-bottom: 3em;
    @media #{$breakpoint-md} {
        width: 100%;
        position: absolute;
        margin-bottom: 0;
        top: 1em;
        left: -10em;
    }
    @media #{$breakpoint-lg} {
        width: 100%;
        position: absolute;
        margin-bottom: 0;
        top: 1em;
        left: -13em;
    }
    @media #{$breakpoint-xl} {
        width: 100%;
        position: absolute;
        margin-bottom: 0;
        top: 2em;
        left: -13em;
    }
    @media #{$breakpoint-xxl} {
        width: 100%;
        position: absolute;
        margin-bottom: 0;
        top: 2em;
        left: -11.5em;
    }

    
}

.slide-title{
    font-family: $font-parisienne;
    color: $pink;
    font-size: 3em;
    margin-bottom: .5em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl} {
        font-size: 2.2em;
        margin-top: .5em;
    }
    @media  #{$breakpoint-xxl}{
        font-size: 1.8em;
    }
}

.slide-text{
    margin: 2em 0;
    @media #{$breakpoint-md} {
        margin: 2em;
        position: relative;
        top: 5em;
    }
    @media #{$breakpoint-lg} {
        margin: 2em;
        position: relative;
        top: 5em;
    }
    @media #{$breakpoint-xl} {
        margin: 2em;
        position: relative;
        top: 6em;
    }
    @media #{$breakpoint-xxl} {
        // margin-right: 5em;
        position: relative;
        width: 60%;
        top: 5em;
        left: 6.5%;
    }
}

*:focus {
    outline: 0 !important;
}

.slide-btn{
    background-color: $dark-pink;
    position: absolute;
    z-index: 3;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: $base-text-color;
    font-size: 1.1em;
    padding: .7em 2em;
    box-shadow: 3px 5px 9px -7px #3b403f;
    @media #{$breakpoint-sm} {
        font-size: 1em;
    }
    @media #{$breakpoint-md} {
        font-size: .8em;
        left: -26em;
        bottom: 3em;
        padding: .5em 1.7em;
    }
    @media #{$breakpoint-lg} {
        font-size: .7em;
        left: -37em;
        bottom: 4em;
        padding: .5em 2em;
    }
    @media #{$breakpoint-xl} {
        font-size: .6em;
        left: -43em;
        bottom: 4em;
        padding: .5em 1.8em;
    }
    @media #{$breakpoint-xxl} {
        font-size: .55em;
        left: -43em;
        bottom: 9em;
        padding: .5em 1.5em;
    }
}


// ---------------------------------------------------------------
// services cta section
// ---------------------------------------------------------------

.services-cta{
    position: relative;
    height: 32em;
    background-image: url("../img/Mhairi_pics/patio_sitting_comp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // margin: 4em 0 0 0;
    @media #{$breakpoint-sm} {
        height: 22em;
    }
    @media #{$breakpoint-min-md} {
        z-index: -1;
        background-attachment: fixed;
    }
    @media #{$breakpoint-md} {
        height: 16em;
    }
    @media #{$breakpoint-lg} {
        height: 15em;
    }
    @media  #{$breakpoint-xl}{
        height: 14em;
    }
    @media  #{$breakpoint-xxl}{
        height: 14em;
    }
    img{
        height: 150%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: 50% 55%;
    }
}

.parallax-container{
    background-color: black;
    height: 100%;
    opacity: .5;
    @media #{$breakpoint-min-md}{
        opacity: .2;
    }
}

.services-parallax-window{
    min-height: 100%;
    background: transparent;
    position: relative;
    text-align: center;
}

.services-parallax-window:before{
    content: ' ';
    display: block;
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}


.services-cta-content{
    text-align: center;
    color: white;
    width: 23em;
    height: 25em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    @media #{$breakpoint-sm}{
        height: 16em;
        width: 28em;
    }
    @media #{$breakpoint-md}{
        height: 11em;
        width: 35em;
    }
    @media #{$breakpoint-lg} {
        height: 10em;
        width: 33em;
    }
    @media #{$breakpoint-xl} {
        width: 28em;
        height: 9em;
    }
    @media #{$breakpoint-xxl} {
        height: 7.5em;
        width: 28em;
    }
}

.services-cta-btn{
    left: 0;
    right: 0;
    position: relative;
    display: inline-block;
    margin: auto;
    bottom: 0;
    padding: .7em 1.5em;
    @media #{$breakpoint-sm} {
        width: 18em;
    }
    // @media #{$breakpoint-lg} {
    //     width: 270px;
    // }
    // @media #{$breakpoint-xl} {
    //     width: 270px;
    // }
    @media #{$breakpoint-xxl} {
        // width: 310px;
        padding: .7em 1.5em;
    }
    
}
