// ---------------------------------------------------------------
// Hero section
// ---------------------------------------------------------------

.being-enough-hero-container{
    position: relative;
    background-image: url("../img/Mhairi_pics/mhairi_front_flowers.jpg");
    background-position: 50% 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    @media #{$breakpoint-min-md}{
        background-image: url("../img/Mhairi_pics/mhairi_front_flowers.jpg");
        background-position: 50% 5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: .5em;
    }
    @media #{$breakpoint-lg}{
        background-position: 50% 0%;
    }
    @media #{$breakpoint-xl}{
        background-position: 50% 10%;
    }
    @media #{$breakpoint-xxl}{
        background-position: 50% 15%;
    }
    .parallax-container{
        @media #{$breakpoint-min-md}{
            opacity: .4;
        }
    }
}

.being-enough-hero-parallax{
    text-align: center;
    color: white;
    width: 24em;
    height: 9em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @media #{$breakpoint-sm}{
        width: 27em;
        height: 10em;
    }
    @media #{$breakpoint-md}{
        width: 27em;
        height: 7em;
    }
    @media #{$breakpoint-lg}{
        width: 24em;
        height: 6em;
    }
    @media #{$breakpoint-xl}{
        width: 20em;
        height: 7em;
    }
    @media #{$breakpoint-xxl}{
        width: 20em;
        height: 7em;
    }

    .sect-title{
        color: white;
        font-size: 1.8em;
        @media #{$breakpoint-sm}{
            font-size: 2em;
        }
        @media #{$breakpoint-md}{
            font-size: 1.3em;
        }
        @media #{$breakpoint-lg}{
            font-size: 1.2em;
        }
        @media #{$breakpoint-xl}{
            font-size: 1.15em;
        }
    }
    .sect-subtitle{
        color: white;
        font-size: 1.5em;
        @media #{$breakpoint-sm}{
            font-size: 1.6em;
        }
        @media #{$breakpoint-md}{
            font-size: 1.1em;
        }
        @media #{$breakpoint-lg}{
            font-size: 1em;
        }
        @media #{$breakpoint-xl}{
            font-size: .9em;
        }
    }
}

// ---------------------------------------------------------------
// Video embed section
// ---------------------------------------------------------------

.video-section{
    display: flex;
    justify-content: center;
    margin: 0 auto 4em auto;
    flex-direction: column;
    align-items: center;
    @media #{$breakpoint-xl}{
        margin: 0 auto 3em auto;
    }
    .services-cta-btn{
        width: auto;
    }
    
}

.video-embed-container{
    width: 21em;
    margin: 0 auto 2em auto;
    height: auto;
    @media #{$breakpoint-sm}{
        margin: 0 auto 3em auto;
    }
    @media #{$breakpoint-md}{
        margin: 0 auto 2em auto;
    }
    @media #{$breakpoint-lg}{
        margin: 0 auto 2em auto;
        width: 23em;
    }
    @media #{$breakpoint-xl}{
        margin: 0 auto 2em auto;
    }
    @media #{$breakpoint-xxl}{
        margin: 0 auto 2em auto;
    }
}

.video-embed{
    width: 100%;
    height: auto;
}

.intro-list{
    margin: 1em 0 0 1em;
    @media #{$breakpoint-sm}{
        margin: 2em 0 2em 5em;
    }
    @media #{$breakpoint-md}{
        margin: 2em 0 2em 5em;
    }
    @media #{$breakpoint-lg}{
        margin: 2em 0 2em 6em;
    }
    @media #{$breakpoint-xl}{
        margin: 1em 0 1em 6em;
    }
    @media #{$breakpoint-xxl}{
        margin: 1em 0 1em 5em;
    }
}

// ---------------------------------------------------------------
// Our journey
// ---------------------------------------------------------------

html{
    scroll-behavior: smooth;
}

.our-journey{
    text-align: center;
    position: relative;
    margin-bottom: 4em;
    background: white;
    padding-top: 1em;
    @media #{$breakpoint-min-md}{
        margin: 2em 0 3em 0;
        padding: 0;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: 2em 0 4em 0;
        padding: 0;
    }
}

.our-journey-content{
    @media #{$breakpoint-min-md}{
        display: grid;
        height: auto;
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 2em 0 3em 0;
        grid-template-rows: auto 2em 1fr;
        grid-template-columns: auto 13em 2em 13em 2em 13em auto;
    }
    @media #{$breakpoint-lg}{
        height: auto;
        grid-template-columns: auto 14em 1.5em 14em 1.5em 14em auto;
    }
    @media #{$breakpoint-xl}{
        height: auto;
        grid-template-columns: auto 14em 2em 14em 2em 14em auto;
    }
    @media #{$breakpoint-xxl}{
        height: auto;
        grid-template-columns: auto 13em 2em 13em 2em 13em auto;
    }
}

//  background-color: #e1e8ce
//  background-color: #ffcca8
//  background-color: #c6c2e4

.our-journey-item{
    background-color: $lightest-pink;
    margin: 4em 1.5em;
    height: auto;
    padding: 2em 2em;
    &:nth-child(1){
        background-color: rgba(251, 242, 236, 0.6);
        margin: 2em 1.5em;
        @media #{$breakpoint-sm}{
            margin: 2em auto;
        }
    }
    &:nth-child(2){
        // background-color: rgba(104,152,165,0.2);
        background-color: rgba(255, 204, 168, 0.5)
        
    }
    &:nth-child(3){
        // background-color: rgba(197,219,206,0.2);
        background-color: rgba(225, 232, 206, 0.5)
    }
    &:nth-child(4){
        // background-color: rgba(211,139,135,0.2);
        background-color: rgba(198, 194, 228, 0.5)
    }
    @media #{$breakpoint-sm}{
        height: auto;
        margin: 4em auto;
        width: 70%;
    }
    @media #{$breakpoint-min-md}{
        background-color: $gray;
        height: 100%;
        &:nth-child(1){
            grid-column: 3/6;
            grid-row: 1;
            margin: 0;
        }
        &:nth-child(2){
            grid-column: 2;
            grid-row: 3;
        }
        &:nth-child(3){
            grid-column: 4;
            grid-row: 3;
        }
        &:nth-child(4){
            grid-column: 6;
            grid-row: 3;
        }
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 0;
        padding: .8em .7em;
        width: 100%;
    }
    @media #{$breakpoint-lg}{
    }
    @media #{$breakpoint-xl}{
    }
    @media #{$breakpoint-xxl}{
        padding: .8em 1em;
    }
    .sect-subtitle{
        margin-bottom: 1.5em;
    }
}

.our-journey-title{
    margin: .8em 0 .5em 0;
    @media #{$breakpoint-min-md}{
        margin: 0 0 .5em 0;
    }
}

.our-journey-sub{
    color: $pink;
    font-family: $font-biko;
    font-size: 1.25em;
    margin:  .5em 0 1.5em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        font-size: .8em;
    }
    @media #{$breakpoint-xl}, #{$breakpoint-xxl}{
        font-size: .6em;
    }
}

.our-journey-item-title{
    margin: .8em .7em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin-bottom: .5em;
        font-size: 1em;
    }

    @media #{$breakpoint-xl}{
        font-size: .9em;
    }
    @media #{$breakpoint-xxl}{
        font-size: .85em;
    }
}

// ---------------------------------------------------------------
// Who is it for
// ---------------------------------------------------------------

.who-is-it-for-section{
    padding-top: 2em;
    background-color: #f0f3f3;
    @media #{$breakpoint-sm} {
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
    }
    @media #{$breakpoint-lg} {
    }
    @media #{$breakpoint-xl} {
    }
    @media #{$breakpoint-xxl} {
    }
}


.who-is-it-for{
    margin-top: 0;
    padding-bottom: 2em;
    text-align: center;
    display: grid;
    grid-template-rows: auto auto auto;

    @media #{$breakpoint-sm} {
        grid-template-rows: auto 29em auto;
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
        padding-bottom: 0;
        grid-template-columns: 4em 15em repeat(2, 1fr) 4em;
        grid-template-rows:repeat(3, 1fr);
    }
    @media #{$breakpoint-md} {
        margin: 0;
        height: 25em;
    }
    @media #{$breakpoint-lg} {
        grid-template-columns: auto 16em repeat(2, 11em) auto;
        height: 19em;
        margin: 2em 0;
    }
    @media #{$breakpoint-xl} {
        grid-template-columns:  auto 13em repeat(2, 13em) auto;
        margin: 2em 0;
        height: 19em;
    }
    @media #{$breakpoint-xxl} {
        grid-template-columns:  auto 12em repeat(2, 12em) auto;
        margin: 2em 0;
        height: 16em;
    }
    .home-about-title{
        @media #{$breakpoint-sm} {
            padding-top: 1em;
        }
    }
    .home-about-text{
        @media #{$breakpoint-sm} {
            margin: 1em auto;
        }
    }
}

.who-is-it-for-img{
    width: 85vw;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    height: 90%;
    background-color: white;
    padding: 20px;
    @media #{$breakpoint-sm} {
        width: 65vw;
    }
    @media #{$breakpoint-min-md} {
        width: 100%;
        background-color: $light-pink;
        grid-column: 2/3;
        grid-row: 1/5;
    }
    @media #{$breakpoint-md} {
        height: 90%;
        margin: auto;
    }
    @media #{$breakpoint-lg} {
        height: 100%;
    }
    @media #{$breakpoint-xl} {
        height: 100%;
    }
    @media #{$breakpoint-xxl} {
        height: 100%;
    }

    img{
        object-fit: cover;
        margin: auto;
        width: 100%;
        height: 100%;
        @media #{$breakpoint-lg}, #{$breakpoint-xl} {
            object-position: 50% 15%;
        }
    }
}

// ---------------------------------------------------------------
// How long, when how
// ---------------------------------------------------------------

.when-how{
    @media #{$breakpoint-min-md} {
        margin: 0;
    }
}

.when-how-content{
    padding: 2em 0 1em 0;
    @media #{$breakpoint-sm} {
        // grid-template-rows: auto 36em minmax(auto, 28em) 4em;
        margin-top: 2em;
        
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
        height: 27.5em;
        padding: 0;
        display: grid;
        grid-template-columns: auto 25em 2em 16em auto;
        grid-template-rows: repeat(3, 1fr);
        margin: 2em 0 3em 0;
    }
    @media #{$breakpoint-lg} {
        grid-template-columns: auto 25em 2em 16em auto;
        // grid-template-rows: 4em 20em auto;
        height: 24em;
    }
    @media #{$breakpoint-xl} {
        height: 22em;
        // grid-template-rows: 4em 18em auto;
    }
    @media #{$breakpoint-xxl} {
        height: 21em;
        // grid-template-rows: 4em 16em auto;
    }

    .home-about-text{
        margin: 0 auto;
        @media #{$breakpoint-min-md} {
            margin: 1em auto 1em auto;
        }
    }
}

.when-how-item{
    margin: 2em 0;
    @media #{$breakpoint-sm} {
        margin: 2em 0;
    }
    @media #{$breakpoint-min-md} {
        margin: 1em 0;
    }
    @media #{$breakpoint-lg} {
    }
    @media #{$breakpoint-xl} {
    }
    @media #{$breakpoint-xxl} {
    }
}

// ---------------------------------------------------------------
// The added value
// ---------------------------------------------------------------

.fa-whatsapp-square{
    color: rgba(18,140,126,1);
}

.fa-book{
    color: rgba(245,140,124,1);
}

.fa-users{
    color: rgba(250,220,210,1);
}

.added-value{
    margin: 4em auto;
    @media #{$breakpoint-sm} {
        margin: 1em auto;
    }
    @media #{$breakpoint-min-md} {
    }
    @media #{$breakpoint-lg} {
        margin: 3em auto;
    }
    @media #{$breakpoint-xl} {
        margin: 3em auto;
    }
    @media #{$breakpoint-xxl} {
        margin: 3em auto;
    }

    .known-for-item{
        @media #{$breakpoint-lg} {
            grid-template-rows: auto 7.5em;
        }
    }
}

// ---------------------------------------------------------------
// The payment options
// ---------------------------------------------------------------

.payment-options{
    text-align: center;
    position: relative;
    background: white;
    padding-top: 1em;
    @media #{$breakpoint-min-md}{
        margin: 2em 0 3em 0;
        padding: 0;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: 2em 0 4em 0;
        padding: 0;
    }
}

.payment-options-content{
    @media #{$breakpoint-min-md}{
        display: grid;
        height: 34em;
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 3em 0 3em 0;
        grid-template-columns: auto 17em auto;
    }
    @media #{$breakpoint-lg}{
        height: 31em;
        grid-template-columns: auto 18em auto;
    }
    @media #{$breakpoint-xl}{
        height: 27em;
        grid-template-columns: auto 18em auto;
    }
    @media #{$breakpoint-xxl}{
        height: 23em;
        grid-template-columns: auto 17em auto;
    }
}

.payment-options-item{
    background-color: $lightest-pink;
    margin: 4em 1.5em;
    height: auto;
    width: 90vw;
    padding: 2em 1em;
    &:nth-child(1){
        margin: 4em 1.5em 5em 1.5em;
        background-color: rgba(104,152,165,0.2);
        @media #{$breakpoint-sm}{
            margin: 2em auto;
        }
    }
    &:nth-child(2){
        background-color: rgba(104,152,165,0.2);
    }
    @media #{$breakpoint-sm}{
        height: auto;
        margin: 4em auto;
        width: 23em;
    }
    @media #{$breakpoint-min-md}{
        background-color: $gray;
        height: 100%;
        &:nth-child(1){
            grid-column: 2;
            margin: 0;
            background-color: rgba(104,152,165,0.2);
        }
        &:nth-child(2){
            grid-column: 4;
            background-color: rgba(104,152,165,0.2);
        }
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 0;
        padding: .8em .7em;
        width: 100%;
    }
    @media #{$breakpoint-lg}{
    }
    @media #{$breakpoint-xl}{
    }
    @media #{$breakpoint-xxl}{
        padding: .8em 1em;
    }
    .sect-subtitle{
        margin-bottom: 1.5em;
    }

}

.payment-figure{
    position: relative;
    width: 18em;
    height: 6em;
    margin: 2em auto;
    @media #{$breakpoint-md}{
        width: 70%;;
        height: 4em;
        margin-bottom: 2em;
    }
    @media #{$breakpoint-lg}{
        margin: 1em auto;
        width: 70%;
        height: 4em;

    }
    @media #{$breakpoint-xl}{
        margin: 1em auto;
        width: 70%;
        height: 4em;

    }
}

.payment-figure-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
    @media #{$breakpoint-md}{
        
    }
}

.being-enough-price{
    font-size: 1.5em;
    @media #{$breakpoint-sm} {
        font-size: 1.3em;
    }
    @media #{$breakpoint-md} {
        font-size: 1.1em;
    }
    @media #{$breakpoint-lg} {
        font-size: 1.05em;
    }
    @media #{$breakpoint-xl} {
        font-size: 1em;
    }
    @media #{$breakpoint-xxl} {
        font-size: 1em;
    }
}

.bg-green{
    background-color: rgba(158,198,179,1);
}

.bg-blue{
    background-color: rgba(104,152,165,0.5);
}

.inputGroup {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: .2em 1em;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 25px;
        height: 25px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: -2px 0px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  padding: 0 16px;
  width: 21em;
  margin: 3em auto 0em auto;
  line-height: 36px;
    @media #{$breakpoint-md} {
        width: 16em;
        margin: 2em auto 0em auto;
    }
    @media #{$breakpoint-lg} {
        width: 15em;
        margin: 2em auto 0em auto;
    }
    @media #{$breakpoint-xl} {
        width: 14em;
        margin: 2em auto 0em auto;
    }
    @media #{$breakpoint-xxl} {
    }

}

.payment-small-text{
    font-size: 1em;
    @media #{$breakpoint-sm} {
        font-size: 1em;
    }
    @media #{$breakpoint-md} {
        font-size: .7em;
    }
    @media #{$breakpoint-lg} {
        font-size: .6em;
    }
    @media #{$breakpoint-xl} {
        font-size: .5em;
    }
    @media #{$breakpoint-xxl} {
        font-size: .5em;
    }
}
