// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// ---------------------------------------------------------------
// Home hero section
// ---------------------------------------------------------------
.home-hero{
    .home-hero-2{
        object-position: 50% 40%;
    }
    @media #{$breakpoint-xs} {
        position: relative;
        height: 37em;
    }
    @media #{$breakpoint-sm}{
        position: relative;
        height: 57em;
    }
    @media #{$breakpoint-min-md} {
        display: grid;
        margin-top: 1em;
        .home-hero-text{
            z-index: 99;
            margin: auto 0;
    
            p {
                display: flex;
                text-transform: uppercase;
                background-color: $light-pink;
                letter-spacing: .3em;
                width: auto;
                height: 50px;
                justify-content: center;
                align-items: center;
                @media #{$breakpoint-min-md} {
                    height: 60px;
                }
                @media #{$breakpoint-xxl} {
                    height: 70px;
                }
            }
    
        }
        .home-hero-img{
            height: 21em;
    
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        .home-hero-2{
            object-position: 50% 22%;
        }

    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl} {
        // grid-template-columns: auto [text-start] minmax(7em, 1fr) [img-start] minmax(7em, 1fr) [text-end] minmax(7em, 1fr) [img-end] auto;
        grid-template-columns: auto minmax(7em, 10em) repeat(2, minmax(3em, 5em)) minmax(7em, 17em) auto;
        .home-hero-text{
            grid-column: 2 / 5;
            grid-row: 1 / 2;
        }
        .home-hero-img{
            grid-column: 3 / 6;
            grid-row: 1 / 2;
        }
    }
    @media #{$breakpoint-lg}{
        // grid-template-columns: auto [text-start] minmax(7em, 1fr) [img-start] minmax(7em, 1fr) [text-end] minmax(7em, 1fr) [img-end] auto;
        grid-template-columns: auto minmax(7em, 13em) repeat(2, minmax(3em, 5em)) minmax(7em, 11em) auto;
    }
}

.home-hero-text{
    font-family: $font-biko;
    overflow-x: hidden;
    @media #{$breakpoint-xs}, #{$breakpoint-sm}{
        position: absolute;
        top: 17em;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1.6em;
        width: 15em;
        margin: auto;
        z-index: 3;
        p {
            display: flex;
            text-transform: uppercase;
            background-color: $light-pink;
            width: auto;
            height: 50px;
            justify-content: center;
            align-items: center;
            letter-spacing: .2em;
            @media #{$breakpoint-sm}{
                letter-spacing: .2em;
                font-size: 1.1em;
            }
        }
        @media #{$breakpoint-sm}{
            top: 25em;
            width: 16em;
        }
    }

    @media #{$breakpoint-sm}{
        top: 26em;
        width: 20em;
    }
    p {
        @media #{$breakpoint-xxl}{
            font-size: .9em;
        }
    }
    .logo-sub {
        font-size: 2.9em;
        font-weight: 400;
        text-transform: lowercase!important;
        letter-spacing: 0!important;
        font-family: $font-la-parisienne!important;
        @media #{$breakpoint-md}, #{$breakpoint-lg}{
            font-size: 3.5em;
        }
        @media #{$breakpoint-xl}{
            font-size: 3em;
        }
        @media #{$breakpoint-xxl}{
            font-size: 3em;
        }
    }

    
}

.home-hero-img{
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1.5s;
    height: 34em;
    opacity: 0;
    @media #{$breakpoint-xs}, #{$breakpoint-sm} {
        position: absolute;
    }
    @media #{$breakpoint-sm}{
        height: 52em;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero-showing {
    opacity: 1;
    z-index: 2;
}

.home-sub-hero{
    @media #{$breakpoint-xs}{
        margin: 3.5em 1.5em;
    }
    @media #{$breakpoint-sm}{
        width: 33em;
        margin: 3em auto 4em auto;
    }
    @media #{$breakpoint-md}{
        width: 33em;
        margin: 2em auto 2em auto;
    }
    @media #{$breakpoint-lg}{
        width: 38em;
        margin: 2em auto 2em auto;
    }
    @media #{$breakpoint-xl}{
        width: 33em;
        margin: 3em auto 3em auto;
    }
    @media #{$breakpoint-xxl}{
        width: 33em;
        margin: 3em auto 2em auto;
    }
}

.home-sub-hero-content{
    text-align: center;
    margin: auto;
    @media #{$breakpoint-xs}{
      
    }
    @media #{$breakpoint-sm}{
        
    }
    .about-title{
        color: $base-text-color;
        font-weight: 400;
        font-size: 2em;
        @media #{$breakpoint-md}{
            line-height: 1.5em;
            font-size: 1.7em;
        }  
        @media #{$breakpoint-lg}{
            line-height: 1.5em;
            font-size: 1.3em;
        }     
        @media #{$breakpoint-xl}{
            line-height: 1.5em;
            font-size: 1.6em;
        } 
        @media #{$breakpoint-xl}{
            line-height: 1.5em;
            font-size: 1.4em;
        } 
  
    }

}

.testimonial-alone{
    width: 90vw;
    margin: 5em auto;
    text-align: center;
    @media #{$breakpoint-md}{
        width: 75vw; 
        margin: 3em auto;
    }
    @media #{$breakpoint-lg},#{$breakpoint-xl}{
        width: 38em;
        margin: 3em auto;
        text-align: center;
    } 
}

.testimonial-alone-author-job{
    font-size: 1.1em;
    @media #{$breakpoint-sm}{
        font-size: 1em;   
    }
    @media #{$breakpoint-md}{
        font-size: .65em;   
    }
    @media #{$breakpoint-lg}{
        font-size: .6em;   
    }
    @media #{$breakpoint-xl}{
        font-size: .5em;   
    }
    @media #{$breakpoint-xxl}{
        font-size: .6em;   
    }
}

.testimonial-alone-content{
    margin: 3em 0 4em 0;
    @media  #{$breakpoint-lg}{
        margin: 2em 0;
    }
    @media  #{$breakpoint-xl}{
        margin: 3em 0 2em 0;
    }
}

.testimonial-alone-exert{
    width: 90%;
    color: #aa9659;
    text-align: center;
    margin: 2em auto 1em auto;
    @media  #{$breakpoint-md}{
        margin: 1em auto;
    }
    @media  #{$breakpoint-lg}{
        margin: 1em auto;
    }
    @media  #{$breakpoint-xl}{
        margin: 1em auto;
    }
    @media  #{$breakpoint-xxl}{

    }
    p {
        font-size: 1.7em;
        @media  #{$breakpoint-sm}{
            font-size: 1.4em;
        }
        @media  #{$breakpoint-md}{
            font-size: 1.2em;
        }
        @media  #{$breakpoint-lg}{
            font-size: 1em;
        }
        @media  #{$breakpoint-xl}{
            font-size: 1.1em;
        }
        @media  #{$breakpoint-xxl}{
            font-size: 1em;
        }
    }
}

.client-love{
    margin: 3em auto;
    @media  #{$breakpoint-md}{
        margin: 2em auto;
    }
    @media  #{$breakpoint-lg}{
        margin: 1em auto;
    }
    @media  #{$breakpoint-xl}{
        margin: 1em auto;
    }
}
// ---------------------------------------------------------------
// Home coaching section
// ---------------------------------------------------------------


.home-coaching{
    
    display: grid;
    grid-template-rows: repeat(2, auto); 
    grid-template-columns: 70vw;
    margin-top: 3em;
    padding-bottom: 3em;
    height: 156em;
    text-align: center;
    justify-content: center;
    position: relative;
    background: white;
    z-index: 5;

    @media #{$breakpoint-sm}{
        grid-template-columns: 50vw;
        height: 132em;
        padding-bottom: 3em;
    }
    @media #{$breakpoint-min-md}{
        padding: 0;
    }
    
    @media #{$breakpoint-md} {
        grid-template-columns: 2fr [coaching-1-1] minmax(auto, 12em) 2em [coaching-free] minmax(auto, 12em) 2em [coaching-why] minmax(auto, 12em) 2fr; 
        height: 32em;
        margin: 4em 0;
    }
    @media #{$breakpoint-lg}{
        grid-template-columns: 2fr [coaching-1-1] minmax(auto, 12em) 2em [coaching-free] minmax(auto, 12em) 2em [coaching-why] minmax(auto, 12em) 2fr; 
        height: 28em;
        margin: 4em 0;
    }
    @media #{$breakpoint-xl} {
        grid-template-columns: auto [coaching-1-1] minmax(auto, 11em) 2em [coaching-free] minmax(auto, 11em) 2em [coaching-why] minmax(auto, 11em) auto;
        height: 24em;
        margin: 4em 0;
    }  
    @media #{$breakpoint-xxl} {
        grid-template-columns: auto [coaching-1-1] minmax(auto, 11em) 2em [coaching-free] minmax(auto, 11em) 2em [coaching-why] minmax(auto, 11em) auto;
        margin: 4em 0;
        height: 23em;
    } 
}

.coaching-1-1,
.coaching-free,
.coaching-why{
    display: grid;
    grid-template-rows: 23em 24em;
    margin: 2em 0;
    @media #{$breakpoint-sm}{
        grid-template-rows: 18em 20em;
    }
    @media #{$breakpoint-md}{
        grid-template-rows: 14em 17.5em;
        margin: 0;
    }
    @media #{$breakpoint-lg} {
        grid-template-rows: 13em 15em;
        margin: 0;
    }
    @media #{$breakpoint-xl} {
        grid-template-rows: 11em 13em;
        margin: 0;
    }
    @media #{$breakpoint-xxl} {
        grid-template-rows: 12em 11em;
        margin: 0;
    }
}


.coaching-img{
    width: auto;
    margin: 0;
    width: auto;
    object-fit: cover;
    height: 100%;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        @media #{$breakpoint-sm}{
            object-position: 50% 25%;
        }
        @media #{$breakpoint-md}{
            object-position: 50% 30%;
        }
    }
}

.coaching-1-1{
    @media #{$breakpoint-min-md} {
        grid-column: coaching-1-1;
    }
    img{
        object-position: 50% 40%;
        @media #{$breakpoint-md} {
            object-position: 50% 30%;
        }
        @media #{$breakpoint-lg} {
            object-position: 50% 30%;
        }
        @media #{$breakpoint-xl} {
            object-position: 50% 20%;
        }
    }
}

.coaching-free{
    @media #{$breakpoint-min-md} {
        grid-column: coaching-free;
    }
    img{
        @media #{$breakpoint-lg}, #{$breakpoint-xl} {
            object-position: 50% 10%;
        }
    }
    
}
.coaching-why{
    @media #{$breakpoint-min-md} {
        grid-column: coaching-why;
    }
    img{
        object-position: 50% 70%;
        @media #{$breakpoint-md} {
            object-position: 50% 60%;
        }
        @media #{$breakpoint-xl} {
            object-position: 50% 40%;
        }
        @media #{$breakpoint-xxl} {
            object-position: 50% 40%;
        }
    }
    
}

.coaching-title{
    font-family: $font-roboto;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 5px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: $base-text-color;
    @media #{$breakpoint-md} {
        font-size: 1em;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl} {
        font-size: .8em;
    }
}

.coaching-text{
    position: relative;
    background-color: $light-pink;
    height: 100%;
    padding: 0.6em;
    
}

// ---------------------------------------------------------------
// Gift card section
// ---------------------------------------------------------------

.gift-card-section{
    text-align: center;
    margin: auto;
    padding: 2em 0 5em 0 ;
    background: $gray;

    @media #{$breakpoint-sm} {
        padding: 2em 0 4em 0;
    }
    @media #{$breakpoint-min-md} {
        background: white;
        padding: 2em 0 3em 0;
        height: 38em;
    }
    @media #{$breakpoint-lg} {
        height: 35em;
    }
    @media #{$breakpoint-xl} {
        height: 34em;
    }
    @media #{$breakpoint-xxl} {
        height: 35em;
    }
    .sect-title{
        margin: 0 0 1em 0;
        @media #{$breakpoint-sm} {
            padding: 0 2em;
        }
    }
}

.gift-card-intro{
    width: 90vw;
    margin: auto;
    @media #{$breakpoint-sm} {
        width: 80vw;
    }
    @media #{$breakpoint-min-md} {
        width: 34em;
    }

    .sect-subtitle{
        margin-bottom: 1em;
    }
}

.gift-card-content{
    @media #{$breakpoint-min-md} {
        display: flex;
        width: 85vw;
        height: 20em;
        margin: auto;
        justify-content: space-between;
    }
    @media #{$breakpoint-lg} {
        height: 19em;
    }
    @media #{$breakpoint-xl} {
        justify-content: space-around;
        height: 18.5em;
    }
    @media #{$breakpoint-xxl} {
        justify-content: space-evenly;
    }
}

.gift-card-item{
    width: 85vw;
    margin: 4em auto;
    position: relative;
    height: auto;
    border: solid 1px #e0e0e0;
    background-color: white;

    @media #{$breakpoint-sm} {
        width: 24em;
    }
    @media #{$breakpoint-min-md} {
        width: 31%;
        height: 100%;
        margin: 0;
    }
    @media #{$breakpoint-lg} {
        width: 29%;
    }
    @media #{$breakpoint-xl} {
        width: 26%;
    }
    @media #{$breakpoint-xxl} {
        width: 22%;
    }
}

.gift-card-img{
    width: 100%;
    @media #{$breakpoint-min-md} {
        height: 10em;
    }
    img{
        width: 100%;
        height: 100%;
    }
}

.gift-card-text{
    width: 90%;
    margin: auto;
    padding: 1.5em .5em;
    background: white;

    @media #{$breakpoint-sm} {
        width: 85%;
    }
    @media #{$breakpoint-min-md} {
        padding: 1em .5em 0 .5em;
    }
    @media #{$breakpoint-lg} {
    }
    @media #{$breakpoint-xl} {
    }
    @media #{$breakpoint-xxl} {
    }
    .normal-text{
        margin-bottom: 0;
    }
    
    .sect-subtitle{
        @media #{$breakpoint-min-md} {
            margin-bottom: 1em;
        }
    }
}

.gift-card-item-info{
    margin: 1em auto;
    @media #{$breakpoint-min-md} {
        margin: .5em auto;
    }
}

.gift-card-btn{
    margin-top: 2em;

    @media #{$breakpoint-min-md} {
        padding: .2em 1em;
        margin: 0 auto 0 auto!important;
        width: 7em;
        position: absolute;
        bottom: 1em;
        left: 0;
        right: 0;
    }
}



// ---------------------------------------------------------------
// Home about section
// ---------------------------------------------------------------

.home-about{
    background-color: $gray;
    margin-top: 0;
    padding-bottom: 2em;
    text-align: center;
    display: grid;
    grid-template-rows: auto 35em minmax(auto, 37em) 7em;

    @media #{$breakpoint-sm} {
        grid-template-rows: auto 36em minmax(auto, 28em) 4em;
        margin-top: 2em;
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
        height: 37.5em;
        padding-bottom: 0;
        grid-template-columns: 4em 15em repeat(2, 1fr) 4em;
        grid-template-rows:repeat(3, 1fr);
    }
    @media #{$breakpoint-md} {
        margin: 2em 0 3em 0;
    }
    @media #{$breakpoint-lg} {
        grid-template-columns: auto 16em repeat(2, 12em) auto;
        height: 30em;
        margin: 4em 0;
    }
    @media #{$breakpoint-xl}, #{$breakpoint-xxl} {
        grid-template-columns:  auto 13em repeat(2, 13em) auto;
        margin: 4em 0;
        height: 25em;
    }
    @media #{$breakpoint-xxl} {
        grid-template-columns:  auto 12em repeat(2, 12em) auto;
        height: 21em;
    }
}

.home-about-title{
    margin: auto 1em 0 1em;
    text-align: center;
    padding-top: 3em;
    @media #{$breakpoint-min-md} {
        grid-column: 3/5;
        grid-row: 1/1;
        text-align: start;
        padding: 0 0 0 1.5em;
        margin: 1em auto 0 auto;
    }
}

.home-about-subtitle{
    font-family: $font-roboto;
    font-size: 1.3em;
    padding: 5px 10px 5px 0;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: $base-text-color;
    @media #{$breakpoint-md} {
        font-size: .8em;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        font-size: .7em;
    }
}

.home-about-img{
    width: 85vw;
    margin: auto;
    -o-object-fit: cover;
    object-fit: cover;
    height: 90%;
    background-color: white;
    padding: 20px;
    @media #{$breakpoint-sm} {
        width: 65vw;
    }
    @media #{$breakpoint-min-md} {
        width: 100%;
        background-color: $light-pink;
        grid-column: 2/3;
        grid-row: 1/5;
    }
    @media #{$breakpoint-md} {
        height: 90%;
        margin: auto;
    }
    @media #{$breakpoint-lg} {
        height: 100%;
    }
    @media #{$breakpoint-xl} {
        height: 100%;
    }
    @media #{$breakpoint-xxl} {
        height: 100%;
    }

    img{
        object-fit: cover;
        margin: auto;
        width: 100%;
        height: 100%;
    }
}

.home-about-text{
    padding: 0 2.5em;
    margin: auto;
    @media #{$breakpoint-sm} {
        padding: 0 5.5em;
    }
    @media #{$breakpoint-min-md} {
        grid-column: 3/5;
        grid-row: 2/3;
        text-align: start;
        padding: 0 0 0 1.5em;
    }
}

.about-cta-btn{
    @media #{$breakpoint-min-md} {
        grid-column: 3/5;
        grid-row: 3/3;
        margin: auto;
    }
}

// ---------------------------------------------------------------
// Home you will gain section
// ---------------------------------------------------------------

.home-you-will-gain{
    text-align: center;
    padding: 1em 0 2em 0;
    @media  #{$breakpoint-min-md}{
        background-color: $gray;
    }
}

.home-gain-heading{
    margin: 1em 1em 3em 1em;
    @media  #{$breakpoint-min-md}{
        margin: 1em 1em 1em 1em;
    }
    @media  #{$breakpoint-lg}{
        margin: 0 1em;
    }

}

.home-gain-content{
    width: 90vw;
    margin: 1em auto;
    position: relative;
    @media  #{$breakpoint-sm}{
        width: 55vw;
    }
    @media  #{$breakpoint-min-md}{
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        margin: 0 auto;
    }
}

.home-gain-item{
    margin: 4em 0;
    position: relative;
    @media  #{$breakpoint-min-md}{
        position: relative;
        margin: 1em 0;
        align-self: end;
        width: 31%!important;
        padding: 0 .8em;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(5){
            &:after{
                content: "";
                background-color: #f58c7c;
                position: absolute;
                width: 2px;
                height: 10em;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }
    @media #{$breakpoint-xl}{
        padding: 0 .7em;
    }
    .sect-subtitle{
        margin: .5em;
        // color: $pink;
        @media #{$breakpoint-md}{
            margin: .5em 0;
        }
        @media #{$breakpoint-lg}{
            margin: .5em 0;
        }
    }
}

.gain-item-intro{
    margin-bottom: 3em;
    @media #{$breakpoint-sm}{
        font-size: 1.4em;
        margin: 1em 1em 1.5em 1em;
    }
    @media #{$breakpoint-md}{
        margin-bottom: 2em;
    }
    @media #{$breakpoint-lg}{
        font-size: 1em;
        margin: .5em 0 1.5em 0;
    }
    @media #{$breakpoint-xl}{
        font-size: .9em;
        margin: .5em 0 1.5em 0;
    }
    @media #{$breakpoint-xxl}{
        font-size: .8em;
        margin: .5em 0 1.5em 0;
    }
    .sect-subtitle{
        @media #{$breakpoint-sm}{
            font-size: .8em;
        }
        @media #{$breakpoint-md}{
            font-size: .9em;
        }
        @media #{$breakpoint-lg}{
            font-size: .7em;
        }
        @media #{$breakpoint-xl}{
            font-size: .8em;
        }
        @media #{$breakpoint-xxl}{
            font-size: .8em;
        }
    }
}

.gain-intro-subtitle{
    font-size: 1.2em;
    font-family: $font-biko;
    color: $pink;
    margin: 1em 1em 0.5em 1em;
    @media #{$breakpoint-sm}{
        font-size: 1.4em;
    }
    @media #{$breakpoint-md}{
        font-size: 1.1em;
        margin: .5em 0 .5em 0;
    }
    @media #{$breakpoint-lg}{
        font-size: 1em;
        margin: 1em 0 0.5em 0;
    }
    @media #{$breakpoint-xl}{
        font-size: .9em;
        margin: .5em 1em 0.5em 1em;
    }
    @media #{$breakpoint-xxl}{
        font-size: .8em;
        margin: .5em 1em 0.5em 1em;
    }
}

.gain-item-text{
    @media #{$breakpoint-sm}{
        min-height: 4em;
    }
    @media #{$breakpoint-md}{
        min-height: 4em;
    }
    @media #{$breakpoint-lg}{
        min-height: 5em;
    }
}

// ---------------------------------------------------------------
// Home quote parallex section
// ---------------------------------------------------------------

.quote-parallax-container{
    position: relative;
    height: 19em;
    background-image: url("../img/Mhairi_pics/chair-circus-lane-comp.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    @media #{$breakpoint-min-md} {
        background-position: 0 0em;
        background-attachment: fixed;
    }
    @media #{$breakpoint-xl} {
        height: 14em;
        background-position: 0 -2em;
    }
    @media #{$breakpoint-xxl} {
        height: 14em;
        background-position: 0 -1em;
    }
    img{
        height: 150%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 3%;
    }
}
.quote-parallax-window {
    min-height: 25em;
    background: transparent;
    position: relative;
    text-align: center;
    opacity: .7;

    h2 {
        padding: .8em;
        margin: 0;
    } 
    @media #{$breakpoint-md} {
        min-height: 15em;
    }
    @media #{$breakpoint-lg} {
        min-height: 15em;
    }
    @media #{$breakpoint-xl} {
        min-height: 13em;
    }
}

.quote{
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15em;
    width: 23em;
    margin: auto;
    padding: 2em 1em;
    background: white;
    .sect-subtitle{
        @media #{$breakpoint-lg} {
            margin: .4em auto;
        }
    }
    .quote-text{
        font-size: 1.2em;
        margin: 0.6em .6em 0 .6em;
        letter-spacing: .3em;
        @media #{$breakpoint-sm} {
            font-size: 1.2em;
        }
        @media #{$breakpoint-md} {
            font-size: 1em;
        }
        @media #{$breakpoint-lg} {
            margin: 1em .6em 0.4em .6em;
            font-size: 1.1em;
        }
        @media #{$breakpoint-xl} {
            font-size: .9em;
            padding: 0 2em;
            margin: 1em .6em .6em .6em;
        }
        @media #{$breakpoint-xxl} {
            font-size: .8em;
            padding: 0 2em;
            margin: 0.6em .6em .6em .6em;
        }
    }
    .quote-author{
        font-size: .8em;
    }
    @media #{$breakpoint-sm} {
        height: 14em;
        width: 26em;
        padding: 1.5em;
    }
    @media #{$breakpoint-md} {
        height: 10em;
        width: 31em;
        padding: 2em 3em;
    }
    @media #{$breakpoint-lg} {
        height: 11em;
        width: 32em;
        padding: .5em;
        .quote-author{
            font-size: .6em;
        }
    }
    @media #{$breakpoint-xl} {
        height: 8em;
        width: 25em;
        padding: 1em 0;
        .quote-author{
            font-size: .6em;
        }
    }
    @media #{$breakpoint-xxl} {
        height: 8em;
        width: 24em;
        padding: 1.5em 0;
        .quote-author{
            font-size: .6em;
        }
    }
}

// ---------------------------------------------------------------
// Why Mhairi section
// ---------------------------------------------------------------

.why-mhairi{
    @media #{$breakpoint-min-md} {
        margin: 3em 0;
    }
}

.why-mhairi-content{
    margin-top: 0;
    padding-bottom: 3em;
    text-align: center;
    // display: grid;
    // grid-template-rows: auto 35em minmax(auto, 37em) 7em;

    @media #{$breakpoint-sm} {
        // grid-template-rows: auto 36em minmax(auto, 28em) 4em;
        margin-top: 2em;
    }
    @media #{$breakpoint-min-md} {
        background-color: white;
        height: 34.5em;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: auto 25em 2em 16em auto;
        grid-template-rows: repeat(3, 1fr);
    }
    @media #{$breakpoint-lg} {
        grid-template-columns: auto 25em 2em 16em auto;
        // grid-template-rows: 4em 20em auto;
        height: 29em;
    }
    @media #{$breakpoint-xl} {
        height: 29em;
        // grid-template-rows: 4em 18em auto;
    }
    @media #{$breakpoint-xxl} {
        height: 25em;
        // grid-template-rows: 4em 16em auto;
    }
    .why-mhairi-title{
        padding-top: 0;
        text-align: center;
        margin: 2em 1.5em;
        @media #{$breakpoint-sm} {
            margin: 2em 1em;
        }
        @media #{$breakpoint-min-md} {
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: start;
            margin: 0;
            padding: 0 0 0 1.5em;
        }
    }
    .home-about-img{
        width: 90vw;
        @media #{$breakpoint-min-md} {
            width: 100%;
            height: 100%;
            grid-column: 4/5;
            grid-row: 1/5;
        }
        img{
            @media #{$breakpoint-min-md} {
                object-position: 20% 50%;
            }
        }
    }
    .home-about-text{
        margin: 1em auto 3em auto;
        padding: 0 2em;
        @media #{$breakpoint-min-md} {
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 1em auto 0 auto;
            text-align: start;
            padding: 0 0 0 1.5em;
        }
        @media #{$breakpoint-lg}, #{$breakpoint-xl} {
            margin: 0 auto;
        }
        .sect-subtitle{
            margin: 0 auto 2em auto;
            @media #{$breakpoint-min-md} {
                margin: 0 auto 1em auto;
            }
            @media #{$breakpoint-lg}, #{$breakpoint-xl} {
                margin: 1em auto 2em auto;
            }
        }
    }
    .about-cta-btn{
        
        @media #{$breakpoint-min-md} {
            grid-column: 2/3;
            grid-row: 3/3;
            margin: auto;
        }
        
    }

}

// ---------------------------------------------------------------
// Home cta section
// ---------------------------------------------------------------

.home-cta {
    min-height: 22em;
    background: white;
    position: relative;
    text-align: center;

    h2 {
        padding: .8em;
        margin: 0;
    }
    @media #{$breakpoint-md} {
        min-height: 15em
    }
    @media #{$breakpoint-lg} {
        min-height: 13em
    }
    @media #{$breakpoint-xl} {
        min-height: 13em
    }
    
}

.home-cta-content{
    background: $lightest-pink;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    @media #{$breakpoint-min-md} {
        height: 100%;
    }
}

.home-cta-window{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 18em;
    width: 24em;
    margin: auto;

    .normal-text{
        padding: .8em;
    }
    @media #{$breakpoint-sm} {
        padding: 0 .8em;
        height: 15em;
    }
    @media #{$breakpoint-md} {
        padding: 0 .8em;
        height: 11em;
        width: 31em;
    }
    @media #{$breakpoint-lg} {
        padding: 0 .7em;
        height: 10em;
        width: 27em;
    }
    @media #{$breakpoint-xl} {
        padding: 0 .9em;
        height: 7.5em;
        width: 27em;
        .normal-text{
            padding: 1em;
        }
    }
    @media #{$breakpoint-xxl} {
        padding: 0 .9em;
        height: 7em;
        width: 27em;
        .normal-text{
            padding: 1em;
        }
    }
}

.home-cta-title{
    font-family: $font-roboto;
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.2em;
    color: $base-text-color;
  
    @media #{$breakpoint-sm} {
        font-size: 1.1em;
    }
    @media #{$breakpoint-md} {
        font-size: 1.1em;
    }
    @media #{$breakpoint-lg} {
        font-size: .9em;
    }
    @media #{$breakpoint-xl} {
        font-size: .8em;
    }
    @media #{$breakpoint-xxl} {
        font-size: .8em;
    }
}

.home-cta-btn{
    position: absolute;
    background-color: #f7d989;
    margin: auto!important;
    height: 2.6em;
    width: 20em;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 1em;
    
    @media #{$breakpoint-sm} {
        bottom: 2em;
    }
    @media #{$breakpoint-md} {
        bottom: 1em;
        height: 2em;
        width: 15em;
    }
    @media #{$breakpoint-lg} {
        bottom: 2em;
        height: 1.8em;
        width: 13em;
    }
    @media #{$breakpoint-xl} {
        bottom: 1em;
        height: 1.4em;
        width: 12em;
    }
    @media #{$breakpoint-xxl} {
        bottom: 1em;
        width: 11em;
    }
    a{
        color: $base-text-color;
        font-size: 1em;
        height: 100%;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2em;
        @media #{$breakpoint-sm} {
            font-size: 1em;
        }
        @media #{$breakpoint-md} {
            font-size: .78em;
        }
        @media #{$breakpoint-lg} {
            font-size: .69em;
        }
        @media #{$breakpoint-xl} {
            font-size: .6em;
        }
        @media #{$breakpoint-xxl} {
            font-size: .6em;
        }
    }
}


// ---------------------------------------------------------------
// Home testimonials section
// ---------------------------------------------------------------

.testimonial-container{
    position: relative;
    height: 23em;
    background-image: url("../img/Mhairi_pics/chair-circus-lane-crop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    @media #{$breakpoint-min-md}{
        height: 15em;
        background-attachment: fixed;
    }
    @media #{$breakpoint-xl}{
        height: 14em;
    }
    @media #{$breakpoint-xxl}{
        height: 14em;
    }   
    img{
        height: 150%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: 50% 5%;
        opacity: .8;
    }
}

.testimonial-parallax-window{
    min-height: 23em;
    background: transparent;
    position: relative;
    text-align: center;
    opacity: 0.5!important;
    @media #{$breakpoint-sm}{
        min-height: 16em;
    }
    @media #{$breakpoint-md}{
        min-height: 15em;
    }
    @media #{$breakpoint-lg}{
        min-height: 12em;
    }
    @media #{$breakpoint-xl}{
        min-height: 10em;
    }
}

.testimonial-parallax{
    text-align: center;
    width: 23em;
    height: 16em;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    @media #{$breakpoint-sm}{
        width: 29em;
        height: 11em;
    }
    @media #{$breakpoint-md}{
        width: 34em;
        height: 9em;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        width: 32em;
        height: 6em;
    }
    @media #{$breakpoint-xxl}{
        width: 28em;
        height: 6em;
    }
}

.love-hearts{
    font-size: 1.8em;
    color: rgba(186,197,202,1);
    @media #{$breakpoint-md}{
        font-size: 1.3em;
    }
    @media #{$breakpoint-lg}{
        font-size: 1.3em;
    }
    @media #{$breakpoint-xl}{
        font-size: 1em;
    }
}

