// ---------------------------------------------------------------
// services hero
// ---------------------------------------------------------------

.services-hero{
    @media #{$breakpoint-sm}{
        height: 57em;
    }
    @media #{$breakpoint-md}{
        display: grid;
        grid-template-columns: auto 19em 1em 22em auto;
        height: 22em;
        margin: 3em 0 0 0;
    }
    @media #{$breakpoint-lg}{
        display: grid;
        grid-template-columns: auto 22em 1em 22em auto;
        height: 22em;
        margin: 3em 0 0 0;
    }
    @media #{$breakpoint-xl}{
        display: grid;
        grid-template-columns:  auto 21em 2em 21em auto;
        height: 21em;
        margin: 2em 0 2em 0;
    }
    @media #{$breakpoint-xxl}{
        display: grid;
        grid-template-columns: auto 20em 2em 18em auto;
        height: 20em;
        margin: 2em 0 0 0;
    }
}

.services-hero-text{
    @media #{$breakpoint-xs}{
        margin: 3.5em 1.5em;
    }
    @media #{$breakpoint-sm}{
        margin: 3.5em 1.5em;
        height: 17em;
    }
    @media #{$breakpoint-md}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-lg}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-xl}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-xxl}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }

}

.services-hero-content{
    text-align: center;
    margin: auto;
    @media #{$breakpoint-xs}{
        width: 24em;
    }
    @media #{$breakpoint-sm}{
        width: 32em;
    }
    @media #{$breakpoint-md}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 13em;
        margin: auto;
    }
    @media #{$breakpoint-lg}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 11em;
        margin: auto;
    }
    @media #{$breakpoint-xl}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 12em;
        margin: auto;
    }
    @media #{$breakpoint-xxl}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 11em;
        margin: auto;
    }

    .about-title{
        @media #{$breakpoint-md}{
            font-size: 1.7em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-lg}{
            font-size: 1.6em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-xl}{
            font-size: 1.4em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-xxl}{
            font-size: 1.35em;
            letter-spacing: .2em;
            margin: 0;
        }
    }
    
    .sect-title{
        margin: 1.5em 0;
        @media #{$breakpoint-sm}{
            margin: .6em 0 1em 0;
        }
        @media #{$breakpoint-md}{
            margin: .6em 0 .8em 0;
        }
        @media #{$breakpoint-lg}{
            margin: .5em 0;
        }
        @media #{$breakpoint-xl}{
            margin: .5em 0 .9em;
        }

        
    }
    .normal-text{
        margin-top: 2em;
       
        @media #{$breakpoint-sm}{
            position: relative;
            top: 3em;
            width: 80%;
            margin: auto;
            font-size: 1.1em;
        }
        @media #{$breakpoint-md}{
            position: relative;
            width: 90%;
            margin: 1.5em auto;
            font-size: .85em;
        }
        @media #{$breakpoint-lg}{
            position: relative;
            width: 90%;
            margin: 1.5em auto;
            font-size: .8em;
        }
        @media #{$breakpoint-xl}{
            position: relative;
            width: 90%;
            margin: 1.5em auto;
            font-size: .65em;
        }
        @media #{$breakpoint-xxl}{
            position: relative;
            width: 90%;
            margin: 1.5em auto;
            font-size: .65em;
        }
    }
        
}

.services-hero-img{
    @media #{$breakpoint-sm}{
        height: 33em;
    }
    @media #{$breakpoint-min-md}{
        grid-column: 2;
    }
    @media #{$breakpoint-xl}{
        height: 100%;
    }
    img{
        @media #{$breakpoint-sm}{
            object-position: 50% 90%;
        }
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.services-title{
    font-family: $font-roboto;
    text-transform: uppercase;
    letter-spacing: .3em;
    color: $base-text-color;
    font-size: 2.3em;
    font-weight: 700;
    @media #{$breakpoint-sm}{
        font-size: 1.9em;
        font-weight: 700;
    }
    @media #{$breakpoint-md}{
        font-size: 1.5em;
    }
    @media #{$breakpoint-lg}{
        font-size: 1.5em;
    }
    @media #{$breakpoint-xl}{
        font-size: 1.35em;
    }
    @media #{$breakpoint-xxl}{
        letter-spacing: .25em;
        font-size: 1.2em;
    }
}

.services-subtitle{
    font-family: $font-roboto;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: $base-text-color;
    font-size: 1.4em;
    @media #{$breakpoint-sm}{
        width: 60%;
        margin: auto;
        font-size: 1.4em;
    }
    @media #{$breakpoint-md}{
        font-family: $font-parisienne;
        font-size: .9em;
    }
    @media #{$breakpoint-lg}{
        font-family: $font-parisienne;
        font-size: .9em;
    }
    @media #{$breakpoint-xl}{
        font-family: $font-parisienne;
        font-size: .82em;
    }
    @media #{$breakpoint-xxl}{
        font-family: $font-parisienne;
        font-size: .7em;
    }
}

.services-logo-title{
    line-height: .7;
    @media #{$breakpoint-sm}{
        line-height: .7;
    }
    @media #{$breakpoint-md}{
        font-size: 3em;
        line-height: .8;
        margin: 0 ;
    }
    @media #{$breakpoint-lg}{
        line-height: .6;
    }
    @media #{$breakpoint-xl}{
        line-height: .6;
    }
}
// ---------------------------------------------------------------
// services intro
// ---------------------------------------------------------------

.services-intro{
    background-color: $gray;
    text-align: center;
    display: grid;
    justify-items: center;
    padding: 3em 0;
    @media #{$breakpoint-min-md}{
        background-color: white;
        margin: 3em 0 2em 0;
        padding: 0
    }
    @media #{$breakpoint-lg}{
        margin: 3em 0 2em 0;
    }
    .normal-text{
        width: 100%;
    }
}

.intro-title{
    margin-top: 0;
    font-family: $font-biko;
    width: 15.5em;
    @media #{$breakpoint-sm}{
        width: 23em;
        margin-top: 1em;
    }
    @media #{$breakpoint-md}{
        // font-size: 1.2em;
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-lg}{
        font-size: 1.1em;
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-xl}{
        font-size: 1em;
        width: 34em;
        // margin-top: 0;
    }
    @media #{$breakpoint-xxl}{
        font-size: .9em;
        width: 36em;
        // margin-top: 0;
    }
    
}

.services-intro-subtitle{
    font-size: 1.5em;
    font-family: $font-biko;
    color: $pink;
    margin: 1em 1em 1.5em 1em;
    @media #{$breakpoint-sm}{
        font-size: 1.4em;
        margin: 1em 1em 1.5em 1em;
    }
    @media #{$breakpoint-md}{
        font-size: 1.1em;
        margin: .5em 1em 1.5em 1em;
    }
    @media #{$breakpoint-lg}{
        font-size: 1em;
        margin: .5em 1em 1.5em 1em;
    }
    @media #{$breakpoint-xl}{
        font-size: .9em;
        margin: .5em 1em 1.5em 1em;
    }
    @media #{$breakpoint-xxl}{
        font-size: .8em;
        margin: .5em 1em 1.5em 1em;
    }
}

.intro-text{
    width: 23em;
    @media #{$breakpoint-sm}{
        width: 80vw;
    }
    @media #{$breakpoint-md}{
        width: 33em;
    }
    @media #{$breakpoint-lg}{
        width: 34em;
    }
    @media #{$breakpoint-xl}{
        width: 32.5em;
        margin-bottom: 1em;
    }
    @media #{$breakpoint-xxl}{
        width: 34em;
        margin-bottom: 0;
    }
}

// ---------------------------------------------------------------
// what can this look like
// ---------------------------------------------------------------

.look-like-fade-sect{
    margin: 3em 0;
    text-align: center;
    @media #{$breakpoint-min-md}{
        background-color: $aqua-bg;
        padding: 2em 0 3em 0;
        margin: 0;
    }
    

    .look-like-title{
        margin: 0 auto 2em auto;
    }

}

.look-like-fade{
    width: 90vw;
    margin: auto;
    @media #{$breakpoint-sm}{
        width: 80vw;
    }
    @media #{$breakpoint-min-md}{
        width: 90vw;
        position: relative;
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        margin: 0 auto;

        // gap between look items
        --gap: .7em;
        margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
        width: calc(100% + var(--gap));
    }
    @media #{$breakpoint-lg}{
        --gap: 1.2em;
        padding: 1em 0 0 0;
    }
    @media #{$breakpoint-xl}{
        --gap: 1.5em;
        padding: 1em 0 0 0;
    }
    .look-like-item{
        @media #{$breakpoint-min-md}{
            display: flex;
            justify-content: center;
            align-self: center;
            align-items: center;
            padding: 0 .5em;
            min-height: 3em;
            width: 33% !important;
            margin: 0 var(--gap) 0 var(--gap);
        }
        @media #{$breakpoint-md}, #{$breakpoint-lg}{
            width: 40% !important;
        }
    }
    .look-like-spacer{
        min-height: 2em;
        @media #{$breakpoint-min-md}{
            min-height: 2em;
        }
    }
}

// temp
.look-like{
    @media #{$breakpoint-sm}{
        height: 57em;
    }
    @media #{$breakpoint-md}{
        display: grid;
        grid-template-columns: auto 19em 1em 22em auto;
        height: 22em;
        margin: 3em 0 0 0;
    }
    @media #{$breakpoint-lg}{
        display: grid;
        grid-template-columns: auto 22em 1em 22em auto;
        height: 25em;
        margin: 3em 0 0 0;
    }
    @media #{$breakpoint-xl}{
        display: grid;
        grid-template-columns:  auto 21em 2em 21em auto;
        height: 20em;
        margin: 2em 0 2em 0;
    }
    @media #{$breakpoint-xxl}{
        display: grid;
        grid-template-columns: auto 20em 2em 18em auto;
        height: 20em;
        margin: 2em 0 0 0;
    }
}

.look-like-content{
    text-align: center;
    margin: auto;
    @media #{$breakpoint-xs}{
        width: 24em;
    }
    @media #{$breakpoint-sm}{
        width: 32em;
    }
    @media #{$breakpoint-md}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 24em;
        margin: auto;
    }
    @media #{$breakpoint-lg}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 24em;
        margin: auto;
    }
    @media #{$breakpoint-xl}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 12em;
        margin: auto;
    }
    @media #{$breakpoint-xxl}{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 11em;
        margin: auto;
    }

    .about-title{
        @media #{$breakpoint-md}{
            font-size: 1.7em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-lg}{
            font-size: 1.6em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-xl}{
            font-size: 1.4em;
            letter-spacing: .2em;
            margin: 0;
        }
        @media #{$breakpoint-xxl}{
            font-size: 1.35em;
            letter-spacing: .2em;
            margin: 0;
        }
    }
    
    .sect-title{
        margin: 1.5em 0;
        @media #{$breakpoint-sm}{
            margin: .6em 0 1em 0;
        }
        @media #{$breakpoint-md}{
            margin: .6em 0 .8em 0;
        }
        @media #{$breakpoint-lg}{
            margin: .5em 0;
        }
        @media #{$breakpoint-xl}{
            margin: .5em 0 .9em;
        }

        
    }
}

.look-like-text{
    @media #{$breakpoint-xs}{
        margin: 3.5em 1.5em;
    }
    @media #{$breakpoint-sm}{
        margin: 3.5em 1.5em;
        height: 17em;
    }
    @media #{$breakpoint-md}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-lg}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-xl}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
    @media #{$breakpoint-xxl}{
        grid-column: 4;
        height: 100%;
        position: relative;
    }
}

.look-like-img{
    @media #{$breakpoint-sm}{
        height: 33em;
    }
    @media #{$breakpoint-min-md}{
        grid-column: 2;
        grid-row: 1;
    }
    @media #{$breakpoint-xl}{
        height: 100%;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 15%;
       
    }
}

.look-like-list{
    list-style: none;
    @media #{$breakpoint-min-md}{
        text-align: center;
        padding-left: .5em;
    }
    
}

.look-like-item{
    margin: 0;

    // &::after{
    //     content: "·";
    //     display: block;
    //     text-align: center;
    // }
}

// ---------------------------------------------------------------
// Who is this for
// ---------------------------------------------------------------

.who-is-this-for{
    text-align: center;
    margin: 4em 0 0 0;
    padding-bottom: 3em;
    height: auto;
    background: white;
    position: relative;
    z-index: 5;
    @media #{$breakpoint-min-md}{
        margin: 0 0 0 0;
        padding-bottom: 1em;
    }
    @media #{$breakpoint-lg}{
        margin: 0 0 0 0;
    }
    @media #{$breakpoint-xl}{
        margin: 0 0 0 0;
        padding-bottom: 2em;
    }
    @media #{$breakpoint-xxl}{
        margin: 2em 0 0 0;
    }
}

.who-item{
    margin: 3em;
    &:nth-child(4){
        margin-bottom: 0;
    }
    @media #{$breakpoint-sm}{
        margin: 3em 6em;
    }
    @media #{$breakpoint-md}{
        margin: 0;
        &:nth-child(1){
            grid-column: 2;
            grid-row: 1;
        }
        &:nth-child(2){
            grid-column: 4;
            grid-row: 1;
        }
        &:nth-child(3){
            grid-column: 2;
            grid-row: 2;
        }
        &:nth-child(4){
            grid-column: 4;
            grid-row: 2;
        }
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: 0;
        &:nth-child(1){
            grid-column: 2;
        }
        &:nth-child(2){
            grid-column: 4;
        }
        &:nth-child(3){
            grid-column: 6;
        }
        &:nth-child(4){
            grid-column: 8;
        }
    }
}

.who-title{
    @media #{$breakpoint-md}{
        margin-bottom: 1em;
    } 
}

.who-for-sub{
    color: $pink;
    font-size: 1.3em;
    @media #{$breakpoint-md}{
        font-size: .9em;
    }   
    @media #{$breakpoint-lg}{
        margin-bottom: 1em;
        font-size: 1em;
    }  
    @media #{$breakpoint-xl}{
        margin-bottom: 1em;
        font-size: .8em;
    } 
    @media #{$breakpoint-xxl}{
        margin-bottom: 1em;
        font-size: .7em;
    }
}

.who-content{
    @media #{$breakpoint-md}{
        display: grid;
        grid-template-columns: auto 14em 2em 14em auto;
        grid-template-rows: auto auto;
        margin: 2em;

    }   
    @media #{$breakpoint-lg}{
        display: grid;
        grid-template-columns: auto 11em 1em 11em 1em 11em 1em 11em auto;
        margin: 2em;
    } 
    @media #{$breakpoint-xl}{
        display: grid;
        grid-template-columns: auto 11em 1em 11em 1em 11em 1em 11em auto;
        margin: 2em;
    } 
    @media #{$breakpoint-xxl}{
        display: grid;
        grid-template-columns: auto 9em 2em 9em 2em 9em 2em 9em auto;
        margin: 1em;
    } 
}

// ---------------------------------------------------------------
// How it works
// ---------------------------------------------------------------

.how-it-works{
    text-align: center;
    position: relative;
    background: white;
    padding-top: 1em;
    @media #{$breakpoint-min-md}{
        margin: 2em 0 3em 0;
        padding: 0;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: 2em 0 4em 0;
        padding: 0;
    }
}

.how-content{
    @media #{$breakpoint-min-md}{
        display: grid;
        height: 30em;
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 2em 0 3em 0;
        grid-template-columns: auto 13em 2em 13em 2em 13em auto;
    }
    @media #{$breakpoint-lg}{
        height: 22em;
        grid-template-columns: auto 14em 1.5em 14em 1.5em 14em auto;
    }
    @media #{$breakpoint-xl}{
        height: 19em;
        grid-template-columns: auto 14em 2em 14em 2em 14em auto;
    }
    @media #{$breakpoint-xxl}{
        height: 17em;
        grid-template-columns: auto 13em 2em 13em 2em 13em auto;
    }
}

.how-item{
    background-color: $lightest-pink;
    margin: 4em 1.5em;
    height: auto;
    padding: 2em 2em;
    &:nth-child(1){
        margin: 2em 1.5em;
        @media #{$breakpoint-sm}{
            margin: 2em auto;
        }
    }
    @media #{$breakpoint-sm}{
        height: auto;
        margin: 4em auto;
        width: 70%;
    }
    @media #{$breakpoint-min-md}{
        background-color: $gray;
        height: 100%;
        &:nth-child(1){
            grid-column: 2;
            margin: 0;
        }
        &:nth-child(2){
            grid-column: 4;
        }
        &:nth-child(3){
            grid-column: 6;
        }
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 0;
        padding: .8em .7em;
        width: 100%;
    }
    @media #{$breakpoint-lg}{
    }
    @media #{$breakpoint-xl}{
    }
    @media #{$breakpoint-xxl}{
        padding: .8em 1em;
    }
    .sect-subtitle{
        margin-bottom: 1.5em;
    }
}

.how-title{
    margin: .8em 0 .5em 0;
    @media #{$breakpoint-min-md}{
        margin: 0 0 .5em 0;
    }
}

.how-sub{
    color: $pink;
    font-family: $font-biko;
    font-size: 1.25em;
    margin:  .5em 0 1.5em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        font-size: .8em;
    }
    @media #{$breakpoint-xl}, #{$breakpoint-xxl}{
        font-size: .6em;
    }
}

.how-item-title{
    margin: .8em .7em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin-bottom: .5em;
        font-size: 1em;
    }

    @media #{$breakpoint-xl}{
        font-size: .9em;
    }
    @media #{$breakpoint-xxl}{
        font-size: .85em;
    }
}

// ---------------------------------------------------------------
// Signature package
// ---------------------------------------------------------------

.signature-package{
    margin: 4em auto 0 auto;
    padding-bottom: 4em;
    text-align: center;
    height: auto;
    background: white;
    position: relative;
    z-index: 5;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 2em 0 4em 0;
        padding: 0;
        width: 100%;
    }
    @media#{$breakpoint-lg}{
        margin: 2em 0 2em 0;
    }
    @media#{$breakpoint-xl}{
        margin: 2em 0 3em 0;
    }
    .how-title{
        @media #{$breakpoint-md}{
            margin: .8em 0 .5em 0;
        
        }
    }
    .sect-subtitle{
        @media #{$breakpoint-min-md}{
            margin-bottom: 2em;
        
        }
    }
}


.package-price{
    margin: 2em 0;
    @media #{$breakpoint-min-md}{
        margin: 0;
    
    }

    .sect-subtitle{
        @media #{$breakpoint-min-md}{
            margin-bottom: 1em;
        
        }
    }
}



.signature-content{
    display: grid;
    text-align: left;
    width: 80%;
    margin: auto;

    @media #{$breakpoint-sm}{
        width: 28em;
        margin: auto;
    
    }
    @media #{$breakpoint-md}{
        margin: 2em 0;
        --gap: 2em;
        flex-wrap: wrap;
        margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
        width: calc(100% + var(--gap));
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    @media #{$breakpoint-lg}{
        width: 100%;
        height: auto;
        grid-template-columns: auto 14em 3em 14em auto;
    }
    @media #{$breakpoint-xl}{
        width: 85%;
        grid-template-columns: auto 14em 3em 14em auto;
    }
    @media #{$breakpoint-xxl}{
        width: 85%;
        height: auto;
        grid-template-columns: auto 14em 4em 14em auto;
    }
}

.coaching-package-item{
    position: relative;
    margin: 1.5em 0 0 0;
    @media #{$breakpoint-sm}{
        margin: 1.5em 0 0 0;
    }
    @media #{$breakpoint-md}{
        margin: var(--gap) 0 0 var(--gap);
        height: 100%;
        width: 18em;
        &:nth-child(5){
            margin-top: 2em;
        }
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}{
        height: 100%;
        &:nth-child(1){
            grid-column: 2;
        }
        &:nth-child(3){
            grid-column: 4;
        }
        &:nth-child(5){
            grid-column: 6;
        }
    }
    @media #{$breakpoint-lg}{
        height: 100%;
    }
    @media #{$breakpoint-xxl}{
        height: 100%;
    }
}

.coaching-package-intro{
    margin-bottom: 2em;
    @media #{$breakpoint-md}{
        margin-bottom: 0;
        height: 8em;
    }
    @media #{$breakpoint-lg}{
        height: 10em;
    }
    @media #{$breakpoint-xl}{
        height: 9em;
    }
    @media #{$breakpoint-xxl}{
        height: 9em;
    }
}

.signature-includes{
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        grid-column: 2;
    }
}

.signature-title{
    padding: 0;
    margin-bottom: 1.5em;
    @media  #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin-bottom: 1em;
    }
}

.includes-list{
    padding: 0;
    margin-bottom: 1em;
    @media #{$breakpoint-md}{
        margin-bottom: 2em;
    }
    @media #{$breakpoint-lg}{
        margin-bottom: 2em;
    }
    @media #{$breakpoint-xl}{
        margin-bottom: 1.5em;
    }

    @media #{$breakpoint-xxl}{
        margin-bottom: 1.5em;
    }
}

.includes-fig{
    margin: 0;
    @media #{$breakpoint-md}{
        margin: 2em 0 ;
    }
    @media #{$breakpoint-lg}{
    }
    @media #{$breakpoint-xl}{
    }
    @media #{$breakpoint-xxl}{
    }

}

.includes-list-item{
    list-style: none;
    margin: 1.5em 0;
    display: flex;
    
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 1em 0;
        display: flex;
    }
}

.fa-check-square{
    margin-right: 1em;
}

.leave-with-title{
    text-align: left;
    margin: 3em 0 1em 0;
}

.signature-price{
    position: relative;
    background-color: $gray;
    height: 13em;
    text-align: center;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        grid-column: 3;
        width: 15em;
        height: 10em;
        margin: auto;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        width: 14em;
        height: 10em;
    }
    @media #{$breakpoint-xl}{
        height: 9em;
    }
    @media #{$breakpoint-xxl}{
        width: 12em;
        height: 8em;
    }

    
    
}

.price-content{
    margin: auto;
    width: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 8em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        height: 6em;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        width: 70%;
    }
    @media #{$breakpoint-xl}, #{$breakpoint-xxl}{
        height: 5em;
    }
    
}

.price-number{
    margin-bottom: .8em;
    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        font-size: 1.4em;
    }
    @media #{$breakpoint-xl}{
        font-size: 1.2em;
    }
    @media #{$breakpoint-xxl}{
        font-size: 1em;
    }
    
}


.price-text{
    color: $base-text-color;
    font-style: italic;
}

.signature-button{
    background-color: #f7d989;
    width: 16em;
    margin: 3em auto;

    @media #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 2em auto 0 0;;
        grid-column: 2;
        width: 9em;
    }
    @media #{$breakpoint-md}{
        width: 11.5em;
        position: absolute;
        bottom: 0;
    }
    @media #{$breakpoint-lg}{
        width: 11em;
    }
    @media #{$breakpoint-lg}, #{$breakpoint-xl}, #{$breakpoint-xxl}{
        margin: 1em auto 0 0;
        position: absolute;
        bottom: 0;
    }

    a{
        color: $base-text-color;
        font-size: 1em;
        height: 100%;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2em;
        @media #{$breakpoint-sm} {
            font-size: 1em;
        }
        @media #{$breakpoint-md} {
            font-size: .78em;
        }
        @media #{$breakpoint-lg} {
            font-size: .69em;
        }
        @media #{$breakpoint-xl} {
            font-size: .58em;
        }
        @media #{$breakpoint-xxl} {
            font-size: .56em;
        }
    }
}

