.testimonial-hero:before{
    content: ' ';
    background-color: transparent;
}

.testimonial-hero-container{
    position: relative;
    background-image: url("../img/Mhairi_pics/circus-lane-comp.jpg");
    background-position: 50% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    @media #{$breakpoint-min-md}{
        background-image: url("../img/Mhairi_pics/circus-lane-comp.jpg");
        background-position: 50% 40%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: .5em;
    }
    @media  #{$breakpoint-xl}{
        background-position: 50% 30%;
    }
    .parallax-container{
        opacity: 0;
    }
}

.testimonial-hero{
    min-height: 26em;
    opacity: .5;
    @media #{$breakpoint-min-md}{
        opacity: .2;
    }
    @media  #{$breakpoint-md}{
        min-height: 20em;
    }
    @media  #{$breakpoint-lg}{
        min-height: 23em;
    }
    @media  #{$breakpoint-xl}{
        min-height: 20em;
    }
    @media  #{$breakpoint-xxl}{
        min-height: 17em;
    }
}

.testimonial-hero-text{
    text-align: center;
    width: 18em;
    margin: auto;
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    @media  #{$breakpoint-sm}{
        width: 18em;
    }
    @media  #{$breakpoint-md}{
        width: 17em;
    }
    @media  #{$breakpoint-lg}{
        width: 15em;
    }
    @media  #{$breakpoint-xl}{
        width: 15em;
    }
    @media  #{$breakpoint-xxl}{
        width: 15em;
        height: 2.5em;  
    }
    h2{
        display: flex;
        text-transform: uppercase;
        background-color: $light-pink;
        width: auto;
        height: 50px;
        justify-content: center;
        align-items: center;
        letter-spacing: .2em;
        font-size: 1.5em;
        @media  #{$breakpoint-md}{
            font-size: 1.25em;
    
        }
        @media  #{$breakpoint-lg}{
            font-size: 1.15em;
    
        }
        @media  #{$breakpoint-xl}{
            font-size: 1.1em;
    
        }
        @media  #{$breakpoint-xxl}{
            font-size: .8em;
            height: 2.5em;
    
        }
    }
}

.testimonial-intro{
    background-color: white;
    padding: 0;

    .sect-subtitle{
        @media  #{$breakpoint-md}{
            margin: 1em 0 1em 0;
    
        }
        
    }
}

.testimonial-intro-text{
    @media  #{$breakpoint-min-md}{
        margin-bottom: 0;

    }
    
}

.testimonials-section{
    margin: 3em 0;
    @media  #{$breakpoint-min-md}{
        margin: 2em 0;

    }
    
}

.testimonial-item {
    position: relative;
    width: 90%;
    margin: auto;
    @media  #{$breakpoint-lg}{
        width: 80%;

    }
    @media  #{$breakpoint-xl}{
        width: 75%;

    }
    @media  #{$breakpoint-xxl}{
        width: 70%;

    }
}

.testimonial-author {
    display: grid;
    // grid-template-rows: auto auto;
    -webkit-box-align: baseline;
    align-items: baseline;
    margin: auto;
    width: 90%;
    @media  #{$breakpoint-lg}{
        width: 90%;

    }
    @media  #{$breakpoint-min-md}{
        grid-template-columns: 13em auto;

    }
    @media  #{$breakpoint-xxl}{
        width: 75%;

    }
}

.testimonial-author-name {
    font-size: 4em;
    width: 100%;
    text-align: left;
    letter-spacing: .1em;
    @media  #{$breakpoint-md}{
        font-size: 3em;

    }
    @media  #{$breakpoint-lg}{
        font-size: 2.8em;

    }
    @media  #{$breakpoint-xl}{
        font-size: 2.8em;

    }
    @media  #{$breakpoint-xxl}{
        font-size: 2.5em;
        text-align: right;

    }
}

.testimonial-author-job {
    font-size: 1.2em;
    color: grey;
    letter-spacing: 0.1em;
    @media  #{$breakpoint-sm}{
        font-size: 1.1em;
    }
    @media  #{$breakpoint-md}{
        font-size: 1em;
        margin-left: .5em;
    }
    @media  #{$breakpoint-lg}{
        font-size: .9em;
    }
    @media  #{$breakpoint-xl}{
        font-size: .9em;
        margin-left: .5em;
    }
    @media  #{$breakpoint-xxl}{
        font-size: 0.7em;
        color: grey;
        letter-spacing: 0.1em;

    }
}

.testimonial-exert{
    width: 90%;
    color: #aa9659;
    text-align: center;
    margin: 2em auto;
    @media  #{$breakpoint-lg}{
        width: 80%;
        margin: 1em auto;
    }
    @media  #{$breakpoint-xl}{
        width: 70%;
        margin: 1em auto;
    }
    @media  #{$breakpoint-xxl}{
        width: 60%;

    }
    p {
        font-size: 1.5em;
        @media  #{$breakpoint-sm}{
            font-size: 1.4em;
        }
        @media  #{$breakpoint-md}{
            font-size: 1.1em;
        }
        @media  #{$breakpoint-lg}{
            font-size: 1.1em;
        }
        @media  #{$breakpoint-xl}{
            font-size: .9em;
        }
        @media  #{$breakpoint-xxl}{
            font-size: .8em;
        }
    }
}

.testimonial-main{
    width: 90%;
    text-align: left;
    margin: auto;
    @media  #{$breakpoint-xxl}{
        width: 65%;
    }
}

.half-width-hr{
    width: 50%;
    margin: 2em auto;
    @media  #{$breakpoint-xxl}{
        width: 50%;
        margin: 2em auto;
    }
  }

// ---------------------------------------------------------------
// You will gain section
// ---------------------------------------------------------------

.you-will-gain-section{
    padding: 2em 0 0 0;
}

.you-will-gain{
    width: 80vw;
    margin: 1em auto;
    position: relative;
    @media  #{$breakpoint-sm}{
        width: 55vw;
    }
    @media  #{$breakpoint-min-md}{
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        margin: 2em auto;
    }

}

.gain-item{
    position: relative;
    @media  #{$breakpoint-min-md}{
        position: relative;
        align-self: end;
        width: 31%!important;
        padding: 0 .5em;
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(4),
        &:nth-of-type(5){
            &:after{
                content: "";
                background-color: #f58c7c;
                position: absolute;
                width: 2px;
                height: 3em;
                margin: auto;
                top: 0;
                bottom: 0;
                right: 0;
                display: block;
            }
        }
    }
    .sect-subtitle{
        margin: .5em;
    }
}

.gain-item-content{
    @media  #{$breakpoint-min-md}{
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 95%;
    }
    @media  #{$breakpoint-lg}{
        height: 100%;
        width: 95%;
    }
}

.not-alone{
    background-color: $gray;
}

// ---------------------------------------------------------------
// Tick list section
// ---------------------------------------------------------------

.tick-list-grid{
    @media  #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        display: grid;
        width: 90%; 
        margin: auto;
        margin-bottom: 4em;
        grid-template-columns: 1fr 1fr;
    }
    @media #{$breakpoint-lg}{
        width: 80%; 
    }
    @media #{$breakpoint-xl}{
        width: 70%; 
    }
    @media #{$breakpoint-xxl}{
        width: 50%; 
    }
}

.tick-list-img{
    width: 100%;
    height: 30em;
    @media #{$breakpoint-sm}{
        width: 80%;
        margin: auto;
    }
    @media #{$breakpoint-md}, #{$breakpoint-lg}{
        height: 27em;
    }
    @media #{$breakpoint-lg}{
        width: 95%;
        height: 22em;
    }
    @media #{$breakpoint-xl}{
        height: 20em;
        width: 95%;
    }
    @media #{$breakpoint-xxl}{
        height: 20em;
        width: 100%;
    }
    img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}

.tick-list-title{
    width: 90%;
    margin: auto;
    @media  #{$breakpoint-sm}{
        width: 80%;
    }
}

.tick-list-content{
    margin: 2em auto 4em auto;
    @media  #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: auto 1em;
    }
}

.tick-item{
    display: grid;
    grid-template-columns: auto auto;
    width: 90%;
    margin: 2em auto;
    @media  #{$breakpoint-sm}{
        width: 80%;
    }
    @media  #{$breakpoint-md}, #{$breakpoint-lg}, #{$breakpoint-xl}{
        margin: 1em auto;
    }
}

.tick{
    font-size: 2em;
    align-self: center;
    @media  #{$breakpoint-md}{
        font-size: 1.4em;
    }
    @media #{$breakpoint-lg}{
        font-size: 1.2em;
    }
    @media #{$breakpoint-xl}{
        font-size: 1em;
    }
    @media #{$breakpoint-xxl}{
        font-size: 1em; 
    }
}

.tick-text{
    margin-left: .9em;
}