@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/responsive',
  'base/colors',
  'base/typography',
  'base/base',
  'base/helpers',
  'base/animations';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/gift_card';

// 5. Components
@import
  'components/navbar',
  'components/button',
  'components/preloader',
  'components/quiz_full',
  'components/quiz_banner';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/about',
  'pages/home',
  'pages/services',
  'pages/contact',
  'pages/testimonials';

// 7. Themes
@import
  'themes/default';
