<div class="quiz-banner">
    <h2 class="sect-subtitle">
        10% off any coaching package
    </h2>
    <p class="normal-text">
        Quote GIVEBACK10
    </p>
    <a id="bannerBtn" class="btn-pink quiz-banner-btn" href="#quizSection">See packages</a>
</div>
<div class="placeholder"></div>