<!-- Parralex services section -->
    <section class="services-cta">
        <div class="parallax-container"></div>
        <div class="services-cta-content">
            <h2 class="cta-title">
                Get ready to start living
            </h2>
            <h3 class="cta-subtitle">
                The life of your dreams.
            </h3>
            <a class="btn-dark-pink services-cta-btn" href="https://app.acuityscheduling.com/schedule.php?owner=19489834&appointmentType=17193339" target="_blank">Book in your free clarity call</a>
        </div>
    </section>
    <!-- END: parralex services section -->