<!-- Parralex services section -->
    <section class="services-cta">
        <div class="parallax-container"></div>
        <div class="services-cta-content">
            <h2 class="cta-title">
                Create the life you’ve been dreaming of
            </h2>
            <h3 class="cta-subtitle">
                Want to know more about how Transformational Coaching works? Let’s talk. 
            </h3>
            <a class="btn-dark-pink services-cta-btn" href="https://app.acuityscheduling.com/schedule.php?owner=19489834&appointmentType=17193339" target="_blank">BOOK A FREE CHAT WITH ME</a>
        </div>
    </section>
    <!-- END: parralex services section -->