---

layout: 'base.njk'
title: '2021 Closing Ceremony with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A soul soothing, spirit calming, path clearing workshop of joy babes! 
                    This 1hr lecture style workshop will bring us together to close 2021 learning the lessons we require in order to achieve all we desire. Oofft.'

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container cw-workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="left-hero-text">
            <h1 class="sect-title">2021 CLOSING CEREMONY</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">Let’s close 2021 in a way that soothes the soul and clears your path to more joy</h1>
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                    A soul soothing, spirit calming, path clearing workshop of joy babes! 
                    This 1hr lecture style workshop will bring us together to close 2021 learning the lessons we require in order to achieve all we desire. Oofft.
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Wednesday 22nd December 
                    8pm- 9pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    The comfort of your own home via zoom.  Coziest lounge wear optional but highly recommended.
                </p>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#OC1"
                    data-item-price="10"
                    data-item-url="/opening-workshop"
                    data-item-description="2021 Opening Workshop - Replay"
                    data-item-image=""
                    data-item-name="2021 Opening Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="cw-circle-img">
        <img src="../static/img/Mhairi_pics/about-hero.jpg" alt="">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <div class="simple-section-testimonial-alone-exert">
            <p>
                “The more reflective you are, the more effective you are.”
            </p>
        </div>
        <div class="testimonial-alone-author">
            <h3 class="rob-font testimonial-alone-author-job">
                - Hall and Simeral 
            </h3>
        </div>
        <div class="simple-section-text">
            <p class="normal-text">
                I don’t know about you, but life feels more hectic than ever and it’s easy to feel like you are being carried along rather than actively choosing your path (2022, already?!).  This workshop seeks to be the antidote to that.
            </p>
            <p class="normal-text">
                On Wednesday 22nd December we come together to close this year in a way that soothes the soul and clears your path to more joy.
            </p>
            <p class="normal-text">
                Using a unique method never before seen in my workshops, we will reflect on this year leaving behind unhelpful energy as we allow ourselves to step forward into our next level for 2022.
            </p>
            <p class="normal-text">
               Through carefully crafted exercises we will step out of the pattern that’s holding you back, learn to forgive past mistakes and set out our invitation for who we want to be in the New Year.
            </p>
            <p class="normal-text">
                So bring a tipple of your choice as we celebrate endings and toast to new beginnings.
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/sitting_yellow_coat_comp.jpg" alt="mhairi-life-coach-yellow-coat">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                   The workshop:
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Imagine the Christmas party of dreams; you don't have to leave your own house, you can wear your comfiest clothes snuggled up somewhere warm, you don't have to talk if you don't want to and you can drink and eat what you like.  This is it!.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We will come together to step out of our unique holding pattern.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">
                            I then lead you through a set of powerful exercises to reflect on yourself and gain insights on who you are and what you want for the New Year.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <span class="workshop-includes-item-text fw-b">So pour yourself a glass and let's toast to the only way you are going...forward my beauty!</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#OC1"
                    data-item-price="10"
                    data-item-url="/opening-workshop"
                    data-item-description="2021 Opening Workshop - Replay"
                    data-item-image=""
                    data-item-name="2021 Opening Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR 2021 OPENING WORKSHOP 
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text cw">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            Leave this workshop with: 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A way to step out of your unique holding pattern.</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Genuine insights on your year.</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">The knowledge of how to turn these insights into a way forward.</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A calmer state of mind.</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A beautiful healing experience with like minded people.</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A clear invitation for more joy in the New Year.</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="../static/img/Mhairi_pics/walking-yellow-phone.jpeg" alt="mhairi-life-coach">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                JOIN ME FOR 2021 OPENING WORKSHOP 
            </button>
        </div>
    </section>


    <!-- what you'll need section -->
    <section class="simple-section">
        <h2 class="sect-title pink-text">
            What do you need to bring? 
        </h2>
        <div class="simple-section-text what-you-need-text">
            <p class="normal-text fw-b">
                Yourself and a tipple of your choice babes!
            </p>
        </div>
    </section>
    <!-- END: what you'll need section -->

