---

layout: 'base.njk'

---
    <!-- hero section -->
    <section class="about-hero">
        <div class="about-hero-img">
            <img src="/static/img/Mhairi_pics/about-hero.jpg" alt="mhairi-life-coach-standing-in-coat">
        </div>
        <div class="about-hero-text">
            <div class="about-hero-content">
                <h1 class="about-title">Hi Ya!</h1>
                <h2 class="logo-2">I'm Mhairi</h2>
                <p class="sect-title about-text">
                    Discover your confidence tap into your power and find success on your own terms                
                </p>
            </div>
            
        </div>
    </section>
    <!-- END: hero section -->

    <!-- about detail section -->
    <section class="about-detail">
        <h1 class="about-detail-title sect-title">I WENT FROM SEEMINGLY HAVING IT ALL BUT INWARDLY RESTLESS & FULL OF SELF DOUBT TO…<span class="fw-b">DIVORCED</span></h1>
        <h3 class="about-detail-subtitle sect-subtitle">IT CHANGED THE GAME AND THAT IS WHERE MY JOURNEY TO HAPPINESS TRULY BEGAN</h3>
        <hr class="pink-hr">
        <div class="about-detail-content">
            <div class="first-col">
                <p class="normal-text">
                    There I was, early 30’s, divorced, in a career which supposedly ticked all the boxes but didn’t tick mine and feeling like total sh&t about myself.  I had no self worth and no idea how to change that.
                </p>
                <p class="normal-text">
                    The real work started from within.  My unhappiness was nothing to do with the actions I was taking.  I’d previously lived by the ‘feel the fear and do it anyway’ mantra which was insanely effective in keeping me progressing, but totally ineffective in living a happy, purposeful, powerful life!
                </p>
                
                <p class="normal-text">
                    So I did something very different for me. I made the decision to work on me. I invested in me with no outcome expected other than I would undoubtedly be in a better place than I started. 
                </p>
            </div>
            <div class="second-col">
                <p class="normal-text">
                    And you know what happened? It only bloody worked! I started to make choices from an authentic place rather than a superficial one.  I changed jobs to a company with a heart and purpose more aligned with what I stood for. More importantly I turned down a Directorship and ridiculous salary to make that change. And it felt good! 
                </p> 
                <p class="normal-text">
                    I started a diploma in life coaching because I supported the ethos.  I loved the idea of helping people step beyond their psychology and leap forward into their dream life. I met an incredible partner and we had a beautiful baby boy even though I’d previously been terrified about how having children might affect my ‘success’ in my career….  The positive, life fulfilling, incredible magic stuff just kept coming.  All because I had actually spent the time, effort and energy in the one place it seemed most alien to: <strong>on myself</strong>. 
                </p>
            </div>
        </div>
        <div class="about-detail-quote">
            <p class="sect-title">So, that’s a nice story, but how does that help you? </p>
            <p class="sect-subtitle pink-text">
                I’ve been where you are:
            </p>
            <br>
            <p class="normal-text">
                You know you have great skills but you often lack confidence
            </p>
            <p class="normal-text">
                You're not as happy or focused in your life as you want to be
            </p>
            <p class="normal-text">
                There are aspects of your life you want to alter but don't know how.
            </p>
            <br>
            <p class="sect-subtitle pink-text">I emerged as my best self, now I’m going to help you do the same.</p>
        </div>
    </section>
    <!-- END: about detail section -->

    <!-- what I'm known for section -->
    <section class="known-for">
        <div class="known-for-title">
            <h1 class="sect-title">
                What I'm known for..
            </h1>
        </div>
        <div class="known-for-content">
            <div class="known-for-item">
                <i class="fas fa-praying-hands"></i>
                <p class="known-for-text normal-text">Teaching women that the power they seek lies within them </p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-graduation-cap"></i>
                <p class="known-for-text normal-text">DISC certified I help unlock motivators, drivers and fears to maximise performance </p>
            </div>
            <div class="known-for-item">
                <i class="fab fa-instagram-square"></i>
                <p class="known-for-text normal-text">Writing short but inspirational Instagram posts to keep you inspired daily</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-glass-cheers"></i>
                <p class="known-for-text normal-text">Being a lover of bubbles…the kind you can drink 
                </p>
            </div>
        </div>
    </section>

    <!-- END:what I'm known for section -->

    {% include 'components/_quiz.njk' %}
   
    <!-- crazy about section -->
    <section class="crazy-about-sect">
        <div class="crazy-about-title text-center">
            <h1 class="sect-title">
                I'm a little crazy about...
            </h1>
        </div>
        <div class="crazy-about-content">
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/candle.jpg" alt="mhairi-life-coach-candles">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Little detail</p>
                <p class="favourite-text">A candle in every room</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">My love</p>
                <p class="favourite-text">This little bundle of cuteness</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/roman-square-comp.jpg" alt="mhairi-life-coach-roman">
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/lip-gloss.jpg" alt="mhairi-life-coach-lip-gloss">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Favourite accessory</p>
                <p class="favourite-text">Does Lipgloss count?</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Trick</p>
                <p class="favourite-text">Singing</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/mic-comp.jpg" alt="mhairi-life-coach-microphone">
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/coffee-comp2.jpg" alt="mhairi-life-coach-coffee">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Treat</p>
                <p class="favourite-text">Pumpkin spiced latte YUM!</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Always find</p>
                <p class="favourite-text">Laughter in every day </p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/laughing-square-comp.jpg" alt="mhairi-life-coach-laughing">
            </div>
            <div class="crazy-about-text d-none d-md-block">
                <p class="favourite-text fw-b">Relax</p>
                <p class="favourite-text">A hot bath</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/lede-the-witcher-comp.jpg" alt="mhairi-life-coach-the-witcher">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Recent Netlfix</p>
                <p class="favourite-text">The Witcher, that hair!</p>
            </div>    
        </div>
    </section>
    <!-- END: crazy about section -->
    
    {% include 'components/_services-parralax.njk' %}
    
