---

layout: 'base.njk'
title: 'Meet Mhairi. The Roadblock Coach - Life Coaching by Mhairi Todd'
metaDescription: 'Accredited Transformational Coach dedicated to helping you overcome roadblocks and deal with anxiety, stress, mum guilt and more. Book your free call. DISC Certified.'

---
    <!-- hero section -->
    <section class="about-hero">
        <div class="about-hero-img">
            <img src="/static/img/Mhairi_pics/about-hero.jpg" alt="mhairi-life-coach-standing-in-coat">
        </div>
        <div class="about-hero-text">
            <div class="about-hero-content">
                <h1 class="about-title">Hi Ya!</h1>
                <h2 class="logo-2">Meet Mhairi Todd</h2>
                <p class="normal-text pronounce">// ma · ree //</p>
                <p class="sect-title about-text">
                    THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS               
                </p>
            </div>
            
        </div>
    </section>
    <!-- END: hero section -->

    <hr class="half-width-hr">

    <!-- stand alone testimonial -->
    <div class="testimonial-alone">
        <div class="testimonial-alone-exert">
            <p>
                “I went from seemingly ‘having it all’ (but inwardly restless and full of self-doubt) to… divorced. It changed the game. Then my journey to happiness truly began.”
            </p>
        </div>
        <div class="testimonial-alone-author">
            <h3 class="rob-font testimonial-alone-author-job">
                - Mhairi Todd 
            </h3>
        </div>
    </div>
    <!-- END: stand alone testimonial -->

    <hr class="half-width-hr">

    <!-- about detail section -->
    <section class="about-detail">
        <h3 class="sect-title">BUT WHAT DO I KNOW?</h3>
        <hr class="pink-hr">
        <div class="about-detail-content">
            <div class="first-col">
                <p class="normal-text">
                    I’ve been that woman. There I was. Early thirties, divorced, in a career which ticked all the boxes (except my own) and feeling like total sh*t about myself. I had no self-worth and no idea how to change that. Instead of a way out, I saw roadblock after roadblock. 
                </p>
                <p class="normal-text">
                    I’d previously lived by the ‘feel the fear and do it anyway’ mantra, which was insanely effective in keeping me progressing, but totally ineffective when the progress wasn’t leading me to live a happy life full of purpose. 
                </p>
                <p class="normal-text">
                    The real aha moment came for me when I hit rock bottom.  My relationship breaking down was such a shock and I felt utterly at sea. I was unavoidably miserable, I couldn't distract myself from it anymore, it was there and in my face in all its uncomfortable glory. 
                </p>
                <p class="normal-text">
                    And that's what I needed. I needed that hideous experience to jolt me into the reality that I didn't deserve to live that way, nor did I have to. No one could change it but me. My life, my choices, my happiness. 
                </p> 
            </div>
            <div class="second-col"> 
                <p class="normal-text">
                   Then I did something different. I made the decision to work on me. I faced each happiness blocker with a completely new mindset, one of 'lets see', 'lets try', 'lets grow’.
                </p>
                <p class="normal-text">
                    I started to make choices from an authentic place rather than a superficial one. I changed jobs to a company with a heart and purpose aligned with my own beliefs. I turned down a directorship and ridiculous salary to make that change for me. And it felt seriously good.
                </p>
                <p class="normal-text">
                    I started my diploma in Life Coaching because I supported the ethos and loved the idea of helping people step beyond their psychology and leap forward into their dream life. I met an incredible partner and had a beauty baby boy (even though I’d previously been terrified about how having children might affect my ‘success’ in my career). The positive, life-fulfilling stuff just kept on coming. All because I spent the time, effort and energy in the one place it seemed most alien to; <span class="fw-b">on myself</span>. 
                </p>
            </div>
        </div>
        <div class="italic text-center">
            <p class="normal-text">
                I realised I didn't need to have all the answers, I just needed to ask the questions. 
            </p>
            <p class="normal-text">
                And in the end that was the magic formula.
            </p>
        </div>
    </section>
    <!-- END: about detail section -->

    <!-- how i can help section -->
    <section class="how-i-help">
        <div class="known-for-title">
            <h2 class="sect-title">
                SO, HOW Can I HELP YOU?
            </h2>
            <h3 class="sect-subtitle">
                I know your story, because I’ve lived it.
            </h3>
        </div>
        <div class="how-i-help-content">
            <div class="how-i-help-item" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000">
                <div class="how-i-help-item-intro">
                    <h3 class="how-i-help-item-subtitle rob-font">
                        I HAVE LEVELLED UP FROM.
                    </h3>
                </div>
                <ul class="how-i-help-list">
                    <li class="normal-text how-i-help-text">
                        <p>-</p>
                        Wanting to alter aspects of where I was, but not knowing where to start or how to get there
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p>
                        Not being at all content or as centred in my life as I deserved to be
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p>
                        Knowing I had talent, but feeling like I was a fraud
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p>
                        Feeling immensely lost and vulnerable
                    </li>
                </ul>
            </div>
            <hr class="half-width-hr pink-hr d-md-none">
            <div class="how-i-help-item" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000" data-aos-delay="1000">
                <div class="how-i-help-item-intro">
                    <h3 class="how-i-help-item-subtitle rob-font">
                        AND GOT TO A PLACE WHERE.
                    </h3>
                </div>
                <ul class="how-i-help-list">
                    <li class="normal-text how-i-help-text">
                        <p>-</p> 
                        I established sincere self-worth and unlocked the courage to make decisions for me
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p> 
                        I listened to my gut and made decisions based on where I knew I wanted to be 
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p> 
                        I achieved fulfillment and balance in every aspect of my life 
                    </li>
                    <li class="normal-text how-i-help-text">
                        <p>-</p> 
                        I chose happiness based on what fed my soul 
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- END: how i can help section -->

    <hr class="half-width-hr">
    <!-- what I'm known for section -->
    <section class="known-for">
        <div class="known-for-title">
            <h1 class="sect-title">
                What I'm known for..
            </h1>
        </div>
        <div class="known-for-content">
            <div class="known-for-item">
                <i class="fas fa-praying-hands"></i>
                <p class="known-for-text normal-text">Teaching women that they have the power to change their lives</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-graduation-cap"></i>
                <p class="known-for-text normal-text">I help unlock motivators, drivers and fears to maximise performance. I’m DISC certified</p>
            </div>
            <div class="known-for-item">
                <i class="fab fa-instagram-square"></i>
                <p class="known-for-text normal-text">Writing Instagram posts that give you daily tools to stop, think and feel</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-glass-cheers"></i>
                <p class="known-for-text normal-text">Being a big lover of bubbles…the kind you can drink 
                </p>
            </div>
        </div>
    </section>

    <!-- END:what I'm known for section -->

    {% include 'components/_quiz.njk' %}
   
    <!-- crazy about section -->
    <section class="crazy-about-sect">
        <div class="crazy-about-title text-center">
            <h1 class="sect-title">
                I'm a little crazy about...
            </h1>
        </div>
        <div class="crazy-about-content">
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/candle.jpg" alt="mhairi-life-coach-candles">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Little detail</p>
                <p class="favourite-text">A candle in every room</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">My love</p>
                <p class="favourite-text">This little bundle of cuteness</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/roman-square-comp.jpg" alt="mhairi-life-coach-roman">
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/lip-gloss.jpg" alt="mhairi-life-coach-lip-gloss">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Favourite accessory</p>
                <p class="favourite-text">Does Lipgloss count?</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Trick</p>
                <p class="favourite-text">Singing</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/mic-comp.jpg" alt="mhairi-life-coach-microphone">
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/coffee-comp2.jpg" alt="mhairi-life-coach-coffee">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Treat</p>
                <p class="favourite-text">Pumpkin spiced latte YUM!</p>
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Always find</p>
                <p class="favourite-text">Laughter in every day </p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/laughing-square-comp.jpg" alt="mhairi-life-coach-laughing">
            </div>
            <div class="crazy-about-text d-none d-md-block">
                <p class="favourite-text fw-b">Relax</p>
                <p class="favourite-text">A hot bath</p>
            </div>
            <div class="crazy-about-img">
                <img src="/static/img/Mhairi_pics/lede-the-witcher-comp.jpg" alt="mhairi-life-coach-the-witcher">
            </div>
            <div class="crazy-about-text">
                <p class="favourite-text fw-b">Recent Netlfix</p>
                <p class="favourite-text">The Witcher, that hair!</p>
            </div>    
        </div>
    </section>
    <!-- END: crazy about section -->
    
    {% include 'components/_services-parralax.njk' %}
    
