---

layout: 'base.njk'
title: 'Authentic Self-Confidence The Workshop WITH MHAIRI TODD'
metaDescription: 'This 1hr lecture style workshop is guaranteed to lift your vibe, improve your self-confidence and raise your spirits.'

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container as-workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="left-hero-text">
            <h1 class="sect-title"><i>The</i> Authentic Self-Confidence Workshop</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">Uncover personal empowerment that lasts!</h1>
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <p class="normal-text">
                   This 1hr lecture style workshop is guaranteed to raise your vibe and supercharge your self-confidence.  Together we will power up your self-awareness so you experience personal empowerment like never before.   
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Wednesday 27th April 8pm- 9.00pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via a unique weblink
                </p>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#ASC1"
                    data-item-price="15"
                    data-item-url="/authentic-self-confidence-workshop"
                    data-item-description="The Authentic Self-Confidence Workshop"
                    data-item-image=""
                    data-item-name="The Authentic Self-Confidence Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="circle-img">
        <img src="../static/img/Mhairi_pics/coat-pull-comp.jpg" alt="Mhairi-on-phone">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            There are no incapable people, only debilitating attitudes
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                A lack of self-confidence can be crippling, perhaps even more so when it’s hidden from others.  Before I found my way to unshakeable self-confidence, I would be taken aback when people would compliment me on my confident presentation or confident handling of a situation.  This shock would be instantly followed by fear as I knew deep down it was all just a façade.
            </p>
            <p class="normal-text">
               Low self-confidence can hold you back from taking action, dampen your experiences/successes and ultimately steal your joy.
            </p>
            <p class="normal-text">
               Whilst you may worry it’s only you that feels a lack of confidence, there are some staggering statistics which show low self-confidence is sadly prolific, particularly in women.
            </p>
            <p class="normal-text">
               According to a recent study*:
            </p>
            <div class="confidence-list-container">
                <ul class="normal-text confidence-list">
                <li class="confidence-list-item">Almost 2/3 of women are not confident in their ability to do their job.</li>
                <li class="confidence-list-item">85% of women do not believe they are attractive.</li>
                <li class="confidence-list-item">A huge proportion of women don’t think they are intelligent (62%)</li>
                <li class="confidence-list-item">More than half of women do not think they are liked by others (56%)</li>
            </ul>
            </div>
            <p class="normal-text">
                The message here is you are not alone my love and more importantly I’ve got you.  No matter how your self-confidence holds you back personally, I’ve designed this workshop with the sole goal of helping you build ultimate, authentic and sustainable self-confidence from the inside out.  
            </p>
            <p class="normal-text">
                <i>*source: GeeHair study of 2000 participants</i>
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#ASC1"
                data-item-price="15"
                data-item-url="/authentic-self-confidence-workshop"
                data-item-description="The Authentic Self-Confidence Workshop"
                data-item-image=""
                data-item-name="The Authentic Self-Confidence Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content as-workshop-includes">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/mhairi_on_phone.jpg" alt="mhairi-life-coach-on-phone">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    HI MY NAME IS MHAIRI TODD AND I HAVEN’T ALWAYS BEEN AUTHENTICALLY CONFIDENT
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <div class="workshop-includes-list normal-text">
                    <p class="workshop-includes-p-text">This subject is one that’s really important to me because I know from personal experience how invalidating and toxic low self-confidence can be. Which is why I’m so passionate about bringing this workshop to you today!</p>
                    <p class="workshop-includes-p-text">I’ve taken my years of coaching experience and decades of personal development work to distill this workshop into four of my most potent confidence building techniques.</p>
                    <p class="workshop-includes-p-text">We will uncover the crystalised thinking you have that may be killing your confidence.</p>
                    <p class="workshop-includes-p-text">We then super charge your self-awareness to shine a loving light onto your blind spots and any façade.</p>
                    <p class="workshop-includes-p-text">With this knowledge we will turn personal responsibility into personal empowerment and find the resilience and compassion to change your current habits.</p>
                    <p class="workshop-includes-p-text">Unstoppable self-confidence starts with the first step.  Let’s take this one together.</p>
                </div>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#ASC1"
                    data-item-price="15"
                    data-item-url="/authentic-self-confidence-workshop"
                    data-item-description="The Authentic Self-Confidence Workshop"
                    data-item-image=""
                    data-item-name="The Authentic Self-Confidence Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR THE authentic SELF-CONFIDENCE WORKSHOP
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text as">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#ASC1"
                data-item-price="15"
                data-item-url="/authentic-self-confidence-workshop"
                data-item-description="The Authentic Self-Confidence Workshop"
                data-item-image=""
                data-item-name="The Authentic Self-Confidence Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            Leave this workshop with: 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Clarity on your personal confidence killers</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A radical perspective change</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Supercharged self awareness that helps you grow</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Your confidence lightbulb moment</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">The personal empowerment you need to start making immediate change</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="../static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#ASC1"
                data-item-price="15"
                data-item-url="/authentic-self-confidence-workshop"
                data-item-description="The Authentic Self-Confidence Workshop"
                data-item-image=""
                data-item-name="The Authentic Self-Confidence Workshop">
                Get your ticket
            </button>
        </div>
    </section>


    <!-- what you'll need section -->
    <section class="simple-section">
        <h2 class="sect-title pink-text">
            What do you need to bring? 
        </h2>
        <div class="simple-section-text what-you-need-text">
            <p class="normal-text fw-b">
                Your fabulous self and a way to take notes. 
            </p>
        </div>
    </section>
    <!-- END: what you'll need section -->

