---

layout: 'base.njk'
title: 'Being Enough - the 6 week program with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A 6 week LIVE coaching journey where we will cover the absolute essentials to get you from never enough to a full cup.'

---

    <!-- Parralex hero section -->
    <section class="being-enough-terms-hero-container">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="being-enough-hero-parallax">
            <h1 class="sect-title">
                Being Enough
            </h1>
            <h2 class="sect-subtitle">
                The 6 Week Program <br>
                TERMS & CONDITIONS
            </h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- what is it section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            TERMS & CONDITIONS
        </h2>
        <h2 class="sect-subtitle">
            Being Enough - Your 6 Week Program
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                These are the Terms and Conditions relating to Being Enough - Your 6 Week Program, please read them carefully. 
            </p>
            <p class="normal-text">
                If you have any questions or concerns regarding this document, please speak to me directly or contact me through mhairi@revolvecoaching.co.uk. 
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            1. Disclaimer
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                1.1 You understand that by taking part, the coaching or mentoring shared is in no way to be construed as psychological counselling or any type of therapy. Results are not guaranteed. You understand you are entirely responsible for creating your own results whether that applies to your business or personal life.
            </p>
            <p class="normal-text">
                1. 2 Equally I cannot and will not make claims to any financial or other gains that come to you as a result of your participation.
            </p>
             <p class="normal-text">
                1. 3 You agree to fulfil Being Enough - Your 6 Week Program, and to participate in a process that could affect change in your health (mental, physical, emotional or spiritual). By entering into this programme, you are responsible for your own experience and your self-care following the sessions. Neither myself nor my team are responsible whatsoever for any health issues (emotional, physical, mental, spiritual) in connection with this programme.
            </p>
        </div>
    </section>
    
    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            2. Confidentiality
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                2.1 All information disclosed during the programme, including written notes, remains strictly confidential.
            </p>
            <p class="normal-text">
                2. 2 I will not share your personal information without your consent unless required by law.
            </p>
            <p class="normal-text">
                2. 3 If you have registered your interest in receiving updates, news and marketing information, you are free to unsubscribe at any time.
            </p>
            <p class="normal-text">
                2. 4 I will always respect your privacy and any personal communication between us.
            </p>
            <p class="normal-text">
                2. 5 I will always comply with United Kingdom Data Protection legislation. 
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            3. Sound Bath Precautions
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                3.1 Whilst sound therapy is a gentle, relaxing, holistic therapy, there are some precautions to consider. 
            </p>
            <p class="normal-text">
                3. 2 Always check with a GP or seek professional medical advice if you suffer with any of the following:
                <p class="normal-text ml-4">
                    3.2.1 Severe or clinical mental health;
                </p>
                <p class="normal-text ml-4">
                    3.2.2 epilepsy; or
                </p>
                <p class="normal-text ml-4">
                    3.2.3 implants such as cochlear or a pacemaker.
                </p>
            </p>
            <p class="normal-text">
                3. 3 If you are between 1-12 weeks pregnant, please seek advice from your health care provider. We advise not to attend a sound bath during this very important stage in your baby's development.
            </p>
            <p class="normal-text">
                3. 4 Even though sound healing is very safe & gentle to listen to always seek medical advice if you feel you need it.
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            4. Personal information
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                4.1 Please inform me if you have had any form of mental illness or on antidepressants or other medication you feel I should know about.
            </p>
            <p class="normal-text">
                4. 2 While working together, please keep me informed as to any change in your contact details. 
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            5. Fees
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                5.1 The payment plan options are:
                <p class="normal-text">
                    1 payment of 	£225
                    2 payments of 	£112.50
                    3 payments of 	£75
                    4 payment of 	£56.25
                    5 payments of 	£45
                </p>
            </p>
            <p class="normal-text">
                5. 2 The first payment will be on 30th April and each month thereafter until the total is paid.
            </p>
            <p class="normal-text">
                5. 3 We use GoCardless to process your Direct Debit payments. More information on how GoCardless processes your personal data and your data protection rights, including your right to object, is available at <a href="https://gocardless.com/privacy" target="_blank">GoCardless privacy notice</a></p>
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            5. Fees
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                5.1 The payment plan options are:
                <p class="normal-text ml-4">
                    1 payment of £225<br>
                    2 payments of £112.50<br>
                    3 payments of £75<br>
                    4 payment of £56.25<br>
                    5 payments of £45<br>
                </p>
            </p>
            <p class="normal-text">
                5. 2 The first payment will be on 30th April and each month thereafter until the total is paid.
            </p>
            <p class="normal-text">
                5. 3 We use GoCardless to process your Direct Debit payments. More information on how GoCardless processes your personal data and your data protection rights, including your right to object, is available at <a href="https://gocardless.com/privacy" target="_blank">GoCardless privacy notice</a></p>
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            6. Payment
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                6.1 By accepting these terms you agree to be responsible for full payment for the entire 6 week programme, regardless of whether you attend all the sessions. No refunds will be issued.
            </p>
            <p class="normal-text">
                6. 2 Should any issues arise in relation to the payment, you agree to discuss this in advance.
            </p>
            <p class="normal-text">
                6. 3 Should you decide to stop the payment process before completing the program, you will forfeit the sessions and will be removed from all groups and access portals.
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            7. Cancellation Rights and Refunds
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                7.1 The training programme and everything included in it cannot be transferred, exchanged, or refunded. All sales are final.
            </p>
        </div>
    </section>

    <section class="text-left simple-section bg-gray">
        <h2 class="text-left sect-subtitle">
            7. Termination
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                7.1 I may terminate or suspend the coaching program immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms.
            </p>
            <p class="normal-text">
                7. 2 I have read and agree to the points and agreements above and will honour them during our coaching relationship. I am committed to giving this process my all. 
            </p>
            <p class="normal-text">
                7. 3 If you continue with the programme after receiving these Terms you will be deemed to have accepted the conditions as set out above.
            </p>
        </div>
        
        <p class="fw-b normal-text">Mhairi Todd trading as REVOLVE COACHING</p>
    </section>


