---

layout: 'base.njk'
title: 'Being Enough - the 6 week program with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A 6 week LIVE coaching journey where we will cover the absolute essentials to get you from never enough to a full cup.'

---

    <!-- Parralex hero section -->
    <section class="being-enough-hero-container">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="being-enough-hero-parallax">
            <h1 class="sect-title">
                Being Enough
            </h1>
            <h2 class="sect-subtitle">
                The 6 Week Program
            </h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">Welcome my lovely, I’m so delighted you are here!</h1>
        </div>
        <hr class="half-width-hr">
                <div class="simple-section-text">
            <p class="normal-text">
                I know how hard it is when your best is never good enough. Your successes feel like luck and the pressure of ‘getting it right’ is so overwhelming it can stop you doing anything at all.
            </p>
            <p class="normal-text">
                I know this because I’ve been there.  I found out the hard way that the first step in radically transforming your life is not only admitting that you're not living the life you want but also and perhaps more importantly, acknowledging that you need to take action to change it.
            </p>
            <p class="normal-text">
                The good news is, you're reading this now so you are already halfway there my lovely!
            </p>
            <p class="normal-text">
                Grab a cup of coffee (and a biscuit) and enjoy this short video introduction of what you can expect.
            </p>
        </div>
    </section>    
    <!-- END: intro section -->

    <!-- video section -->
    <section class="video-section">
        <div class="video-embed-container">
            <video class="video-embed" controls width="250">
                <source src="/static/vid/being-enough-intro.mp4"
                        type="video/webm">

                <source src="/static/vid/being-enough-intro.mp4"
                        type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
        </div>
        <a class="btn-dark-pink services-cta-btn bg-red" href="#paymentSection">Sign me up!</a>
    </section>
    <!-- END: video section -->

    <!-- what is it section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            What is it?
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                A 6 week LIVE coaching journey where we will cover the absolute essentials to get you from never enough to a full cup. 
            </p>
            <p class="normal-text">
                In 2018 I identified what was holding me back; I believed I wasn’t good enough. Though logically I could see that was potentially unfair, it didn't help. 
            </p>
            <p class="normal-text">
                It was a bumpy road but I eventually figured out the steps to transform.  Let me share them with you: 
            </p>
            <div class="intro-list">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Give yourself time and attention.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Do the deep, transformative inner work.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Put focus and energy into the right place and build the trust where it matters most, within you.</span>
                    </li>
                </ul>
            </div>
            <p class="normal-text">
                It's with that intention I have created this program. To help you stand in your own worth, unlock the parts of you limiting your joy and be guided to navigate those so you can finally say: <span class="fw-b">I am enough.</span> 
            </p>
        </div>
    </section>
    <!-- END: what is it section -->

    <!-- our journey section -->
    <section class="our-journey">
        <h2 class="sect-title our-journey-title">
            Our Journey - What we will cover
        </h2>
        <div class="our-journey-content">
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Warm up</h3>
                <h2 class="sect-title our-journey-item-title">Opening Ritual</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll guide you to set a clear intention for your journey.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">You will enjoy a beautiful sound healing experience to clear your path and soothe your soul.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part one</h3>
                <h2 class="sect-title our-journey-item-title">Release</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Carefully and compassionately identify the buried beliefs that are diminishing your self worth.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Release the narrative that is holding you back from personal fulfilment.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Learn the essentials to turn self sabotage into self trust.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Rewrite your story, align yourself with all that you want to receive and experience.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part two</h3>
                <h2 class="sect-title our-journey-item-title">Restore</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Unpack how the view of oneself becomes so distorted.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Unlock incredible tools to climb down the fantasy ladder and connect with your true self.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Discover not just who you truly are but what you truly want.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Build even more self belief and self trust to allow you to show up for yourself in new ways.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part three</h3>
                <h2 class="sect-title our-journey-item-title">Reveal</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Identity your incredible strengths and how to flex to work to your peak potential.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We achieve the essentials of setting loving but firm boundaries.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Sit in our self worth, own who you are and dare to dream.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Uncover your personal being enough plan, mapping out your next 6 weeks with clarity and confidence.</span>
                    </li>
                </ul>
            </div>    
        </div>
        <a class="btn-dark-pink services-cta-btn bg-red" href="#paymentSection">Sign me up!</a>
    </section>
    <!-- END: our journey section-->

    <!-- Parralex testimonial section -->
    <section class="testimonial-container">
        <div class="parallax-container" ></div>
        <div class="testimonial-parallax">
            <div class="love-hearts">
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
            </div>
            <p class="quote-text-white">
                “Mhairi was hugely inspirational and made me realise I can do anything I set my mind on” 
            </p>
            <p class="normal-text">
                - Jo. C
            </p>
        </div>
    </section>
    <!-- END: parralex testimonial section -->

    <!-- Who is it for section -->
    <section class="who-is-it-for-section">
        <h2 class="sect-title text-center">
            The details
        </h2>
        <div class="home-about who-is-it-for">
            <div class="who-is-it-for-img">
                <img src="../static/img/Mhairi_pics/laughing-at-phone.jpg" alt="mhairi-life-coach-walking-away">
            </div>
            <div class="home-about-text">
                <div class="when-how-item">
                    <span class="home-about-subtitle pink-text">Who? </span>
                    <p class="normal-text">
                    Incredible women just like you from any and all backgrounds. This will be a safe, respectful and inclusive space. 
                    </p>
                    <p class="normal-text">
                        So even if you have ‘the fear’, even if you have confidence wobbles and even if you have felt this way for a very long time, I’ve got you.
                    </p>
                    <p class="normal-text">
                        *Over 18’s only my loves
                    </p>
                </div>
                <div class="when-how-item">
                    <span class="home-about-subtitle pink-text">When? </span>
                    <p class="normal-text">Kickstart opening ritual on Monday 3rd May 8pm. There after every Wednesday evening at 8pm LIVE.</p>
                    <p class="normal-text">We will spend a delightful 6 weeks together!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END: Who is it for section -->

    <!-- when, how long and how section -->
    <section class="why-mhairi when-how">
        <div class="why-mhairi-content when-how-content">
            <div class="home-about-img">
                <img src="/static/img/Mhairi_pics/walking-away-looking-away.jpg" alt="mhairi-life-coach-yellow-coat">
            </div>
            <div class="home-about-text">
                <div class="when-how-item">
                    <span class="home-about-subtitle pink-text">How? </span><p class="normal-text">The weeks will alternate between:</p>
                    <ul class="workshop-includes-list normal-text">
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">A live coaching module delivered by me for you to digest and implement.</span>
                        </li>
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">A live follow up session for us to review insights, support each other and address specific questions.</span>
                        </li>
                    </ul>
                </div>
                <div class="when-how-item">
                    <span class="home-about-subtitle pink-text">Psst..</span>
                    <p class="normal-text">
                        Can’t make a live session?  No worries. All sessions will be recorded and emailed out the following day so you can dip in and out as you need to. 
                    </p>
                    <p class="normal-text">
                        We will also have a (entirely optional) members-only social media group so we can stay connected as we go. 
                    </p>
                    <p class="normal-text">
                        My intention is to be present as your guide as you put in the work but to also allow you to live your life as well.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END: when, how long and how section -->

    <hr class="half-width-hr d-md-none">

    <!-- added value section -->
    <section class="known-for added-value">
        <div class="known-for-title">
            <h1 class="sect-title">
                The Added value
            </h1>
        </div>
        <div class="known-for-content">
            <div class="known-for-item">
                <i class="fas fa-praying-hands"></i>
                <p class="known-for-text normal-text">A beautiful sound healing experience</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-users"></i>
                <p class="known-for-text normal-text">An entirely optional members-only social media group.  This is to provide a space to share, connect, learn, discuss or simply observe.</p>
            </div>
            <div class="known-for-item">
                <i class="fab fa-whatsapp-square"></i>
                <p class="known-for-text normal-text">Direct access to me via the social media group and bi monthly Q&A</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-book"></i>
                <p class="known-for-text normal-text">Tools and worksheets through the course to bolster your transformative journey</p>
            </div>
        </div>
    </section>

    <!-- END: added value section -->

    <!-- payments options -->
    <section id="paymentSection" class="payment-options">
        <h2 class="sect-title how-title">
            The Investment Options
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                The program costs £225.  You can choose from several direct debit payment options to best suit you.  The first payment will be on 1st May and each month thereafter until the total is paid. 
            </p>
            <p class="normal-text">
                Payments are processed with <a href="https://gocardless.com/" target="_blank">GoCardless</a>. Selecting an option below will take you to the GoCardless registration page where you will complete a registration form.
            </p>
        </div>
        <div class="payment-options-content">
            <div class="payment-options-item">
                <h3 class="sect-subtitle fw-b">Payment plans</h3>
                <div class="payment-figure">
                    <div class="payment-figure-content bg-blue fw-b">
                        <p class="sect-subtitle being-enough-price m-0">£225</p>
                        <p class="normal-text m-0">Payment options below</p>
                    </div>
                </div>
                <form class="form">
                    <div class="inputGroup">
                        <input id="radio1" name="radio" type="radio"/>
                        <label id="label1" class="normal-text" for="radio1">1 payment of £225</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio2" name="radio" type="radio"/>
                        <label class="normal-text" for="radio2">2 payments of £112.50</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio3" name="radio" type="radio"/>
                        <label class="normal-text" for="radio3">3 payments of £75</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio4" name="radio" type="radio"/>
                        <label class="normal-text" for="radio4">4 payments of £56.25</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio5" name="radio" type="radio"/>
                        <label class="normal-text" for="radio5">5 payments of £45</label>
                    </div>
                    <a id="beingEnoughBtn" class="btn-dark-pink sign-me-up-btn bg-blue" href="" target="_blank">Book your spot!</a>
                </form>
                <p class="payment-small-text">*Payments by GoCardless. Read the <a href="https://gocardless.com/privacy" target="_blank">GoCardless privacy notice</a></p>
            </div>    
        </div>
    </section>
    <!-- END: payment options -->

