---

layout: 'base.njk'
title: 'How to stop caring what others think and set boundaries that work'
metaDescription: 'In just over an 1hr in this lecture style workshop we will uncover which type of people pleasing shows up for you and why.  '

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="left-hero-text-large">
            <h1 class="sect-title">How to stop caring what others think and set boundaries that work</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">The workshop for People Pleasers</h1>
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                   In just over an 1hr in this lecture style workshop we will uncover which type of people pleasing shows up for you and why.  With this knowledge we will dive into a proven strategy for setting boundaries that will positively impact your life in all the right ways for you.
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Wednesday 15th June
                    8pm- 9.15pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via a unique weblink
                </p>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#WS5"
                    data-item-price="15"
                    data-item-url="/boundaries-for-people-pleasers"
                    data-item-description="How to stop caring what others think and set boundaries that work"
                    data-item-image=""
                    data-item-name="How to stop caring what others think and set boundaries that work">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="circle-img">
        <img src="../static/img/Mhairi_pics/coat-pull-comp.jpg" alt="Mhairi-on-phone">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            Understanding yourself better
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                Let's be honest babes, setting boundaries and expressing yourself authentically, both can be really tricky, particularly with challenging people.  But being a ‘pushover’ has a tonne of negative consequences too.  So why do we choose one over the other, and how do we choose differently?
            </p>
            <p class="normal-text">
               Join me as we answer these questions, deepen your relationship with your true self and crucially unlock how to start living authentically and more free. 
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS5"
                data-item-price="15"
                data-item-url="/boundaries-for-people-pleasers"
                data-item-description="How to stop caring what others think and set boundaries that work"
                data-item-image=""
                data-item-name="How to stop caring what others think and set boundaries that work">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content cc-workshop-includes">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/mhairi_on_phone.jpg" alt="mhairi-life-coach-on-phone">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    Let go of the past and step into your power (people pleasing free!)
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We start with a short but potent healing exercise to release some hidden blocks</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll then lead you through 4 exercises to help you let go of self-doubt and set boundaries with ease:</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Get Honest: uncover where you are holding back, selling yourself short and not living in joy.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Get Clear: get excited as we dare to hope for more and put together a picture of what good looks like for you.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Get Responsible; take your power back and identify actions within your control. </span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Get Reasonable; we get future focused and commit to the first next step that looks and feels right.</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                   data-item-id="#WS5"
                    data-item-price="15"
                    data-item-url="/boundaries-for-people-pleasers"
                    data-item-description="How to stop caring what others think and set boundaries that work"
                    data-item-image=""
                    data-item-name="How to stop caring what others think and set boundaries that work">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR THE BOUNDARIES FOR PEOPLE PLEASERS WORKSHOP 
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text ppw">
                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS5"
                data-item-price="15"
                data-item-url="/boundaries-for-people-pleasers"
                data-item-description="How to stop caring what others think and set boundaries that work"
                data-item-image=""
                data-item-name="How to stop caring what others think and set boundaries that work">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            Leave this workshop with: 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A compassionate understanding of what people pleasing looks like for you, why you are drawn to those behaviours and why choosing differently feels hard</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A potent exercise to heal people pleasing behaviours of the past</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A step by step approach to start setting boundaries with ease</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Clarity on what your specific next step looks like </span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">The knowledge and motivation to take it!</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="../static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS5"
                data-item-price="15"
                data-item-url="/boundaries-for-people-pleasers"
                data-item-description="How to stop caring what others think and set boundaries that work"
                data-item-image=""
                data-item-name="How to stop caring what others think and set boundaries that work">
                JOIN ME FOR THE BOUNDARIES FOR PEOPLE PLEASERS WORKSHOP 
            </button>
        </div>
    </section>


    <!-- what you'll need section -->
    <section class="simple-section">
        <h2 class="sect-title pink-text">
            What do you need to bring? 
        </h2>
        <div class="simple-section-text what-you-need-text">
            <p class="normal-text fw-b">
                Yourself. An open mind and heart. A way to take notes. 
            </p>
        </div>
    </section>
    <!-- END: what you'll need section -->

