---

layout: 'base.njk'
title: 'Confidence Collective Workshop with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A 1hr lecture style workshop. We will find your why, reframe the confidence killing narrative and start the journey to your most confident self. '

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container cc-workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="right-hero-text">
            <h1 class="sect-title">Confidence Collective Workshop</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">Your first, right step towards unstoppable confidence </h1>
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                    A 1hr ½ lecture style workshop.
                    Together we will reframe your confidence killing narrative and start the journey to your most confident self. 
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Tuesday 30th March 
                    8pm- 9.30pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via a unique weblink
                </p>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#WS1"
                    data-item-price="15"
                    data-item-url="/confidence-collective-workshop"
                    data-item-description="Confidence Collective Workshop - Replay"
                    data-item-image=""
                    data-item-name="Confidence Collective Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="circle-img">
        <img src="../static/img/Mhairi_pics/coat-pull-comp.jpg" alt="Mhairi-on-phone">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            Think of confidence less as something you have and more as something you do.
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                The last 12 months have affected us all in a number of ways, but there is nothing quite like having the rug pulled from under you to put a dent in your self-confidence.  
            </p>
            <p class="normal-text">
                No one is exempt from the ebb and flow of self-confidence, so in this session we develop the positive behaviours which will nurture the self-trust, self-assuredness and self-focus that you deserve. 
            </p>
            <div class="confidence-list-container">
                <ul class="normal-text confidence-list">
                <li class="confidence-list-item">Do you question your self-worth and your abilities?</li>
                <li class="confidence-list-item">Are you worried about being exposed as a Fraud?</li>
                <li class="confidence-list-item">Do you notice your negative self-talk but don’t know how to change it?</li>
                <li class="confidence-list-item">Are you stuck between needing to make changes but afraid of what that may look like?</li>
            </ul>
            </div>
            <p class="normal-text">
                I’ve created this workshop as a wonderfully hopeful and incurably compassionate space for you to rediscover you. Through practical tools and techniques, you will learn the essentials to come home to your most confident self.
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS1"
                data-item-price="15"
                data-item-url="/confidence-collective-workshop"
                data-item-description="Confidence Collective Workshop - Replay"
                data-item-image=""
                data-item-name="Confidence Collective Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content cc-workshop-includes">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/mhairi_on_phone.jpg" alt="mhairi-life-coach-on-phone">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    In this workshop we go big by starting small 
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">No shouty pep talks or fire walks needed here babes! With a light touch and hefty dose of humour we will get you where you want to be</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We start with your intention, what you desire for yourself when it comes to self-confidence.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll then lead you through the absolute essentials to restore the confidence you deserve and crave.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We will uncover your motivation to make changes, tap into your self-confidence at its root and equip you to navigate dips and triggers.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">No matter where your self confidence level currently sits, I will meet you where you are at and journey with you to a more confident, calm and unstoppable you.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">So get into your comfy bumfies, pour yourself a cup of something yummy and lets start as we mean to go on…together.</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#WS1"
                    data-item-price="15"
                    data-item-url="/confidence-collective-workshop"
                    data-item-description="Confidence Collective Workshop - Replay"
                    data-item-image=""
                    data-item-name="Confidence Collective Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR THE CONFIDENCE COLLECTIVE WORKSHOP 
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text ccw replay-avail">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS1"
                data-item-price="15"
                data-item-url="/confidence-collective-workshop"
                data-item-description="Confidence Collective Workshop - Replay"
                data-item-image=""
                data-item-name="Confidence Collective Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            Leave this workshop with: 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A clear understanding of your "why" ie., your motivation for working on your confidence </span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">An awareness and compassion for your confidence killing monologue and crucially a way to reframe that</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A growth mindset</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A beautiful healing experience with like minded people</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">The first, right step towards your most confident self </span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="../static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#WS1"
                data-item-price="15"
                data-item-url="/confidence-collective-workshop"
                data-item-description="Confidence Collective Workshop - Replay"
                data-item-image=""
                data-item-name="Confidence Collective Workshop">
                JOIN ME FOR THE CONFIDENCE COLLECTIVE WORKSHOP 
            </button>
        </div>
    </section>


    <!-- what you'll need section -->
    <section class="simple-section">
        <h2 class="sect-title pink-text">
            What do you need to bring? 
        </h2>
        <div class="simple-section-text what-you-need-text">
            <p class="normal-text fw-b">
                Yourself. An open mind and heart. A way to take notes. 
            </p>
        </div>
    </section>
    <!-- END: what you'll need section -->

