---

layout: 'base.njk'
title: 'The Roadblock Coach - Life Coaching by Mhairi Todd'
metaDescription: 'Accredited Transformational Coach dedicated to helping you overcome roadblocks and move toward a happier, fulfilling life via online coaching sessions. DISC Certified.'
---

<hr class="half-width-hr">
<!-- Gift card section -->
<section id="gift-card-section" class="gift-card-section insta-gift-cards">
    <h2 class="sect-title">
        Give the gift of a limitless life
    </h2>
    <div class="gift-card-intro">
        <div class="sect-subtitle pink-text">
            Gift vouchers just got mighty meaningful!
        </div>
        <p class="normal-text">
            In collaboration with our friends at Flow and Fancy you can give an empowering gift that will last a lifetime.
            <br><br>
            Unsure which set to choose? Try selecting by crystal, affirmation or price.        
        </p>
    </div>
    <hr class="half-width-hr">
    <div class="gift-card-content">
        <div class="gift-card-item">
            <div class="gift-card-img">
                <img src="../static/img/Mhairi_pics/resilient-voucher-front-2.jpg" alt="Temp-gift-card-1">
            </div>
            <div class="gift-card-text">
                <div class="gift-card-item-title">
                    <h4 class="sect-subtitle normal-text">
                        I am Resilient
                    </h4>
                </div>
                <div class="gift-card-item-info">
                    <p class="normal-text">
                        £50 Coaching Gift Voucher 
                    </p>
                    <p class="normal-text">
                         Flow & Fancy Clear Obsidian Necklace
                    </p>
                </div>
                <div class="gift-card-btn about-cta-btn">
                    <a href="../gift-cards/i-am-resilient" class="btn-pink normal-text">More info</a>
                </div>
            </div>
        </div>
        <hr class="half-width-hr  d-md-none">
         <div class="gift-card-item">
            <div class="gift-card-img">
                <img src="../static/img/Mhairi_pics/limitless-voucher-front-2.jpg" alt="Temp-gift-card-1">
            </div>
            <div class="gift-card-text">
                <div class="gift-card-item-title">
                    <h4 class="sect-subtitle normal-text">
                        I am limitless
                    </h4>
                </div>
                <div class="gift-card-item-info">
                    <p class="normal-text">
                        £100 Coaching Gift Voucher 
                    </p>
                    <p class="normal-text">
                        Flow & Fancy Clear Quartz on a Silver Necklace
                    </p>
                </div>
                <div class="gift-card-btn about-cta-btn">
                    <a href="../gift-cards/i-am-limitless" class="btn-pink normal-text">More info</a>
                </div>
            </div>
        </div>
        <hr class="half-width-hr  d-md-none">
         <div class="gift-card-item">
            <div class="gift-card-img">
                <img src="../static/img/Mhairi_pics/coming-soon-comp.jpg" alt="Temp-gift-card-1">
            </div>
            <div class="gift-card-text">
                <div class="gift-card-item-title">
                    <h4 class="sect-subtitle normal-text">
                        I am Loved
                    </h4>
                </div>
                <div class="gift-card-item-info">
                    <p class="normal-text">
                        Coming Soon
                    </p>
                </div>
                <hr class="half-width-hr">
                <!-- <div class="gift-card-btn about-cta-btn">
                    <a href="" class="btn-pink normal-text">Purchase</a>
                </div> -->
            </div>
        </div>
    </div>

</section>


<!-- END: Gift card section -->
