---

layout: 'base.njk'

---

<!-- hero section -->
<section class="home-hero container-fluid p-0">
    <div class="home-hero-img hero-showing">
        <img src="static/img/Mhairi_pics/home_hero_comp.jpg" alt="mhairi-life-coach-in-black-coat">
    </div>
    <div class="home-hero-img">
        <img src="static/img/Mhairi_pics/home_hero_2_comp.jpg" class="home-hero-2" alt="mhairi-life-coach-walking-towards">
    </div>
    <div class="home-hero-text">
        <p class="hero-text first-hero-text" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500">From roadblock</p>
        <p class="hero-text second-hero-text" data-aos="fade-left" data-aos-delay="1000" data-aos-offset="200" data-aos-duration="1500">to revolution</p>
        <!-- <p class="hero-text third-hero-text" data-aos="fade-right" data-aos-delay="2000" data-aos-offset="200" data-aos-duration="1500">helping women create</p>
        <p class="hero-text third-hero-text" data-aos="fade-right" data-aos-delay="2000" data-aos-offset="200" data-aos-duration="1500">a life without limits
        </p> -->
    </div>
</section>
<!-- END: hero section -->

<hr class="half-width-hr">
<!-- hero section -->
<div class="home-sub-hero">
    <div class="home-sub-hero-content">
        <!-- {# <h1 class="about-title">From roadblock to revolution</h1> #} -->
        <h1 class="sect-title about-title">Helping women create a life without limits</h1>
        <!-- {# <h2 class="sect-title fw-n">Helping women create a life without limits</h2> #} -->
    </div>
</div>
<!-- END: hero section -->
<hr class="half-width-hr">

<!-- stand alone testimonial -->
<div class="testimonial-alone">
    <div class="testimonial-alone-exert">
        <p>
            “Revolutionary. Motivating. Empowering. Mhairi is absolutely life-changing.”
        </p>
    </div>
    <div class="testimonial-alone-author">
        <h3 class="rob-font testimonial-author-job">
             Natalia McHale, E-Commerce Consultant 
        </h3>
    </div>
</div>
<!-- END: stand alone testimonial -->



<!-- Home about section -->
<section class="home-about">
    <div class="home-about-title">
        <h1 class="logo-2">Hey, I'm Mhairi</h1>
        <h2 class="fw-b home-about-subtitle ml-1">
            THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
        </h2>
    </div>
    <div class="home-about-img">
        <img src="static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
    </div>
    <div class="home-about-text">
        <p class="normal-text">
            I help women navigate and overcome the roadblocks in their lives. 
        </p>
        <p class="normal-text">
            From unlocking potential and gaining confidence to improving relationships and combating anxiety, my coaching programs help break down barriers standing between you and your personal version of true fulfillment.
        </p>
        <p class="normal-text">
            You may not know all of the answers yet but together we dig deep to ask the questions, and build a bespoke plan centered around you. I approach all my sessions how I do life; with hard work, raw emotion and a hefty dose of humour. (That part is non-negotiable!)
        </p>
        <p class="normal-text">
            The road to happiness exists, sometimes you just need a little help navigating it. That’s where I come in.
        </p>
    </div>
    <div class="about-cta-btn">
        <a href="about.html" class="btn-pink normal-text">READY TO BREAK BARRIERS?<br class="d-lg-none"> START HERE</a>
    </div>
</section>
<!-- END: Home about section -->

<!-- home-coaching section -->
<section class="home-coaching">
    <div class="coaching-1-1">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/sitting-yellow-coat.jpg" alt="mhairi-life-coach-in-yellow-coat">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">Who?</h2>
            <p class="normal-text"> 
                I know what you’re thinking, is coaching the right thing to help me achieve my dream life?  And if so, is Mhairi the ‘one’?  Mind Reading abilities aside these are exactly the questions you should be asking.  
                Read more and take my quick fire quiz to find out.
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="about.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
    <div class="coaching-free">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/standing-at-window-scomp.jpg" alt="mhairi-life-coach-at-window">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">What?</h2>
            <p class="normal-text p-md-0">  
                So you’re all in on the idea of coaching but you need to know more about transformation coaching.  Specifically, what on earth it is?!
                Get the low down on this, learn how my programs work and uncover which package would best suit you.
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="services.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
    <div class="coaching-why">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/sitting_laptop_blue_comp.jpg" alt="mhairi-life-coach-on-laptop">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">Why?</h2>
            <p class="normal-text p-md-0">  
                I’m here to make a fundamental difference in the life you lead.  You need to know if that can really happen.  Read feedback from some of my wonderful clients and find out how you too can live the life you love.
                </p>
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="testimonials.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
</section>
<!-- END: home-coaching section -->

<!-- you will gain section -->
<section class="home-you-will-gain">
    <div class="home-gain-heading">
        <h2 class="logo-3">
            The Roadblock Coach
        </h2>
        <h3 class="sect-title rob-font">
            LETTING GO OF LIMITATIONS
        </h3>
    </div>
    <div class="home-gain-content">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    Restore
                </h3>
                <p class="sect-subtitle">
                    Change begins with you
                </p>
            </div>
            <p class="normal-text gain-item-text">
                YOUR AUTHENTIC SELF <br>
                Discover what you really want and how to get it

            </p>
            <p class="normal-text gain-item-text">
                SELF AWARENESS <br>
                Be present and learn to lean in to positive change

            </p>
            <p class="normal-text gain-item-text">
                CONFIDENCE <br>
                Gain a deep level of strength and courage 

            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000" data-aos-delay="1000">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    RELEASE
                </h3>
                <p class="sect-subtitle">
                    Say your goodbyes
                </p>
            </div>
            <p class="normal-text gain-item-text">
                YOUR INNER CRITIC <br>
                Switch the dialogue to one of self love
            </p>
            <p class="normal-text gain-item-text">
                LIMITING BELIEFS <br>
                Start believing in what you’re capable of achieving
            </p>
            <p class="normal-text gain-item-text">
                NEGATIVE PATTERNS <br>
                Step out of the negative cycle to form healthy habits 
            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="1500">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    REVEAL
                </h3>
                <p class="sect-subtitle">
                    Set your intentions
                </p>
            </div>
            <p class="normal-text gain-item-text">
                FUTURE FOCUS <br>
                Gain the tools to keep toward your best life
            </p>
            <p class="normal-text gain-item-text">
                PERSONALISED ROAD MAP <br>
                Set your gut-informed goals and stick to them
            </p>
            <p class="normal-text gain-item-text">
                YOUR TRUE JOY <br>
                Start living the life you’ve imagined
            </p>
        </div>
    </div>
</section>

<!-- END: you will gain section -->

{% include 'components/_services-parralax.njk' %}

{% include 'components/_quiz.njk' %}

<!-- Parralex quote section -->
<section class="quote-parallax-container">
    <div class="quote">
        <h3 class="sect-subtitle">
            Client love
        </h3>
        <p class="quote-text">
            “Revolutionary, Motivating and empowering. An absolutely life changing delight.”
        </p>
    </div>
</section>
<!-- END: parralex quote section -->
