---

layout: 'base.njk'

---

<!-- hero section -->
<section class="home-hero container-fluid p-0">
    <div class="home-hero-img hero-showing">
        <img src="static/img/Mhairi_pics/home_hero_comp.jpg" alt="mhairi-life-coach-in-black-coat">
    </div>
    <div class="home-hero-img">
        <img src="static/img/Mhairi_pics/home_hero_2_comp.jpg" class="home-hero-2" alt="mhairi-life-coach-walking-towards">
    </div>
    <div class="home-hero-text">
        <p class="hero-text first-hero-text" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1500">From roadblock</p>
        <p class="hero-text second-hero-text" data-aos="fade-left" data-aos-delay="500" data-aos-offset="200" data-aos-duration="1500">to revolution</p>
    </div>
</section>
<!-- END: hero section -->

<hr class="half-width-hr">
<!-- hero section -->
<div class="home-sub-hero">
    <div class="home-sub-hero-content">
        <h1 class="sect-title about-title">Helping women create a life without limits</h1>
    </div>
</div>
<!-- END: hero section -->
<hr class="half-width-hr">

<!-- stand alone testimonial -->
<div class="testimonial-alone">
    <div class="testimonial-alone-exert">
        <p>
            “Revolutionary. Motivating. Empowering. Mhairi is absolutely life-changing.”
        </p>
    </div>
    <div class="testimonial-alone-author">
        <h3 class="rob-font testimonial-alone-author-job">
            - Natalia McHale, E-Commerce Consultant 
        </h3>
    </div>
</div>
<!-- END: stand alone testimonial -->

<!-- Home about section -->
<section class="home-about">
    <div class="home-about-title">
        <h1 class="logo-2">Hey, I'm Mhairi</h1>
        <h2 class="fw-b home-about-subtitle ml-1">
            THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
        </h2>
    </div>
    <div class="home-about-img">
        <img src="static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
    </div>
    <div class="home-about-text">
        <p class="normal-text">
            I help women navigate and overcome the roadblocks in their lives. 
        </p>
        <p class="normal-text">
            From unlocking potential and gaining confidence to improving relationships and combating anxiety, my coaching programs help break down barriers standing between you and your personal version of true fulfillment.
        </p>
        <p class="normal-text">
            You may not know all of the answers yet but together we dig deep to ask the questions, and build a bespoke plan centered around you. I approach all my sessions how I do life; with hard work, raw emotion and a hefty dose of humour. (That part is non-negotiable!)
        </p>
        <p class="normal-text">
            The road to happiness exists, sometimes you just need a little help navigating it. That’s where I come in.
        </p>
    </div>
    <div class="about-cta-btn">
        <a href="/services" class="btn-pink normal-text">READY TO BREAK BARRIERS?<br class="d-lg-none"> START HERE</a>
    </div>
</section>
<!-- END: Home about section -->

<!-- you will gain section -->
<section class="home-you-will-gain">
    <div class="home-gain-heading">
        <h2 class="logo-3">
            The Roadblock Coach
        </h2>
        <h3 class="sect-title rob-font">
            LETTING GO OF LIMITATIONS
        </h3>
    </div>
    <div class="home-gain-content">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    Restore
                </h3>
                <p class="sect-subtitle">
                    Change begins with you
                </p>
            </div>
            <p class="normal-text gain-item-text">
                YOUR AUTHENTIC SELF <br>
                Discover what you really want and how to get it

            </p>
            <p class="normal-text gain-item-text">
                SELF AWARENESS <br>
                Be present and learn to lean in to positive change

            </p>
            <p class="normal-text gain-item-text">
                CONFIDENCE <br>
                Gain a deep level of strength and courage 

            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000" data-aos-delay="1000">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    RELEASE
                </h3>
                <p class="sect-subtitle">
                    Say your goodbyes
                </p>
            </div>
            <p class="normal-text gain-item-text">
                YOUR INNER CRITIC <br>
                Switch the dialogue to one of self love
            </p>
            <p class="normal-text gain-item-text">
                LIMITING BELIEFS <br>
                Start believing in what you’re capable of achieving
            </p>
            <p class="normal-text gain-item-text">
                NEGATIVE PATTERNS <br>
                Step out of the negative cycle to form healthy habits 
            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="1500">
            <div class="gain-item-intro">
                <h3 class="gain-intro-subtitle rob-font">
                    REVEAL
                </h3>
                <p class="sect-subtitle">
                    Set your intentions
                </p>
            </div>
            <p class="normal-text gain-item-text">
                FUTURE FOCUS <br>
                Gain the tools to keep toward your best life
            </p>
            <p class="normal-text gain-item-text">
                PERSONALISED ROAD MAP <br>
                Set your gut-informed goals and stick to them
            </p>
            <p class="normal-text gain-item-text">
                YOUR TRUE JOY <br>
                Start living the life you’ve imagined
            </p>
        </div>
    </div>
</section>

<!-- END: you will gain section -->

{% include 'components/_services-parralax.njk' %}

<!-- why mhairi section -->
<section class="why-mhairi">
    <div class="why-mhairi-title">
        <h3 class="sect-title rob-font">
            Why Mhairi
        </h3>
    </div>
    <div class="why-mhairi-content">
        <div class="home-about-title">
            <h2 class="home-about-subtitle">
            Choosing the right coach for you is an important step in the process, I get it. So why me? 
            </h2>
        </div>
        <div class="home-about-img">
            <img src="static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="sect-subtitle pink-text">
                I’ve been where you are:
            </p>
            <p class="normal-text">
                I worked for many years in senior roles with fancy job titles and salaries, but I was never truly fulfilled. After completing a degree in Medical Biology, I knew my passion lived outside the lab. But what to do? Youthful ignorance firmly in hand, I gravitated to where I thought I ‘should’ be, led entirely by society’s depiction of success. When I got there, I realised I’d been so busy becoming what I thought I should be, that I’d completely lost touch with who I actually wanted to be. What changed my world? 
            </p>
            <p class="normal-text">
                Complete disaster.
            </p>
            <p class="normal-text">
                And that’s where my life-changing transformation began. I emerged as my best self, and I can help you do the same.
            </p>
            <p class="normal-text">
                Read more about my journey to happiness and discover how I can help you with yours.
            </p>
        </div>
        <div class="about-cta-btn">
            <a href="/about" class="btn-pink normal-text">READ MY STORY</a>
        </div>
    </div>
</section>
<!-- END: why mhairi section -->

<hr class="half-width-hr">

<!-- stand alone testimonial -->
<div class="testimonial-alone">
    <div class="testimonial-alone-exert">
        <p>
            “Mhairi really helped me gain more confidence. If I ever feel overwhelmed, I just go back to my sessions with her.”
        </p>
    </div>
    <div class="testimonial-alone-author">
        <h3 class="rob-font testimonial-alone-author-job">
              - Kate Towse, Customer Experience Team Lead 
        </h3>
    </div>
</div>
<!-- END: stand alone testimonial -->
<hr class="half-width-hr">

{% include 'components/_quiz.njk' %}


<!-- Client love section -->
<div class="testimonial-alone">
    <h3 class="sect-title">
            Client love 
    </h3>
    <h3 class="sect-subtitle">
            Hear from the women who have changed their lives
    </h3>
    <div class="testimonial-alone-content">
        <div class="testimonial-alone-exert">
            <p>
                “Mhairi was hugely inspirational and made me realise I can do anything I set my mind to ”
            </p>
        </div>
        <div class="testimonial-alone-author">
            <h3 class="rob-font testimonial-alone-author-job">
                - Jo Christie, Travel Retail Manager U.K. and Ireland
            </h3>
        </div>
    </div>
     <a class="btn-dark-pink services-cta-btn" href="/testimonials">MORE SUCCESS STORIES </a>
</div>
<!-- END: Client love section -->
<hr class="half-width-hr">
       