---

layout: 'base.njk'

---

<!-- hero section -->
<section class="home-hero container-fluid p-0">
    <div class="home-hero-img hero-showing">
        <img src="static/img/Mhairi_pics/home_hero_comp.jpg" alt="mhairi-life-coach-in-black-coat">
    </div>
    <div class="home-hero-img">
        <img src="static/img/Mhairi_pics/home_hero_2_comp.jpg" class="home-hero-2" alt="mhairi-life-coach-walking-towards">
    </div>
    <div class="home-hero-text">
        <p class="first-hero-text" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1500">Revolutionise</p>
        <p class="second-hero-text" data-aos="fade-left" data-aos-delay="1000" data-aos-offset="200" data-aos-duration="1500">your life from the</p>
        <p class="logo-sub third-hero-text" data-aos="fade-right" data-aos-delay="2000" data-aos-offset="200" data-aos-duration="1500">Inside out</p>
    </div>
</section>
<!-- END: hero section -->

<!-- Home about section -->
<section class="home-about">
    <div class="home-about-title">
        <h1 class="logo-2">Hey, I'm Mhairi</h1>
        <h2 class="fw-b home-about-subtitle ml-1">
            Transformation coach for talented women who want more from life. 
        </h2>
    </div>
    <div class="home-about-img">
        <img src="static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
    </div>
    <div class="home-about-text">
        <p class="normal-text">
            I worked for many years in senior roles with fancy job titles and salaries, but I was never truly fulfilled.
        </p>
        <p class="normal-text">
            After completing a Medical Biology degree I knew my passion lay out with the lab.  But what to do? 
            Youthful ignorance firmly in hand I gravitated to where I thought I ‘should’.  I was led by society’s depiction of success.  When I got there I realised I’d been so busy becoming what I thought I was supposed to that I’d completely lost touch with what I actually wanted.
        </p>
        <p class="normal-text">
            What changed my world?  Complete disaster.  It was the best thing that happened to me.  Read more about my journey to happiness on my terms and how I can help you with yours.
        </p>
    </div>
    <div class="about-cta-btn">
        <a href="about.html" class="btn-pink normal-text">Meet Mhairi</a>
    </div>
</section>
<!-- END: Home about section -->

<!-- home-coaching section -->
<section class="home-coaching">
    <div class="coaching-1-1">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/sitting-yellow-coat.jpg" alt="mhairi-life-coach-in-yellow-coat">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">Who?</h2>
            <p class="normal-text"> 
                I know what you’re thinking, is coaching the right thing to help me achieve my dream life?  And if so, is Mhairi the ‘one’?  Mind Reading abilities aside these are exactly the questions you should be asking.  
                Read more and take my quick fire quiz to find out.
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="about.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
    <div class="coaching-free">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/standing-at-window-scomp.jpg" alt="mhairi-life-coach-at-window">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">What?</h2>
            <p class="normal-text p-md-0">  
                So you’re all in on the idea of coaching but you need to know more about transformation coaching.  Specifically, what on earth it is?!
                Get the low down on this, learn how my programs work and uncover which package would best suit you.
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="services.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
    <div class="coaching-why">
        <div class="coaching-img">
            <img src="static/img/Mhairi_pics/sitting_laptop_blue_comp.jpg" alt="mhairi-life-coach-on-laptop">
        </div>
        <div class="coaching-text">
            <h2 class="coaching-title">Why?</h2>
            <p class="normal-text p-md-0">  
                I’m here to make a fundamental difference in the life you lead.  You need to know if that can really happen.  Read feedback from some of my wonderful clients and find out how you too can live the life you love.
                </p>
            </p>
            <div class="coach-cta-btn">
                <a class="btn-white-sm" href="testimonials.html">TELL ME MORE</a>
            </div>
        </div>
    </div>
</section>
<!-- END: home-coaching section -->

<!-- you will gain section -->
<section class="home-you-will-gain">
    <div class="home-gain-heading">
        <h2 class="logo-3">
            Revolve Coaching
        </h2>
        <h3 class="sect-title rob-font">
            This time is for you
        </h3>
    </div>
    <div class="home-gain-content">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="100" data-aos-duration="1000">
            <h3 class="services-intro-subtitle rob-font">
                Restore
            </h3>
            <p class="normal-text">
                Self Awareness
            </p>
            <p class="normal-text">
                Confidence 
            </p>
            <p class="normal-text">
                Authenticity 
            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="150" data-aos-duration="1000" data-aos-delay="1000">
            <h3 class="services-intro-subtitle rob-font">
                Release
            </h3>
            <p class="normal-text">
                Inner Critic
            </p>
            <p class="normal-text">
                Limiting Beliefs
            </p>
            <p class="normal-text">
                Negative Patterns 
            </p>
        </div>
        <hr class="half-width-hr pink-hr d-md-none">
        <div class="home-gain-item" data-aos="fade-right" data-aos-offset="200" data-aos-duration="1000" data-aos-delay="1500">
            <h3 class="services-intro-subtitle rob-font">
                Reveal
            </h3>
            <p class="normal-text">
                Future Focus
            </p>
            <p class="normal-text">
                Personalised Life Plan
            </p>
            <p class="normal-text">
                Your Joy
            </p>
        </div>
    </div>
</section>

<!-- END: you will gain section -->

{% include 'components/_services-parralax.njk' %}

{% include 'components/_quiz.njk' %}

<!-- Parralex quote section -->
<section class="quote-parallax-container">
    <div class="quote">
        <h3 class="sect-subtitle">
            Client love
        </h3>
        <p class="quote-text">
            “Revolutionary, Motivating and empowering. An absolutely life changing delight.”
        </p>
    </div>
</section>
<!-- END: parralex quote section -->
