---

layout: 'base.njk'
title: 'Client Success Stories by Mhairi Todd - The Roadblock Coach'
metaDescription: 'Hear from the women who have transformed their lives, careers, relationships and more by working with Mhairi Todd. Accredited Life Coach. DISC Certified.'

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="right-hero-text">
            <h1 class="sect-title">2021 OPENING WORKSHOP</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">RESTORE, RELEASE AND REVEAL</h1>
            <h3 class="services-intro-subtitle rob-font">
                Enter 2021 with a calm mind and a courageous heart.
            </h3>   
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                    A 1hr lecture style workshop followed by a 30 min restorative Sound Bath.
                    We will release what doesn’t serve you, call in what you need for 2021 and get clear on your next right move.
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Tuesday 5th Jan
                    8pm- 9.30pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via a unique weblink
                </p>
            </div>
            <div class="about-cta-btn">
                <a href="" class="btn-pink normal-text">Get your ticket</a>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="circle-img">
        <img src="../static/img/Mhairi_pics/about-hero-square.jpg" alt="">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            Get quiet, get focused and get clear.
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                You know the way it goes. The New Year begins and by some incredible alchemy all your troubles are left
                behind and you immediately know how to move forward to get all you want in life…..oh no wait, that’s not right!
                Truth is, if we do what we’ve always done we will get what we have always got.
                So let’s create our own magic shall we babes?
            </p>
            <p class="normal-text">
                I’ve created this workshop as a way to disrupt the energy of 2020; leave behind what isn’t useful, restore what is 
                missing or lost and get super clear on what you want (what you really, really want).
            </p>
        </div>
        <div class="about-cta-btn">
            <a href="" class="btn-pink normal-text">Get your ticket</a>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/sitting_yellow_coat_comp.jpg" alt="mhairi-life-coach-yellow-coat">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    In this workshop we will honour our experiences of 2020 and leap forward with new energy into what we will manifest in 2021 
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We start with a short breathing technique to ground us in.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll then lead you through 3 exercises designed to clear your path and help you take the first right step towards what you want to build in 2021.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">You won’t have to speak babes or even turn your camera on if you do not wish (phew), but the interactive chat button will be enabled so we can chat away as we go about what comes up.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">With actions in hand we will close the event with a healing sound bath led by a wonderful Naad Yoga instructor (and beautiful friend of mine) Gemma.
                        Never had a sound bath before? No problem!  All you need to do is lie back, relax and listen.  The sound will do the rest.</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <a href="/about" class="btn-pink normal-text">Get your ticket</a>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->


    <!-- testimonials section -->
    <section class="testimonials-section">
        <div class="testimonial-item">
            <div class="testimonial-author">
                <h2 class="logo-font testimonial-author-name">
                    Natalia McHale
                </h2>
                <h3 class="rob-font testimonial-author-job">
                    E-Commerce Consultant 
                </h3>
            </div>
            <div class="testimonial-exert">
                <p>
                    “Revolutionary. Motivating. Empowering. Mhairi is absolutely life-changing.”
                </p>
            </div>
            <div class="testimonial-main">
                <p class="normal-text">
                    Words can’t quite describe how happy I am. After a few sessions, my nearest and dearest saw an almost physical change in me, radiating more positivity and embracing challenges. I’ve felt myself become a stronger and more assured person, feeling more confident in my choices and behaviour.
                </p>
            </div>
        </div>
        <hr class="half-width-hr">
        <div class="testimonial-item">
            <div class="testimonial-author">
                <h2 class="logo-font testimonial-author-name">
                    Kate Towse
                </h2>
                <h3 class="rob-font testimonial-author-job">
                    Customer Experience Team Lead
                </h3>
            </div>
            <div class="testimonial-exert">
                <p>
                    “Mhairi really helped me gain more confidence. If I ever feel overwhelmed, I just go back to my sessions with her”
                </p>
            </div>
            <div class="testimonial-main">
                <p class="normal-text">
                    I had never had coaching sessions before so it was completely new to me. Mhairi was a great coach and made my first experience really enjoyable and interesting. Mhairi really helped me gain more confidence in my work environment. I struggled with prioritising and Mhairi coached me in ways I could do this that suited my personality type. I loved how she asked questions that enabled me to come up with solutions myself. She’s definitely helped me manage my workload and change the way I approach things. If I ever feel overwhelmed, I just go back to my sessions with Mhairi and remember what I’ve learnt.
                </p>
            </div>
        </div>
        <hr class="half-width-hr">
        <div class="testimonial-item">
            <div class="testimonial-author">
                <h2 class="logo-font testimonial-author-name">
                    Jo Christie
                </h2>
                <h3 class="rob-font testimonial-author-job">
                    Travel Retail Manager U.K. and Ireland 
                </h3>
            </div>
            <div class="testimonial-exert">
                <p>
                    “Mhairi was hugely inspirational and made me realise I can do anything I set my mind to”
                </p>
            </div>
            <div class="testimonial-main">
                <p class="normal-text">
                    Mhairi has helped me think very differently and realise there are ways around obstacles. Before working with Mhairi, I was constantly telling myself I couldn’t do things. I was so busy being busy. I decided to give up smoking and although I had a few mishaps I’m quite proud of my 41 days smoke free. Mhairi was hugely inspirational and made me realise I can do anything I set my mind on.
                </p>
            </div>
        </div>
        <hr class="half-width-hr">
        <div class="testimonial-item">
            <div class="testimonial-author">
                <h2 class="logo-font testimonial-author-name">
                    Darren Searle
                </h2>
                <h3 class="rob-font testimonial-author-job">
                    Store Manager 
                </h3>
            </div>
            <div class="testimonial-exert">
                <p>
                    “The experience of having a coach...made me a more confident and happy person. Amazing! ”
                </p>
            </div>
            <div class="testimonial-main">
                <p class="normal-text">
                    The experience of having a coach really made me reflect on the positive aspects of my life and not the negative. It gave me goals and made me look at things in such a different light, which in turn made me a more confident and happy person. This has continued even after the coaching sessions ended. Amazing!
                </p>
            </div>
        </div>
        <hr class="half-width-hr">
        <div class="testimonial-item">
            <div class="testimonial-author">
                <h2 class="logo-font testimonial-author-name">
                    Katya Van Brick
                </h2>
                <h3 class="rob-font testimonial-author-job">
                    Content and Experience Specialist 
                </h3>
            </div>
            <div class="testimonial-exert">
                <p>
                    “I have gone from not knowing how I could progress in my career, to having a clear vision and direction. ”
                </p>
            </div>
            <div class="testimonial-main">
                <p class="normal-text">
                    Mhairi encouraged me to ask myself questions that I wouldn’t have otherwise considered. She gave me a new perspective on what I am capable of, which I now use in my day-to-day work life to achieve my goals. I have gone from not knowing how I could progress in my career, to having a clear vision and direction of how to get there.
                </p>
            </div>
        </div>
    </section>
    <!-- END: testimonials section -->

    {% include 'components/_services-parralax.njk' %}
    
    
