---

layout: 'base.njk'
title: '2021 Opening Workshop with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A 1hr lecture style workshop followed by a 30 min restorative Sound Bath. We will release what doesn’t serve you, call in what you need for 2021 and get clear on your next right move.'

---

    <!-- Parralex hero section -->
    <section class="testimonial-hero-container workshop-hero">
        <div class="parallax-container contact-hero-parallax-window"></div>
        <div class="left-hero-text">
            <h1 class="sect-title">2021 OPENING WORKSHOP</h1>
            <h2 class="sect-subtitle">With Mhairi Todd</h2>
        </div>
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">RESTORE, RELEASE AND REVEAL</h1>
            <h3 class="services-intro-subtitle rob-font">
                Enter 2021 with a calm mind and a courageous heart.
            </h3>   
        </div>
        <hr class="half-width-hr">
        <div class="ceremony-what">
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    What
                </h4>
                <p class="normal-text">
                    A 1hr lecture style workshop followed by a 30 min restorative Sound Bath.
                    We will release what doesn’t serve you, call in what you need for 2021 and get clear on your next right move.
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    When
                </h4>
                <p class="normal-text">
                    Tuesday 5th Jan
                    8pm- 9.30pm GMT (replay available)
                </p>
            </div>
            <div class="ceremony-what-item">
                <h4 class="sect-subtitle pink-text fw-b">
                    Where
                </h4>
                <p class="normal-text">
                    Online via a unique weblink
                </p>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#OC1"
                    data-item-price="10"
                    data-item-url="/opening-workshop"
                    data-item-description="2021 Opening Workshop - Replay"
                    data-item-image=""
                    data-item-name="2021 Opening Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <div class="circle-img">
        <img src="../static/img/Mhairi_pics/walking-out-door.jpg" alt="">
    </div>

    <!-- get quiet section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            Get quiet, get focused and get clear.
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                You know the way it goes. The New Year begins and by some incredible alchemy all your troubles are left
                behind and you immediately know how to move forward to get all you want in life…..oh no wait, that’s not right!
                Truth is, if we do what we’ve always done we will get what we have always got.
                So let’s create our own magic shall we babes?
            </p>
            <p class="normal-text">
                I’ve created this workshop as a way to disrupt the energy of 2020; leave behind what isn’t useful, restore what is 
                missing or lost and get super clear on what you want (what you really, really want).
            </p>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: get quiet section -->

    <!-- workshop includes section -->
    <section class="why-mhairi worksop-includes">
        <div class="why-mhairi-content workshop-includes-content">
            <div class="home-about-img">
                <img src="../static/img/Mhairi_pics/sitting_yellow_coat_comp.jpg" alt="mhairi-life-coach-yellow-coat">
            </div>
            <div class="why-mhairi-title pl-md-0">
                <h3 class="home-about-subtitle fw-b">
                    In this workshop we will honour our experiences of 2020 and leap forward with new energy into what we will manifest in 2021 
                </h3>
            </div>
            <div class="home-about-text pl-md-0">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">We start with a short breathing technique to ground us in.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll then lead you through 3 exercises designed to clear your path and help you take the first right step towards what you want to build in 2021.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">You won’t have to speak babes or even turn your camera on if you do not wish (phew), but the interactive chat button will be enabled so we can chat away as we go about what comes up.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">With actions in hand we will close the event with a healing sound bath led by a wonderful Naad Yoga instructor (and beautiful friend of mine) Gemma.
                        Never had a sound bath before? No problem!  All you need to do is lie back, relax and listen.  The sound will do the rest.</span>
                    </li>
                </ul>
            </div>
            <div class="about-cta-btn">
                <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                    data-item-id="#OC1"
                    data-item-price="10"
                    data-item-url="/opening-workshop"
                    data-item-description="2021 Opening Workshop - Replay"
                    data-item-image=""
                    data-item-name="2021 Opening Workshop">
                    Get your ticket
                </button>
            </div>
        </div>
    </section>
    <!-- END: workshop includes section -->

    <!-- countdown timer section -->
    <section class="simple-section bg-aqua">
        <h2 class="sect-title">
            JOIN ME FOR 2021 OPENING WORKSHOP 
        </h2>
        <div class="simple-section-text">
            <div class="timer-container">
                <div class="timer-digit-container">
                    <div class="timer-digit rob-font">
                        <p id="timer-days" class="timer-text ow">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Days
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-hours" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Hours
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-minutes" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Mins
                    </p>
                </div>
                <div class="timer-digit-container">
                    <div class="timer-digit">
                        <p id="timer-seconds" class="timer-text">

                        </p>
                    </div>
                    <p class="sect-subtitle">
                        Secs
                    </p>
                </div>
            </div>
        </div>
        <div class="about-cta-btn">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                Get your ticket
            </button>
        </div>
    </section>
    <!-- END: countdown timer section -->

    <!-- what you'll leave with section -->
    <section class="simple-section leave-with-sect">
        <h2 class="sect-title pink-text">
            Leave this workshop with: 
        </h2>
        <div class="simple-section-text leave-with-list">
            <ul class="workshop-includes-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A more reflective appreciation of your experience in 2020</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A calmer state of mind</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Practical tools</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A useful planning reference to help you stay clear and connected with your 2021 goals</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A beautiful sound healing experience</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll leave with section -->

    <hr class="half-width-hr mt-0">

    <!--Brief about section -->
    <section class="home-about brief-about-ceremony">
        <div class="home-about-title">
            <h1 class="logo-2">Meet Mhairi</h1>
            <h2 class="fw-b home-about-subtitle">
                THE TRANSFORMATION COACH FOR WOMEN WHO WANT A LIFE WITHOUT LIMITS
            </h2>
        </div>
        <div class="home-about-img">
            <img src="../static/img/Mhairi_pics/walking-away.jpg" alt="mhairi-life-coach-walking-away">
        </div>
        <div class="home-about-text">
            <p class="normal-text">
                Mhairi, The Roadblock Coach, has helped many women navigate and overcome the roadblocks in their lives. 
            </p>
            <p class="normal-text">
                From unlocking potential and gaining confidence to improving relationships and combating anxiety, her coaching programs help break down barriers standing between you and your personal version of true fulfillment.
            </p>
            <p class="normal-text">
                The road to happiness exists, sometimes you just need a little help navigating it.
            </p>
        </div>
    </section>
    <!-- END: Brief about section -->

    <section class="stand-alone-cta-btn">
        <div class="about-cta-btn max-content-width">
            <button class="btn-pink normal-text snipcart-add-item opening-workshop-btn"
                data-item-id="#OC1"
                data-item-price="10"
                data-item-url="/opening-workshop"
                data-item-description="2021 Opening Workshop - Replay"
                data-item-image=""
                data-item-name="2021 Opening Workshop">
                JOIN ME FOR 2021 OPENING WORKSHOP 
            </button>
        </div>
    </section>


    <!-- what you'll need section -->
    <section class="simple-section">
        <h2 class="sect-title pink-text">
            What do you need to bring? 
        </h2>
        <div class="simple-section-text what-you-need-text">
            <p class="normal-text fw-b">
                Yourself!  That’s the only really essential thing.
            </p>
            <p class="normal-text">
                But to optimise your sensory experience it would be ideal if you could bring:
            </p>
            <ul class="workshop-includes-list what-you-need-list normal-text">
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A piece of paper, pen and a bit string or ribbon or elastic band or hair tie</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A notebook or way to take notes</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Your earphones</span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">A fragrant candle you like to burn </span>
                </li>
                <li class="workshop-includes-item">
                    <i class="far fa-check-circle"></i>
                    <span class="workshop-includes-item-text">Tea, coffee, water and/or snacks</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- END: what you'll need section -->

