---

layout: 'base.njk'
title: 'Life Coaching Programs by Mhairi Todd - The Roadblock Coach'
metaDescription: 'Accredited Transformational Coach helping you overcome stress, anxiety, fear to create your perfect life via online coaching sessions. Book your free call. DISC Certified.'

---

    <!-- hero section -->
    <section class="services-hero">
        <div class="services-hero-img">
            <img src="/static/img/Mhairi_pics/laughing-square-comp.jpg" alt="mhairi-life-coach-laughing">
        </div>
        <div class="services-hero-text">
            <div class="services-hero-content">
                <h1 class="about-title">TRANSFORMATIONAL COACHING</h1>
                <h2 class="sect-title fw-n">From roadblock to revolution;</h2>
                <p class="sect-title fw-n">
                    helping women create a life without limits
                </p>
            </div>
        </div>
    </section>
    <!-- END: hero section -->

    <!-- intro section -->
    <section class="services-intro">
        <h2 class="about-detail-title sect-title intro-title">
            Aside from “how do I pronounce your name?", the second most-asked question I get is
        </h2>
        <h3 class="services-intro-subtitle rob-font">
            "What actually is transformational coaching?"
        </h3>
        <div class="intro-text">
            <p class="normal-text">
                Transformational Coaching is an inside-out approach. Essentially, it’s digging deep (not moonlight meditation deep - but if that’s your thing, you go girl) to help you make the profound changes leading to a more fulfilled, happy life. Unlike traditional life coaching, which centres around goals and surface level shifts, we take it a step further by finding and harnessing your innate power and resilience (whether you believe it’s there or not). By unearthing these qualities, together we can unlock blockers to step beyond the psychology holding you back from living a life you love. Ready to make life-changing moves? You’ve come to the right place. 
            </p>
        </div>
        
    </section>
    <!-- END: intro section -->

    <!-- what can this look like section -->
    <section class="look-like-fade-sect">
        <h3 class="intro-title sect-title look-like-title fw-n">
            WHAT CAN THIS LOOK LIKE?
        </h3>
        <div class="look-like-fade d-md-none">
            <p class="look-like-item normal-text">Creating a work/life balance that makes you equal parts fulfilled and happy</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Learning to eliminate guilt and anxiety around becoming a mother or caring for your children</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Eliminating mental roadblocks stopping you from reaching career goals</p>
             <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Arming you with tools to get the most from your important relationships</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Developing techniques to handle overwhelming feelings or lack of control</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Addressing feelings of uneasiness and not living your ideal version of life </p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Breaking the cycle of negative thought patterns for a positive outlook</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Combatting anxiety to move toward your dream life</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Overcoming imposter syndrome to reach workplace goals</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Addressing low self-esteem and lack of confidence</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Forming techniques to aid productivity, consistency and focus</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Tackling your inner critic and changing the dialogue</p>
        </div>
        <div class="look-like-fade d-none d-md-flex">
            <p class="look-like-item normal-text">Creating a work/life balance that makes you equal parts fulfilled and happy</p>
            <p class="look-like-item normal-text">Learning to eliminate guilt and anxiety around becoming a mother or caring for your children</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Eliminating mental roadblocks stopping you from reaching career goals</p>
            <p class="look-like-item normal-text">Arming you with tools to get the most from your important relationships</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Developing techniques to handle overwhelming feelings or lack of control</p>
            <p class="look-like-item normal-text">Addressing feelings of uneasiness and not living your ideal version of life </p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Breaking the cycle of negative thought patterns for a positive outlook</p>
            <p class="look-like-item normal-text">Combatting anxiety to move toward your dream life</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Overcoming imposter syndrome to reach workplace goals</p>
            <p class="look-like-item normal-text">Addressing low self-esteem and lack of confidence</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item look-like-spacer normal-text">·</p>
            <p class="look-like-item normal-text">Forming techniques to aid productivity, consistency and focus</p>
            <p class="look-like-item normal-text">Tackling your inner critic and changing the dialogue</p>
        </div>
    </section>
    <!-- END: what can this look like section -->

    <!-- Parralex testimonial section -->
    <section class="testimonial-container">
        <div class="parallax-container" ></div>
        <div class="testimonial-parallax">
            <div class="love-hearts">
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
            </div>
            <p class="quote-text-white">
                “Mhairi was hugely inspirational and made me realise I can do anything I set my mind on” 
            </p>
            <p class="normal-text">
                - Jo. C
            </p>
        </div>
    </section>
    <!-- END: parralex testimonial section -->

    <!-- signature package -->
    <section class="signature-package">
        <h2 class="sect-title how-title">
            Coaching packages
        </h2>
        <h3 class="sect-subtitle">
            Where will you begin?
        </h3>
         <hr class="half-width-hr">
        <div class="signature-content">
            <div class="coaching-package-item">
                <div class="signature-includes">
                    <h2 class="sect-title fw-n signature-title italic">
                        signature
                    </h2>
                    <p class="normal-text coaching-package-intro">
                        Need help uncovering and navigating particular roadblocks in your path to happiness? Signature has your name written all over it. This 3-4 month voyage of self-discovery will help you identify where you are, so you can get to exactly where you want to be.   
                    </p>
                    <figure class="includes-fig">
                        <figcaption class="sect-subtitle how-sub text-left">Includes:</figcaption>
                        <ul class="includes-list">
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                1.5 hr in depth Discovery Session
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                6 * 1hr coaching sessions
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                Personal Acceleration Exercises
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                WhatsApp contact
                            </li>
                        </ul>
                        <div class="package-price">
                            <p class="normal-text">Investment: 4 monthly payments of £200</p>
                        </div>
                        <div class="package-price">
                            <div class="sect-subtitle how-sub text-left">Bonus:</div>
                            <p class="normal-text">Instant access to an incredible Confidence Training when you pay in full </p>
                        </div>
                    </figure>
                </div>
            </div>
            <hr class="half-width-hr d-md-none">
            <div class="coaching-package-item">
                <div class="signature-includes">
                    <h2 class="sect-title fw-n signature-title italic">
                        Shift
                    </h2>
                    <p class="normal-text coaching-package-intro">
                        If personal metamorphosis were a coaching program, this would be it! We take a deep and enlightening 5-6 month journey through self-awareness, self-trust and self-direction. Want to live a life without limits? Make the shift.
                    </p>
                    <figure class="includes-fig">
                        <figcaption class="sect-subtitle how-sub text-left">Includes:</figcaption>
                        <ul class="includes-list">
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                In person Breakthrough Day (Deluxe meals and refreshments included) 
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                1.5hr DISC personality profiling session
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                6 * 1.5 hr sessions
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                Direct WhatsApp contact with me throughout your program
                            </li>
                            <li class="includes-list-item normal-text">
                                <i class="fas fa-check-square"></i>
                                Personal Development Exercises
                            </li>
                        </ul>
                        <div class="package-price">
                            <p class="normal-text">Investment: 8 monthly payments of £400</p>
                        </div>
                        <div class="package-price">
                            <div class="sect-subtitle how-sub text-left">Bonus:</div>
                            <p class="normal-text">Instant access to Being Enough a 6-part program which includes a beautiful Sound Wisdom healing session.</p>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- END: signature package -->

    {% include 'components/_services-parralax.njk' %}

    <!-- how it works -->
    <section class="how-it-works">
        <h2 class="sect-title how-title">
            How my program works:
        </h2>
        <div class="how-content">
            <div class="how-item">
                <h3 class="sect-subtitle how-sub">Step one</h3>
                <h2 class="sect-title how-item-title">Restore</h2>
                <h3 class="sect-subtitle">Change begins with you</h3>
                <p class="normal-text">
                    This is one of my favourite parts. We do an intensive deep dive into what success looks like for you. We empower you to discover what’s missing from your life, what you want to achieve and the qualities you’d like to embody; be them emotional, physical or mental. During the coaching process you’ll realise that you hold the power to achieve your version of happiness. Reaching your destination is easy when you become the sat nav.
                </p>
            </div>
            <div class="how-item">
                <h3 class="sect-subtitle how-sub">Step two</h3>
                <h2 class="sect-title how-item-title">Release</h2>
                <h3 class="sect-subtitle">Say your goodbyes</h3>
                <p class="normal-text">
                    Before we start getting deep into the change, we use a personality profiling tool called DISC, which is recognised worldwide as a powerful tool to accelerate personal growth. We then review your fears, motivators and drivers, before we address what you need to let go of and how to switch your internal dialogue to start believing in what you are capable of. Once we can clearly see the blockers holding you back, we can work on overcoming them.
                </p>
            </div>
            <div class="how-item">
                <h3 class="sect-subtitle how-sub">Step three</h3>
                <h2 class="sect-title how-item-title">Reveal</h2>
                <h3 class="sect-subtitle">Set your intentions</h3>
                <p class="normal-text">
                    Then the fun really begins. Our coaching sessions will be structured in a fun, familiar way, and most importantly, be centred around you. We work with your conscious and subconscious to set your gut-informed goals and stick to them. We uncover and build your bespoke strategy for success and arm you with the tools to put them into practice. Finally, you can start living the life you’ve imagined.
                </p>
            </div>    
        </div>
    </section>
    <!-- END: how it works-->

    <hr class="half-width-hr">

    <!-- Client love section -->
    <div class="testimonial-alone client-love">
        <h3 class="sect-title">
                Client love 
        </h3>
        <h3 class="sect-subtitle">
                Hear from the women who have changed their lives
        </h3>
        <div class="testimonial-alone-content">
            <div class="testimonial-alone-exert">
                <p>
                    “Mhairi was hugely inspirational and made me realise I can do anything I set my mind to ”
                </p>
            </div>
            <div class="testimonial-alone-author">
                <h3 class="rob-font testimonial-alone-author-job">
                    - Jo Christie, Travel Retail Manager U.K. and Ireland
                </h3>
            </div>
        </div>
        <a class="btn-dark-pink services-cta-btn" href="/testimonials">MORE SUCCESS STORIES </a>
    </div>
    <!-- END: Client love section -->

    <hr class="half-width-hr">

    {% include 'components/_quiz.njk' %}
         
