---

layout: 'base.njk'
title: 'Being Enough - the 6 week program with Mhairi Todd - The Roadblock Coach'
metaDescription: 'A 7 week LIVE coaching journey where we will cover the absolute essentials to get you from never enough to a full cup.'

---

    <!-- Parralex hero section -->
    <section class="being-enough-hero-container">
    </section>
    <!-- END: parralex hero section -->

    <!-- intro section -->
    <section class="services-intro testimonial-intro you-will-gain-section">
        <div class="home-sub-hero-content ceremony-sub-content">
            <h1 class="sect-title about-title pink-text">Welcome my lovely, I’m so delighted you are here!</h1>
        </div>
        <div class="simple-section-text">
            <p class="normal-text">
                I know how hard it is when your best doesn’t feel good enough. Your successes feel like luck and the pressure of ‘getting it right’ is so overwhelming it can stop you doing anything at all.
            </p>
            <p class="normal-text">
                I know this because I’ve been there.
            </p>
            <p class="normal-text">
                The good news is, you’re reading this now which is a step in the right direction. 
            </p>
            <p class="normal-text">
                Now grab a cup of coffee (and a biscuit) babes and let me tell you in this short video everything you need to know about The Enough Effect, my life-changing group coaching course. 
                Yes that’s a bold statement, but based on client feedback from those that have gone before you, it’s one I absolutely stand by.
            </p>
        </div>
    </section>    
    <!-- END: intro section -->

    <hr class="half-width-hr">

    <!-- stand alone testimonial -->
    <div class="testimonial-alone">
        <div class="testimonial-alone-exert">
            <p>
                “I can honestly say it’s change my life.”
            </p>
        </div>
        <div class="testimonial-alone-author">
            <h3 class="rob-font testimonial-alone-author-job">
                - Previous Course Attendee 
            </h3>
        </div>
    </div>
    <!-- END: stand alone testimonial -->

    <hr class="half-width-hr">

    <!-- video section -->
    <section class="video-section">
        <div class="video-embed-container">
            <iframe src="https://player.vimeo.com/video/598397781?h=eaf32f9bb4" width="640" height="1357" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <a class="btn-dark-pink services-cta-btn bg-red" href="#paymentSection">Book your spot!</a>
    </section>
    <!-- END: video section -->

    <!-- what is it section -->
    <section class="simple-section bg-gray">
        <h2 class="sect-title">
            What is it?
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                A 7 week LIVE coaching journey where we will cover the absolute essentials to get you from never enough to a full cup. 
            </p>
            <p class="normal-text">
                In 2018 I identified what was holding me back; I believed I wasn’t good enough. Though logically I could see that was pretty unfair, it didn't help. 
            </p>
            <p class="normal-text">
                But here’s what I did: 
            </p>
            <div class="intro-list">
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Giving time and attention to the one thing that could make a difference; me.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Building trust where it matter; in myself.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Working on the most crucial relationship of all: the one i had with me.</span>
                    </li>
                </ul>
            </div>
            <p class="normal-text">
                It's with that intention I have created this program. To help you finally and fully stand in your own worth, unlock the limits on your joy and start your journey towards the life you deserve and desire.
            </p>
        </div>
    </section>
    <!-- END: what is it section -->

    <!-- our journey section -->
    <section class="our-journey">
        <h2 class="sect-title our-journey-title">
            Our Journey - What we will cover
        </h2>
        <div class="our-journey-content">
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Warm up</h3>
                <h2 class="sect-title our-journey-item-title">Opening Ritual</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">I’ll guide you to set a clear intention for your journey.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">You will enjoy a beautiful sound healing experience to clear your path and soothe your soul.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part one</h3>
                <h2 class="sect-title our-journey-item-title">Release</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Carefully and compassionately identify the buried beliefs that are diminishing your self worth.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Release the narrative that is holding you back from personal fulfilment.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Learn the essentials to turn self sabotage into self trust.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Rewrite your story, align yourself with all that you want to receive and experience.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part two</h3>
                <h2 class="sect-title our-journey-item-title">Restore</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Unpack how the view of oneself becomes so distorted.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Unlock incredible tools to climb down that fantasy ladder and connect with your truth.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Discover not just who you are but what you truly desire for yourself.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Build even more self belief and self trust to allow you to show up for yourself in new ways.</span>
                    </li>
                </ul>
            </div>
            <div class="our-journey-item">
                <h3 class="sect-subtitle our-journey-sub">Part three</h3>
                <h2 class="sect-title our-journey-item-title">Reveal</h2>
                <ul class="workshop-includes-list normal-text">
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Identity your incredible strengths and how to flex to work to your peak potential.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Achieve the essentials of setting loving but firm boundaries.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Sit in your self worth, own who you are and dare to dream.</span>
                    </li>
                    <li class="workshop-includes-item">
                        <i class="far fa-check-circle"></i>
                        <span class="workshop-includes-item-text">Uncover your personal 'Enough Effect' plan, mapping out your next 7 weeks with clarity and confidence.</span>
                    </li>
                </ul>
            </div>    
        </div>
        <a class="btn-dark-pink services-cta-btn bg-red" href="#paymentSection">Book your spot!</a>
    </section>
    <!-- END: our journey section-->

    <!-- Parralex testimonial section -->
    <section class="testimonial-container">
        <div class="parallax-container" ></div>
        <div class="testimonial-parallax">
            <div class="love-hearts">
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
            </div>
            <p class="quote-text-white">
                “Mhairi was hugely inspirational and made me realise I can do anything I set my mind on” 
            </p>
            <p class="normal-text">
                - Jo. C
            </p>
        </div>
    </section>
    <!-- END: parralex testimonial section -->

    <!-- Who is it for section -->
    <section class="who-is-it-for-section">
        <h2 class="sect-title text-center">
            The details
        </h2>
        <div class="home-about who-is-it-for">
            <div class="who-is-it-for-img">
                <img src="../static/img/Mhairi_pics/laughing-at-phone.jpg" alt="mhairi-life-coach-walking-away">
            </div>
            <div class="home-about-text">
                <div class="when-how-item">
                    <div class="home-about-subtitle pink-text">Who is it for? </div>
                    <p class="normal-text">
                    Incredible women/LGBTQI+  just like you, from any and all backgrounds. This will be a safe, respectful and inclusive space. 
                    </p>
                    <p class="normal-text">
                        So even if you have ‘the fear’, even if you have confidence wobbles and even if you have felt this way for a very long time, I’ve got you.
                    </p>
                    <p class="normal-text">
                        *Over 18’s only my loves
                    </p>
                </div>
                <div class="when-how-item">
                    <div class="home-about-subtitle pink-text">How long,when and how? </div>
                    <p class="normal-text">We will spend a delightful 7 weeks together:</p>
                    <ul class="workshop-includes-list normal-text">
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">Week one we kickstart with the opening ritual on Monday 11th October 8pm.</span>
                        </li>
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">Wednesday that same week at 8pm we plunge into the first juicy module RELEASE: What we resist, persists.</span>
                        </li>
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">Thereafter we will see each other every week alternating between a Wednesday evening and Friday afternoon.</span>
                        </li>
                        <li class="workshop-includes-item">
                            <i class="far fa-check-circle"></i>
                            <span class="workshop-includes-item-text">In addition you will enjoy an exclusive bonus guest workshop from a wonderful Body and Mindset coach.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- END: Who is it for section -->

    <!-- when, how long and how section -->
    <section class="why-mhairi when-how">
        <div class="why-mhairi-content when-how-content">
            <div class="home-about-img">
                <img src="/static/img/Mhairi_pics/walking-away-looking-away.jpg" alt="mhairi-life-coach-yellow-coat">
            </div>
            <div class="home-about-text">
                <div class="when-how-item">
                    <div class="home-about-subtitle pink-text">Psst..</div>
                    <p class="normal-text">
                        Can’t make a live session?  No worries. All sessions will be recorded and emailed out the following day so you can dip in and out as you need to. 
                    </p>
                    <p class="normal-text">
                        We will also have a (entirely optional) members-only social media group so we can stay connected as we go. 
                    </p>
                    <p class="normal-text">
                        My intention is to be present as your guide as you put in the work but to also allow you to live your life as well.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END: when, how long and how section -->

    <hr class="half-width-hr d-md-none">

    <!-- added value section -->
    <section class="known-for added-value">
        <div class="known-for-title">
            <h1 class="sect-title">
                The Added value
            </h1>
        </div>
        <div class="known-for-content">
            <div class="known-for-item">
                <i class="fas fa-praying-hands"></i>
                <p class="known-for-text normal-text">A beautiful sound healing experience</p>
            </div>
            <div class="known-for-item">
                <i class="fab fa-whatsapp-square"></i>
                <p class="known-for-text normal-text">Direct access to me via the social media group and bi monthly Q&A</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-book"></i>
                <p class="known-for-text normal-text">Tools and worksheets through the course to bolster your transformative journey</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-spa"></i>
                <p class="known-for-text normal-text">An exclusive guest workshop from an incredible body and mindset coach.</p>
            </div>
            <div class="known-for-item">
                <i class="fas fa-users"></i>
                <p class="known-for-text normal-text">An entirely optional members-only social media group.  This is to provide a space to share, connect, learn, discuss or simply observe.</p>
            </div>
        </div>
    </section>

    <!-- END: added value section -->

    <!-- payments options -->
    <section id="paymentSection" class="payment-options">
        <h2 class="sect-title how-title">
            The Payment Options
        </h2>
        <div class="simple-section-text">
            <p class="normal-text">
                The program costs £255. You can choose from several direct debit payment options to best suit you.  The first payment will be taken soon after signing up and the same day each month thereafter until the total is paid. 
            </p>
            <p class="normal-text">
                Payments are processed with <a href="https://gocardless.com/" target="_blank">GoCardless</a>. Selecting an option below will take you to the GoCardless registration page where you will complete a registration form.
            </p>
        </div>
        <div class="payment-options-content">
            <div class="payment-options-item">
                <h3 class="sect-subtitle fw-b">Payment plans</h3>
                <div class="payment-figure">
                    <div class="payment-figure-content bg-blue fw-b">
                        <p class="sect-subtitle being-enough-price m-0">£255</p>
                        <p class="normal-text m-0">Payment options below</p>
                    </div>
                </div>
                <form class="form">
                    <div class="inputGroup">
                        <input id="radio1" name="radio" type="radio"/>
                        <label id="label1" class="normal-text" for="radio1">1 payment of £255</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio2" name="radio" type="radio"/>
                        <label class="normal-text" for="radio2">2 payments of £127.50</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio3" name="radio" type="radio"/>
                        <label class="normal-text" for="radio3">3 payments of £85</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio4" name="radio" type="radio"/>
                        <label class="normal-text" for="radio4">4 payments of £63.75</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio5" name="radio" type="radio"/>
                        <label class="normal-text" for="radio5">5 payments of £51</label>
                    </div>
                    <div class="inputGroup">
                        <input id="radio5" name="radio" type="radio"/>
                        <label class="normal-text" for="radio5">6 payments of £42.50</label>
                    </div>
                    <a id="beingEnoughBtn" class="btn-dark-pink sign-me-up-btn bg-blue" href="" target="_blank">Book your spot!</a>
                </form>
                <p class="payment-small-text">*Payments by GoCardless. Read the <a href="https://gocardless.com/privacy" target="_blank">GoCardless privacy notice.</a> The Enough Effect Program <a href="/being-enough-terms" target="_blank"> Ts & Cs</a></p>
            </div>    
        </div>
    </section>
    <!-- END: payment options -->

